<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>올림픽공원</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/eng_layout.css">
    <link rel="stylesheet" href="../../resources/css/eng_main.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script  src="../../resources/jquery/slick.min.js"></script>
    <script  src="../../resources/js/func.min.js"></script>
    <script  src="../../resources/js/common.js"></script>
    <script  src="../../resources/js/eng_main.js"></script>
</head>

<body>
    <div id="skipNav">
        <a href="#content">본문으로 바로가기</a>
        <a href="#gnb">주메뉴 바로가기</a>
        <a href="#quick">주메뉴 바로가기</a>
    </div>
    <div id="wrap">

        <header class="header">                          

            <div class="gnb_area">
                <div class="container">
                    <h1 class="logo">
                        <a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
                    </h1>
                    <div class="gnb_wrap">
                        <nav class="nav" id="gnb">                        
                            <h2 class="pop_title">사이트맵</h2> 
                            <span class="pop_eng_title" lang="en">Site map</span>                       
                            <ul id="head_menu" class="topmenu">
                                <li class="depth1">
                                    <a href="s1_01.html"><span>Olympic Park Overview</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">Olympic Park Overview</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s1_01.html">스포츠교실</a>
                                                <ul class="depth3">
                                                    <li><a href="s1_01.html">올림픽스포츠센터</a></li>
                                                    <li><a href="s1_01_02.html">올림픽수영장</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s1_02.html">산책/조깅코스</a> </li>
                                            <li><a href="s1_03.html">생활건강시설</a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s2_01.html"><span>Top 9 Highlights</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">Top 9 Highlights</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s2_01.html">조이올팍 공연/행사안내</a>
                                                <ul class="depth3">
                                                    <li><a href="s2_01.html">일정안내</a></li>
                                                    <li><a href="s2_02.html">예매안내</a></li>
                                                    <li><a href="s2_03.html">공연장안내</a></li>
                                                    <li><a href="s2_04.html">좌석배치안내</a></li>
                                                    <li><a href="s2_05.html">시설대관</a></li>
                                                    <li><a href="s2_06.html">공연포스터 전시관</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s2_02.html">올림픽홀 평생교육원</a>
                                                
                                            </li>
                                            <li><a href="s2_01.html">문화/예술시설</a>
                                                <ul class="depth3">
                                                    <li><a href="s2_01.html">서울올림픽기념관</a></li>
                                                    <li><a href="s2_02.html">소마미술관</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s2_01.html">조각작품갤러리</a>
                                                <ul class="depth3">
                                                    <li><a href="s2_01.html">조각공원 안내</a></li>
                                                    <li><a href="s2_02.html" target="_blank">조각작품 맵</a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s3_01.html"><span>Culture & Arts</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">Culture & Arts</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">                                    
                                            <li><a href="s3_01.html">생태공원소개</a>
                                            
                                            </li>
                                            <li><a href="s3_02.html">잔디시설안내</a> </li>
                                            <li><a href="s3_03.html">장미광장</a>
                                                <ul class="depth3">
                                                    <li><a href="s3_03.html">장미광장소개</a></li>
                                                    <li><a href="s3_03_02.html">장미광장현황</a></li>
                                                    <li><a href="s3_03_03.html">장미관람안내</a></li>
                                                    <li><a href="s3_03_04.html">둘러보기</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s3_04.html">생태공원 갤러리</a> </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s4_01.html"><span>Leisure & Sports</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">Leisure & Sports</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">   
                                            <li><a href="s4_01.html">올팍조성과 운영</a>
                                                <ul class="depth3">
                                                    <li><a href="s4_01.html">공원조성배경</a></li>
                                                    <li><a href="s4_01_02.html">비전과 미래</a></li>
                                                    <li><a href="s4_01_03.html">평화의성지 올팍</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s4_02.html">몽촌역사이야기</a></li>
                                            <li><a href="s4_03.html">주변유적지안내</a>
                                                <ul class="depth3">
                                                    <li><a href="s4_03.html">한성백제박물관</a></li>
                                                    <li><a href="s4_03_02.html">몽촌역사관</a></li>
                                                    
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s5_01.html"><span>Mongchon History</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">Mongchon History</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s5_01.html">공원이용정보</a></li>
                                            <li><a href="s5_02.html">PI소개</a>
                                                <ul class="depth3">
                                                    <li><a href="s5_02.html">PI소개</a></li>
                                                    <li><a href="s5_02_02.html">마스코트</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s5_03.html">공원안내도</a> </li>
                                            <li><a href="s5_04.html">공원사이버투어</a> </li>
                                            <li><a href="s5_05.html">놀이시설</a> 
                                                <ul class="depth3">
                                                    <li><a href="s5_05.html">호돌이열차</a></li>
                                                    <li><a href="s5_05_02.html">자전거대여</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s5_06.html">체육시설</a> </li>
                                            <li><a href="s5_07.html">편의시설</a>
                                                <ul class="depth3">
                                                    <li><a href="s5_07.html">공원이용시설</a></li>
                                                    <li><a href="s5_07_02.html">공원편의시설</a></li>
                                                    <li><a href="s5_07_03.html">유실물센터</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s5_08.html">올림픽공원9경</a>
                                                <ul class="depth3">
                                                    <li><a href="s5_08.html">올림픽공원9경</a></li>
                                                    <li><a href="s5_08_02.html">9경 스탬프투어</a></li>
                                                    <li><a href="s5_08_03.html">사랑나무 연리목</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s5_09.html">교통 및 주차안내</a> </li>
                                        </ul>
                                    </div>
                                </li>                                       
                                                     
                            </ul>
                            <button type="button" class="pop_close"><i class="xi-close"></i><span class="sr-only">전체메뉴 레이어 닫기</span></button>
                        </nav>
                    </div>
                    <div class="btn_wrap">
                       
						<a href="../kor/index.html" class="btn_lang">
                           <span>Korean</span>
                        </a>
                        <button type="button" class="btn_allmenu"><span class="sr-only">전체메뉴보기</span><i
                            class="icon" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- //container -->
            </div>
            <!-- //gnb_area -->            
        </header>

        <main class="main">            
            <div id="content">
                <div id="visual_section" class="section visual_section">   
                    <h2 class="sr-only">visual_section</h2>
					
					<div class="list">
						<div class="item visual1">							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>					
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual2">							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>						
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual3">							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>						
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual4">							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>					
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual5">
							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>						
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual6">
							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>						
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual7">
							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>							
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual8">
							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>					
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->
						<div class="item visual9">
							
							<div class="object">								
								<div class="txt">
									<small>Top 9 Highlights</small>
									<strong class="eng">One Tree Hill</strong>
									<p>Arbor Vitae Preferred as a background set for<br>
										commercial filming and referred to as ‘One Tree’</p>
									<div class="btn_wrap">
										<a href="" class="btn more"><span>Top 9 Highlights view more</span></a>
										<a href="" class="btn more"><span>OI-Park Stamp Tour</span></a>
									</div>					
								</div>
							</div><!-- //object -->							
						</div><!-- //item -->					
					</div>
					<!-- //list -->
					
						<div class="list_nav thumb_list">						
							<div>
								<a href="#">
									<img src="../../resources/img/eng_main/olpark_thumb_01.jpg" alt="">
									<strong class="number">TOP 1</strong>
								</a>
							</div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_02.jpg" alt=""><strong class="number">TOP 2</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_03.jpg" alt=""><strong class="number">TOP 3</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_04.jpg" alt=""><strong class="number">TOP 4</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_05.jpg" alt=""><strong class="number">TOP 5</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_06.jpg" alt=""><strong class="number">TOP 6</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_07.jpg" alt=""><strong class="number">TOP 7</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_08.jpg" alt=""><strong class="number">TOP 8</strong></a></div>
							<div><a href="#"><img src="../../resources/img/eng_main/olpark_thumb_09.jpg" alt=""><strong class="number">TOP 9</strong></a></div>
						</div>
					
					<!-- //list_nav -->
					
                </div>
                <!-- //visual_section -->
				
                <div class="contents_section">
					
					<section class="section section01">						
						<div class="container">
                            <div class="title">
                                <h2>Olympic Park Tour</h2>
                                <p>An invitation to the world of culture & arts in the Olympic Park</p>
                                <a href="" class="more"><strong>view more</strong><i class="xi-angle-right-min"></i></a>
                            </div>
                            <div class="cont play">
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_01.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>                            
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_02.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_03.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_04.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_05.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_03.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                            </div>
                            <!-- //cont -->
                        </div>
                        <!-- //container -->
					</section>
					<!-- //section01 -->
                    <section class="section section02 quick_service">
                        <div class="container">
							<div class="img">
								<img src="../../resources/img/eng_main/quick_service.png" alt="">
							</div>
							<div class="txt">
								<h2>Quick Service</h2>
								<p>Enjoy the Olympic Park with all its various amenities.</p>
								<ul class="list">
									<li><a href=""><i class="xi-maker"></i><span>Map</span></a></li>
									<li><a href=""><i class="xi-paper"></i><span>General Info</span></a></li>
									<li><a href=""><i class="xi-music"></i><span>Culture Info</span></a></li>
									<li><a href=""><i class="xi-restaurant"></i><span>Amenities</span></a></li>
									<li><a href=""><i class="xi-subway"></i><span>Transport</span></a></li>
									<li><a href=""><i class="xi-park"></i><span>Parking</span></a></li>
								</ul>
							</div>						
                                                  
                        </div><!-- //container -->
                    </section>

                    <!--
					<div class="etc_site">
						<div class="container">
							<div class="list">
								<a href="">안전신문고</a>
								<a href="">OPEN 공공누리</a>
								<a href="">플라스틱 다이어트, 함께해요</a>
								<a href="">보조금24 전국개통 관련 안내</a>
								<a href="">코로나19 국민 방역수칙 홍보 영상</a>
								<a href="">창업기업제품</a>
							</div>
							<div class="control">
								<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
								<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
							</div>
						</div>
					</div>
					 //etc_site -->
                </div>
                <!-- //content_section -->
                <button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
            </div>
            <!-- //content -->            
        </main>
        <footer class="footer">
            <div class="container">
               
                <div class="footer_cont">                    
                    <div class="cont_left">
                        <div class="footer_logo">
                            <a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
                        </div> 
                        <div class="address_group">
                            <address>
                                424, Olympic-ro, Songpa-gu, Seoul, 05540, Rep of KOREA<br>
                               <strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
                               <strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
                            </address>                            
                            <nav class="sns_list">
                                <a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
                                <a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
                                <a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
                                <a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
                                <a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
                            </nav>
                            <span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
                        </div>
                    </div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="Family Site list open">Family Site<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->						
					</div>
					<!-- //cont_right -->

                </div>
                <!-- //footer_cont -->
                
            </div>
            <!-- //container -->
        </footer>
    </div>

</body>

</html>