<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
                    <h3 class="title_h1">호돌이열차</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림픽공원의 명물 호돌이열차를 운행하고 있습니다.</p>
							<p class="sub_txt">올림픽공원의 명물인 호돌이열차를 타시면, 공원 내부를 순환하면서 여러 시설물 및 미술품 등을 감상하실 수 있습니다.</p>
						</div>
						<div class="btn_wrap">
							<a href="https://www.ksponco.or.kr/online/train/index.do" target="_blank" title="새창 열림" class="btn_site">
								<span>호돌이열차 예약</span>
								<i class="xi-external-link"></i>
							</a>
						</div>
                    </div>	
                    <div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림픽공원의 참모습, 다섯개의 산책길과 조깅코스</p>
							<p class="sub_txt">몽촌토성을 중심으로 43만평의 올림픽공원에는 호반의 길, 토성의 길, 추억의 길, 연인의 길 그리고 젊음의 길로
								산책 및 조깅 코스로 구성되어 각 코스마다 올림픽공원의 참모습을 즐길 수 있습니다.</p>
						</div>						
					</div>
                    
					<h4 class="title_h3">title_h3 운영요일 및 시간
						<small class="icon_note">매주 월요일 정기휴무(차량점검)</small>
                    </h4>
                    
                    <div class="box">
						<p class="icon_note point">12월~2월(동절기) : 평화의광장 자전거대여소만 운영(토, 일요일 10시 ~ 17시)</p>
						<p class="icon_note">기상상황(우천, 미세먼지)에 따라 유동적으로 운영됩니다.</p>
						<p class="icon_note">자전거 보관소에서는 개인물품을 보관하지 않습니다.</p>
						<p class="icon_note point2">2인승, 3인승, 6인승 자전거는 반드시 성인이 운전을 해야하고 미성년자에게는 대여하지 않으며 운전 또한 금합니다.</p>
						</ul>
                    </div>
                    
                    <p class="s_tit">s_tit 자전거 보관소에서는 개인물품을 보관하지 않습니다.</p>
                    <p class="s_text">s_text 자전거 보관소에서는 개인물품을 보관하지 않습니다.</p>
                    
                    <div class="table responsive">
						<table>
							<caption>Usage fee(Additional charge) - Division, number of passengers, Hours of use, Weekdays(Tuesday-Friday), Weekends and holidays, Note</caption>
							<colgroup>
								<col>
								<col span="5" style="width:17%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">Division</th>
									<th scope="col">number of passengers</th>
									<th scope="col">Hours of use</th>
									<th scope="col">Weekdays(Tuesday-Friday)</th>
									<th scope="col">Weekends and holidays</th>
									<th scope="col">Note</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="4">4 wheel bike</td>
									<td rowspan="2">3 seater</td>
									<td>10 to 20 minutes</td>
									<td>3,000 won</td>
									<td>6,000 won</td>
									<td rowspan="6"></td>
								</tr>
								<tr>
									<td>20 minutes~30 minutes</td>
									<td>6,000 won</td>
									<td>12,000 won</td>
								</tr>
								<tr>
									<td rowspan="2">6 seater</td>
									<td>10 to 20 minutes</td>
									<td>6,000 won</td>
									<td>12,000 won</td>
								</tr>
								<tr>
									<td>20 to 30 minutes</td>
									<td>9,000 won</td>
									<td>18,000 won</td>
								</tr>
								<tr>
									<td rowspan="2">2 wheel bike</td>
									<td rowspan="2">2 seater</td>
									<td>10 to 20 minutes </td>
									<td>1,000 won</td>
									<td>2,000 won</td>
								</tr>
								<tr>
									<td>20 to 30 minutes</td>
									<td>2,000 won</td>
									<td>4,000 won</td>
								</tr>
							</tbody>
						</table>
                    </div>
                    
                    <div class="table ">
                        <table>
                            <caption>Hodori train timetable - Classification (number of times), Weekdays(Tuesday to Friday)</caption>
                            <colgroup>
                                <col style="width:40%">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                <th scope="col">Classification<br>
                                    (number of times)</th>
                                <th scope="col">Weekdays<br>
                                    (Tuesday to Friday)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1</td>
                                <td>09:30</td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td>10:00</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td>10:30</td>
                                </tr>
                                <tr>
                                <td>4</td>
                                <td>11:00</td>
                                </tr>
                                <tr>
                                <td>5</td>
                                <td>11:30</td>
                                </tr>
                                <tr>
                                <td>6</td>
                                <td>13:30</td>
                                </tr>
                                <tr>
                                <td>7</td>
                                <td>14:30</td>
                                </tr>
                                <tr>
                                <td>8</td>
                                <td>15:30</td>
                                </tr>
                                <tr>
                                <td>9</td>
                                <td>16:30</td>
                                </tr>
                                <tr>
                                <td>10</td>
                                <td>17:30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table left">
						<table>
							<caption>Olympic Park Information</caption>
							<colgroup>
								<col class="w20">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">Facilities</th>
									<th scope="col">Note
                                    </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Location</th>
									<td>424, Olympic-ro, Songpa-gu, Seoul</td>
								</tr>
								<tr>
									<th scope="row">Opening Season</th>
									<td>Year-round</td>
								</tr>
								<tr>
									<th scope="row">Park Entrance Hours</th>
									<td>
										<p>Walking/Bicycle : 05:00 ~ 22:00 (~24:00 for Squares)<br>
                                            Car : 06:00 ~ 22:00</p>
										<p class="icon_note">For safety reasons, any entrance to all park property is NOT allowed except Peace Square and Meeting Square after 22:00.</p>
									</td>
								</tr>
								<tr>
									<th scope="row">Admission Fee</th>
									<td>Free</td>
								</tr>
								<tr>
									<th scope="row">Parking Fee</th>
									<td>Parking Info  <a href="" title="새창 열림" target="_blank" class="btn_link ml20"><span>Quick Link</span><i class="xi-angle-right-min"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>