<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

                <!-- ko:s6_05.html -->
				<div id="content" class="content_section">
                    <h3 class="title_h1">Logo & Mascot</h3>
                    <p class="main_txt mb30">PI(Park Identity) means a natural recreational park in a city that exposes its unique identity.</p>
							
                    <div class="major_message">                        
						<div class="txt_wrap">							
                            <p class="sub_txt">The PI symbol at the Olympic Park is derived from the Hangeul consonant ‘ㅇ’ and it is easy for marketing — AISIS that promotes the park stands for attention, interest, search, action, share. It also features geographical features of the park with the logo in Hunminjeongeum (Korean script) and expresses various images of the park with layered GREEN and BLUE color.</p>
						</div>
						<div class="btn_wrap">
							<a href="../../resources/download/olympicpark_pi_symbol.zip" target="_blank" title="Open page in new window" class="btn_site">
								<span>Olympic Park PI Download</span>
								<i class="xi-download"></i>
							</a>
						</div>	
					</div>
					<div class="park_identity">
						<div class="pattern symbol">
							<img src="../../resources/img/sub/s6_05_symbol.png" alt="">
						</div>
						<h4 class="title_h3">Signature</h4>
						<div class="down_wrap">
							<p class="txt">The signature of the Olympic park PI is a reasonable combination of a symbol and logo, and an effective means to promote the Olympic park both at home and abroad. There are vertical and horizontal versions and in Korean, English and both. It requires close supervision to use them correctly without any change. The phrase ‘SEOUL 1988’ that signifies the symbol, logo and the historical identity should be used consistently by the determined proportion.</p>
							<div class="btn_wrap">
								<a href="../../resources/download/olympicpark_pi_signature.zip" target="_blank" title="Open page in new window" class="btn_site">
									<span>Signature Download</span>
									<i class="xi-download"></i>
								</a>
							</div>	
						</div>
						<div class="pattern symbol">
							<img src="../../resources/img/eng_sub/s1_03_symbol.png" alt="">
						</div>
						
						<h4 class="title_h3">Color system</h4>
						<p>Five colors of GREEN and two colors of BLUE are used that best represent the natural aspect of a park.</p>
						<ul class="color_system color_system1">
							<li>
								<dl>
									<dt class="color color1">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color2">
										<i aria-hidden="true"></i>
										<strong>SHS 2050-G20Y</strong>
									<dt>
									<dd><span>C</span><em>60</em><span>M</span><em>0</em><span>Y</span><em>80</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>109</em><span>G</span><em>192</em><span>B</span><em>103</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color3">
										<i aria-hidden="true"></i>
										<strong>SHS 3040-G20Y</strong>
									<dt>
									<dd><span>C</span><em>70</em><span>M</span><em>0</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>80</em><span>G</span><em>184</em><span>B</span><em>72</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color4">
										<i aria-hidden="true"></i>
										<strong>SHS 3060-G10Y</strong>
									<dt>
									<dd><span>C</span><em>80</em><span>M</span><em>0</em><span>Y</span><em>900</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>0</em><span>G</span><em>178</em><span>B</span><em>89</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color5">
										<i aria-hidden="true"></i>
										<strong>SHS 5040-G20Y</strong>
									<dt>
									<dd><span>C</span><em>80</em><span>M</span><em>30</em><span>Y</span><em>70</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>51</em><span>G</span><em>124</em><span>B</span><em>97</em></dd>
								</dl>
							</li>						
							<li>
								<dl>
									<dt class="color color6">
										<i aria-hidden="true"></i>
										<strong>SHS 1030-B</strong>
									<dt>
									<dd><span>C</span><em>55</em><span>M</span><em>0</em><span>Y</span><em>10</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>99</em><span>G</span><em>20</em><span>B</span><em>225</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color7">
										<i aria-hidden="true"></i>
										<strong>SHS 1040-B</strong>
									<dt>
									<dd><span>C</span><em>65</em><span>M</span><em>0</em><span>Y</span><em>10</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>52</em><span>G</span><em>195</em><span>B</span><em>224</em></dd>
								</dl>
							</li>							
						</ul>
						<h4 class="title_h3">Olympic Park Mascot Character</h4>
                        <p>OP, a mascot of the Olympic Park, plays a role as a bridge between the park and citizens and gives images of warmth and kindness of the Olympic Park.</p>
                        
                        <div class="character">
                            <div class="group group1">
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch01.png" alt=""></div>
                                    <p>Prototype</p>
                                </div>
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch02.png" alt=""></div>
                                    <p>Color-variations</p>
                                </div>
                            </div>
                            <div class="group group2">
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch03.png" alt=""></div>
                                    <p>Hello</p>
                                </div>
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch04.png" alt=""></div>
                                    <p>Welcome</p>
                                </div>
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch05.png" alt=""></div>
                                    <p>See you again</p>
                                </div>
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch06.png" alt=""></div>
                                    <p>Keep it clean</p>
                                </div>
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch07.png" alt=""></div>
                                    <p>Keep off the grass</p>
                                </div>
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch08.png" alt=""></div>
                                    <p>Danger</p>
                                </div>
                            </div>
                            <div class="group group3">
                                <div class="item">
                                    <div class="img_box"><img src="../../resources/img/eng_sub/s1_03_ch09.png" alt=""></div>
                                    <p>Variation with bay leaves</p>
                                </div>
                            </div>
                        </div>
						
					</div>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>