<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

                <!-- ko:s5_01_03.html -->
				<div id="content" class="content_section">
					<h3 class="title_h1">Holy Land of Peace</h3>


					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">Inheriting and developing the spirit of the 1988 Seoul Olympics</p>
							<p class="sub_txt">The Olympic Park is a venue of civic sports, culture and leisure where the 1988 Seoul Olympics continues breathing.<br>The Olympic Park, operated and managed by KSPO (Korea Sports Promotion Foundation), is a multi complex for sports, culture and leisure in the spirit of 1988 Seoul Olympic Games.</p>
						</div>	
					</div>
					<figure class="pic mb50">
						<img src="../../resources/img/eng_sub/s1_04_pic01.jpg" alt="">
						<img src="../../resources/img/eng_sub/s1_04_pic02.jpg" alt="">
                    </figure>

                    <div class="peace_wrap">
                        <div class="group">
                            <h4 class="title_h3">World Peace Gate</h4>
                            <p>
                                The 'World Peace Gate' which is constructed at the peace Square within the Olympic Park located in Bangi-dong, Songpa-gu, Seoul, is a steel-reinforced concrete structure on a site of 33,600㎡ (Width 80m, Length approx. 420m).With a maximum height of 24m, width (front & rear) 37m, and surface length 62m (front width of the wing), it possesses a beautiful and solemn external appearance. The total area of the symbolic monument is 927㎡ consisting of 248㎡ basement level 1 and the 289㎡ deck level.<br><br>

                                The 'World Peace Gate' which attempted a natural harmony between traditional and modern architecture while making maximum portrayal of the gate concept, utilized the round curves of Korea's traditional architecture emphasizing the images of rapid progress and ascent.<br><br>

                                On the lower part of the wing on the ceiling section of the monument, an artist of western painting, Geum-Nam Baek (Professor in Sungkyunkwan University) painted the 4 gods, the blue dragon, red bird, white tiger, and the turtle snake in a single layer on both the 1,531m2 sides using the traditional Korean painting form with many colors as the dominant style.<br><br>

                                At both sides of the World Peace Gate, 30 line pillar masks (made by sculptor Seung-Taek Lee) are welcoming the people. The masks made of bronze have a diameter of 60cm and a height of 85cm, and the line pillars made of stone have a diameter of 60cm and a height of 3m.
                            </p>
                            <img src="../../resources/img/eng_sub/s1_04_pic03.jpg" alt="">
                        </div>
                        <div class="group">
                            <h4 class="title_h3">Peace Square</h4>
                            <p>
                                In front of the World Peace Gate the 28,000㎡ 'Peace Square' spreads wide open, and the granite square borrowed designs from the hunting mural paintings recovered from a tumulus of the Goguryeo Dynasty. In the nearby surroundings of the square are the World Peace Gate, record monuments, monuments, a lake, and amenities and it is the central section of the park being diversely utilized for onsite education, social sports, and an area of culture & art for youths and citizens.
                            </p>
                            <img src="../../resources/img/eng_sub/s1_04_pic04.jpg" alt="">
                        </div>
                        <div class="group">
                            <h4 class="title_h3">Declaration of Seoul Peace</h4>
                            <p>
                                Everyone desires to overcome the difference in ideology, race & religion, and escape from the threat of war and violence in order to live peacefully. This is because it is the way for people to truly enjoy their right to happiness, the common desire of mankind. As a result, in order for the 24th Summer Olympic Games in Seoul to be a festival of world peace in name and reality, the period from September 17 to October 2, 1988 should be a period of peace, free from weapons, hatred, violence and terror. This should be the opportunity for world peace to be rooted eternally, and this is the duty of all the people living in the world to human history.<br><br>

                                Hence, the Declaration of Seoul Peace is adopted on September 12, 1988 at the Seoul Olympics based on the ideology in the Letter of Appeal for Peace already signed by each and every one of us.
                            </p>
                            <img src="../../resources/img/eng_sub/s1_04_pic05.jpg" alt="">
                        </div>
                        <div class="group">
                            <h4 class="title_h3">Stones of the World</h4>
                            <p>
                                Receiving a proposal from the IOC to construct a symbolic Olympic sculpture in January 1988, the organizing committee reached an agreement, and in February of the same year the organizing committee designated Prof. Choi, Ma-lin, and the IOC designated Subirachs, Josheph Maria from Spain as the artists for this task. In October of the same year both parties contributed $250,000 each, and at the square rear to the World Peace Gate the main body with dimensions 6.5m in height, 3.2m in width, and the 5 spheres with dimensions 2.5m in height & 2.4m in width were formed with the nations that donated 'the stones of the world' engraved and commemorated. On August 1989, the stone plate engraved with the construction purpose was installed, and on September 17 an unveiling ceremony commemorating the 1st anniversary of the Seoul Olympics was held.<br>
                                The base of the sculpture was formed in a mosaic with about 4,000 natural stones of the world donated by the IOC, each NOC, and the athletes, and the will of the contributors was sublimated as a work of art.
                            </p>
                            <img src="../../resources/img/eng_sub/s1_04_pic06.jpg" alt="">
                        </div>
                        <div class="group">
                            <h4 class="title_h3">Olympic Center</h4>
                            <p class="mb20">
                                As the main headquarters of the organizing committees that conducted the preparations & operations for both the 10th Asian Games and the 24th Seoul Olympic Games, this is the place containing the perspirations and efforts of the event operation officials.
                            </p>
                            <ul class="list_dash">
                                <li>Total Floor Area: 17,305㎡ (2 floors below ground, 15 floors above ground)</li>
                                <li>Construction Period: August 1984 ~ May 1986</li>
                                <li>Features: The lower part of this building presents the traditional beauty of Korean houses while the upper part has a modern touch over it.</li>
                                <li>Construction Cost: 10.8 billion Won (donated by Seoul Olympic Games Korean-Japanese Sponsorship Association)
                                </li>
                            </ul>
                            <img src="../../resources/img/eng_sub/s1_04_pic07.jpg" alt="">
                        </div>
                        <div class="group">
                            <h4 class="title_h3">Wall of Glory</h4>
                            <p>
                                In order to decide on the scope of details to be recorded on the monument, the organizing committee formed a record compilation sub-committee and a deliberation sub-committee holding the 1st meeting in February 1988, and in March a joint compilation & deliberation meeting was held to discuss issues relating to Olympic bidding, results outline, record materials etc. along with this the artistic results and the writings themselves were also discussed in detail and confirmed.<br><br>

                                On August 15, 1989 the inscription works were completed, and the entire construction was finalized on August 30. The records were allocated in a balanced fashion from the left to right of the stone wall and they include the dedication poem 'Oh My Great Nation' by the poet Byeong-Hwa Jo, factual records of the Olympics bid, event operation, circumstances, significance etc., as well as contributors, donating individuals and organization. In March 1988 the organizing committee entered the wall painting agreement with Ante Glibota, an International Working Committee member for the World Contemporary Art Festival, and in September of the same year the wall paintings by the French artist, jean Messagier, and the American artist, Elizabeth Frazheim, were installed in 2 places left & right of the Water Stage. This wall painting, which used iron and enamel, has dimensions 67.5m in width and 2.2m in height.
                            </p>
                            <img src="../../resources/img/eng_sub/s1_04_pic08.jpg" alt="">
                        </div>                        
                    </div>
					
					<!-- //콘텐츠 끝 -->
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>