<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

                <!-- ko:s1_07_02.html -->
				<div id="content" class="content_section">
					<h3 class="title_h1">Top 9 Stamp Tour</h3>
					
					<figure>
						<img src="../../resources/img/eng_sub/s2_02_map.jpg" alt="" class="map9">	
					</figure>

					<h4 class="title_h3">Stamp Tour Guide</h4>
					<ol class="stamp_step">
						<li>
							<em lang="en">Step 1</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon1.png" alt=""></i>
							<strong>Info Center</strong>
							<span>Peace Squre, Meeting Squre</span>
						</li>
						<li>
							<em lang="en">Step 2</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon2.png" alt=""></i>
							<strong>Get your tour <br>Map at the starting spot</strong>
						</li>
						<li>
							<em lang="en">Step 3</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon3.png" alt=""></i>
							<strong>Collect stamps <br>on each spot</strong>
						</li>
						<li>
							<em lang="en">Step 4</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon4.png" alt=""></i>
							<strong>Complete <br>all 9 stamps</strong>
						</li>
						<li>
							<em lang="en">Step 5</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon5.png" alt=""></i>
							<strong>Go back to the <br>Closest info center</strong>
							<span>Peace Squre, Meeting Squre</span>
						</li>
						<li>
							<em lang="en">Step 6</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon6.png" alt=""></i>
							<strong>Receive your <br>completion gift</strong>
						</li>
					</ol>
					<p class="p_dot mt30">Collect stamps</p>
					<div class="box stamp_info">
						<ul class="list_dash">
							<li class="mb10">Leaflets for Olympic Park Stamp Tour or OlympicPark Mobile App available </li>
							<li class="">Install the OlympicPark Mobile App 
                                <a href="" class="btn_link ml10">
                                    <span>Android</span>
                                    <i class="xi-angle-right-min"></i>
                                </a>
                                <a href="" class="btn_link">
                                    <span>IOS</span>
                                    <i class="xi-angle-right-min"></i>
                                </a>
                            </li>
						</ul>
						
					</div>

					<h4 class="title_h3">Tour Routes</h4>
					<div class="table">
						<table>
							<caption>Tour Routes - Starting Point, Routes</caption>
							<colgroup>
								<col style="width:30%">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">Starting Point</th>
									<th scope="col">Routes</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" class="none">Peace Square Info Center</th>
									<td class="align_left">
										<div class="text">
											<span class="p_dot">Top 1 → Top 9</span><br>
											<p class="s_text">world Peace Gate(Top 1) → Mongchon Moat Musical Fountain(Top 3) → Dialogue(Top 4) → Walking Paths(Top 5) → One Tree Hill(Top 6) → 88 Lake(Top 7) → Wild Flower Garden(Top 8) → Rose Plaza(Top 9) → The Thumb(Top 2)</p>
										</div>										
									</td>
								</tr>
								<tr>
									<th scope="row" class="none">Meeting Square Info Center</th>
									<td class="align_left">
										<div class="text">
											<span class="p_dot">Top 9 → Top 1</span><br>
											<p class="s_text">The Thumb(Top 2) → Rose Plaza(Top 9) → Wild Flower Garden(Top 8) → 88 Lake(Top 7) → One Tree Hill(Top 6) → Walking Paths(Top 5) → Dialogue(Top 4) → Mongchon Moat Musical Fountain(Top 3) → World Peace Gate(Top 1)</p>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2" class="align_left">
										<p class="icon_note">Top1 to Top 6, Sculpture Park course is also available (1.9km / estimated 40 min) <br>
										<span class="pd_l20">- World Peace Gate → Mongchon Moat Musical Fountain → Dialogue → Wild Flower Garden → Rose Plaza → The Thumb</span>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">Stamp Tour Map-equipped Places</h4>
					<div class="thumb_box">
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/eng_sub/s2_02_pic01.jpg" alt="">
							</p>
							<strong class="title">Peace Square Information Center</strong>
						</div>
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/eng_sub/s2_02_pic02.jpg" alt="">
							</p>
							<strong class="title">Meeting Square Information Center</strong>
						</div>
					</div>
					<h4 class="title_h3">Main Route</h4>					
					<p class="p_dot">Minimum walking route from Top 1 (estimated 2 hour / 3.8km)</p>
					<div class="table">
						<table>
							<caption>Main Route- Top Spots, Walking Route </caption>
							<colgroup>
								<col style="width:25%">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">Top Spots</th>
									<th scope="col">Walking Route</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" class="none2">Top 1 (World Peace Gate)</th>
									<td class="align_left">
										<p class="list_style11">Start at the front of the World Peace Gate</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 3 (Mongchon Musical Fountain)</th>
									<td class="align_left">
										<p class="list_style11">Passing SOMA Museum, follow the ‘Photo Spot’ signpost</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 4 (Dialogue)</th>
									<td class="align_left">
										<p class="list_style11">Go straight passing Mongchon Moat Fountain Mill Wheel and Seoul Olympic Museum of Art, the sculpture is on your left-hand side</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 5 (Walking Paths)</th>
									<td class="align_left">
										<p class="list_style11">Follow the ‘Mongchon Fortress’ signpost and ascend the wooden stairs. Go straight for approx. 50m to the left and find the info post before going down the stairs.</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 6 (One Tree Hill)</th>
									<td class="align_left">
										<p class="list_style11">Follow the trail to the end, turn right to the toilets and turn left towards the grass which leads you to One Tree Hill</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 7 (88 Lake)</th>
									<td class="align_left">
										<p class="list_style11">From the entrance of 88 Lake, follow the first path on the right and find the info post in front of the trash bins</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 8 (Wild Flower Garden)</th>
									<td class="align_left">
										<p class="list_style11">Pass the gate 2-3 of the KSPO DOME(Olympic Gymnastics Arena), SK Handball stadium(Fencing stadium) and Woori Art Hall and go over the Baekho Bridge. Find the info post next to wooden stairs in front of the Convention Center</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 9 (Rose Plaza)</th>
									<td class="align_left">
										<p class="list_style11">Find the info post in front of the security guard place</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">Top 2 (The Thumb)</th>
									<td class="align_left">
										<p class="list_style11">In front of the information center in a meeting plaza.</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4 class="title_h3">Opening Hours</h4>					
					<div class="box">
						<ul class="list_dot">
							<li>Information Center [09:00 ~ 19:00, break time 12:00~13:00]</li>
							<li>Completion gifts are available within the opening hours of the info centers</li>
                            <li>Peace Square Information Center (02-2180-3564~5)</li>
                            <li>Meeting Square Information Center (02-2180-3566)</li>
						</ul>
					</div>
					<h4 class="title_h3">Spot Posts</h4>					
					<div class="thumb_box">
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/eng_sub/s2_02_pic03.jpg" alt="">
							</p>							
						</div>
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/eng_sub/s2_02_pic04.jpg" alt="">
							</p>
						</div>
					</div>
					<h4 class="title_h3">Leaflets for Olympic Park Stamp Tour
						<small class="icon_note">Click the image for a larger view.</small>
					</h4>					
					<div class="thumb_box">
						<div class="item">
							<p class="thumb">
								<a href="../../resources/img/sub/9view_stamp_leaflet1.jpg" target="_blank" title="새창열림">
									<img src="../../resources/img/sub/s1_07_02_leaflet1.jpg" alt="">
								</a>
							</p>							
						</div>
						<div class="item">
							<p class="thumb">
								<a href="../../resources/img/sub/9view_stamp_leaflet1.jpg" target="_blank" title="새창열림">
									<img src="../../resources/img/sub/s1_07_02_leaflet2.jpg" alt="">
								</a>
							</p>
						</div>
					</div>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>