<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

                <!-- ko:s1_07.html -->
				<div id="content" class="content_section">
                    <h3 class="title_h1">Top 9 Gallery</h3>
                    
                    <div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">The most beautiful spots of the Olympic Park, TOP 9 Highlights</p>
							<p class="sub_txt">The relaxing hideaway from urban life, the Olympic Park offers the Top 9 attractive spots recommended by The Photo Artist Society of Korea.<br>
                                Create your own picturesque memory with your family and friends through Top 9 Attractions.</p>
						</div>
					</div>
					
					<div class="nine_view tab_wrap">
						
						<div id="view1" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view1_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 1<span>World Peace Gate</span></strong>
									<em>By Choongup Kim (62.0×37.0×24.0m)</em>
									<p>The representative structure of the 1988 Seoul Olympics symbolizes the world peace.</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view2" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view2_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 2<span>The Thumb</span></strong>
									<em>By César Baldiccini (France) (Bronze, 3.6x2.7x6.0m) </em>
									<p>An ode to the human thumb magnified in extreme size</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view3" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view3_pic01.jpg" alt="">	
								<figcaption>
                                    <strong>Top 3<span>Mongchon Moat Musical Fountain</span></strong>
                                    <em>The musical fountain sprouts water to a maximum height of 30 meters and changes its image</em>
									<p> more than 14,000 times over 140 different songs</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view4" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view4_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 4<span>Dialogue</span></strong>
									<em>Mohand Amara (Algeria) (Granite 6.0x1.8x3.3m)</em>
									<p>The sculpture symbolizes the value of dialogue between people</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view5" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view5_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 5<span>Mongchon Fortress Walking Paths</span></strong>
									<em>Walking paths with picturesque view (Approx. 2.3km)</em>
									<p>Consisting of Lake Lane, Fortress Lane, Memory Lane, Lover’s Lane and Youth Lane</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view6" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view6_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 6<span>One Tree Hill</span></strong>
									<em>Species: Arbor Vitae(Approx. 10m in height)</em>
									<p>Preferred as a background set for commercial filming and referred to as ‘One Tree’</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view7" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view7_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 7<span>88 Lake</span></strong>
									<em>Surface area: 12,700㎡ (15,000 tons)</em>
									<p>The artificial lake is surrounded by 13 sculptures and its representative one is called ‘Flapping of Wings’</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view8" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view8_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 8<span>Wild Flower Garden</span></strong>
									<em>A seasonal floral feast awaits you here</em>
									<p>Spring Flower (May-June / Great Scarlet Poppy, etc.) / Autumn Flower (September-October / Yellow Cosmos, etc.)</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
						<!-- //view -->
						<div id="view9" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view9_pic01.jpg" alt="">	
								<figcaption>
									<strong>Top 9<span>Rose Plaza</span></strong>
									<em>Over the field of 13,260㎡, it presents various types of garden roses (273 species / 19,864 clusters)</em>
									<p>- Opening Date: June 2010 (13,260㎡)  - Location: Between Convention Center and Olympic Hall in the park</p>
									<a href="" class="btn_more">Location</a>
								</figcaption>
							</figure>	
						</div>
                        <!-- //view -->
                        
                        <nav class="tabs">
							<button type="button" class="btn_prev"><span class="sr-only">PREV</span><i class="xi-angle-left-min"></i></button>
							<ul>
								<li class="active" data-view="1"><a href="#view1" class="tab_nav"><img src="../../resources/img/sub/s1_07_view1_thumb.jpg" alt=""></a></li>
								<li data-view="2"><a href="#view2" class="tab_nav"><img src="../../resources/img/sub/s1_07_view2_thumb.jpg" alt=""></a></li>
								<li data-view="3"><a href="#view3" class="tab_nav"><img src="../../resources/img/sub/s1_07_view3_thumb.jpg" alt=""></a></li>
								<li data-view="4"><a href="#view4" class="tab_nav"><img src="../../resources/img/sub/s1_07_view4_thumb.jpg" alt=""></a></li>
								<li data-view="5"><a href="#view5" class="tab_nav"><img src="../../resources/img/sub/s1_07_view5_thumb.jpg" alt=""></a></li>
								<li data-view="6"><a href="#view6" class="tab_nav"><img src="../../resources/img/sub/s1_07_view6_thumb.jpg" alt=""></a></li>
								<li data-view="7"><a href="#view7" class="tab_nav"><img src="../../resources/img/sub/s1_07_view7_thumb.jpg" alt=""></a></li>
								<li data-view="8"><a href="#view8" class="tab_nav"><img src="../../resources/img/sub/s1_07_view8_thumb.jpg" alt=""></a></li>
								<li data-view="9"><a href="#view9" class="tab_nav"><img src="../../resources/img/sub/s1_07_view9_thumb.jpg" alt=""></a></li>
							</ul>
							<button type="button" class="btn_next"><span class="sr-only">NEXT</span><i class="xi-angle-right-min"></i></button>
                        </nav>
                        
					</div>
					<!-- //nine_view -->
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>