<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
                    
                    <h3 class="title_h1">Sculpture Park</h3>
                    
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">Commemorative place for the Seoul Olympic Games</p>
							<p class="sub_txt">Feel the glory of the Olympics once again with the marvelous sculptures</p>
                        </div>                        
                    </div>
                    <figure class="pic">
						<img src="../../resources/img/eng_sub/s3_04_pic01.jpg" alt="">
						<img src="../../resources/img/eng_sub/s3_04_pic02.jpg" alt="">
					</figure>
					<p class="s_text">
                        The Olympic Sculpture Park is full of the artworks selected from the first and second International Sculpture Symposium & Festival, which were held as a part of the Seoul Olympics Culture & Arts Events.<br><br>

                        It was the most important to hold and keep displaying the sculptures in the park even after the Olympic Games finished to make the Olympic Park a symbolic and commemorative place. To achieve this goal, various effective ways such as gathering the related opinions from domestic/international experts and researching on famous foreign sculpture parks have been considered, yet it had a few obstacles while organizing as it was the vast project which has hardly ever done.<br><br>

                        However, various supporters including Korean Contemporary Art Festival Committee for International Sculpture Symposium & International Sculpture Invitations put their all efforts, and many international top-notch artists participated in this project. With all the support, the beautiful artistic Olympic Sculpture Park was born and its quality is on the top level around the world.
                    </p>
                    					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>