<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

                <!-- ko:s5_02.html -->
				<div id="content" class="content_section">
					<h3 class="title_h1">History of Mongchon</h3>


					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">Time-travelling to the Baekje Dynasty in the 21st-century Seoul</p>
							<p class="sub_txt">The Olympic Park, operated and managed by KSPO (Korea Sports Promotion Foundation), is a multi complex for sports, culture and leisure in the spirit of 1988 Seoul Olympic Games.</p>	
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/eng_sub/s5_01_pic1.jpg" alt="">
						<img src="../../resources/img/eng_sub/s5_01_pic2.jpg" alt="">
					</figure>
					
					<ul class="thumb_list">
						<li>
							<dl class="info">
								<dt class="tit">Mongchon Fortress</dt>
								<dd class="text multi">
									<p class="mb10">Mongchon Fortress had been remained as a mystery for its meaning except the fact that it was the fortress of Hanseong Baekje Era. Entering 1980’s, since this area was confirmed as a construction site for the 1988 Seoul Olympics, the real purpose of this fortress was required to figure out. To restore the fortress in the shape of a relic park and to gain the historical research materials, Seoul National University Museum conducted 5 rounds of excavation researches from 1983 to 1988. With all the material from the excavations, Mongchon Fortress has been shaped into what it looks like today.<br><br>

                                    The ramparts of Mongchon Fortress were built with clay soil as it was located on the Han River tributary.
                                    Especially, wooden fences were constructed on the northern wall platform and a deep moat was formed around the fortress. The feature of this fortress is that it is positioned to defend against enemies coming from the northern direction.<br><br>
                                    
                                    Along with the houses, dokmudeom (coffins made with large pots), storage pits etc. various relics including Baekje earthenware, weapons, fishing hooks, stone mortars etc. were excavated forming precious research materials for the Baekje era</p>
								</dd>
							</dl>
							<div class="thumb">
								<img src="../../resources/img/sub/s5_02_thumb1.jpg" alt="">
							</div>
						</li>
						<li>
							<dl class="info">
								<dt class="tit">Gommal Bridge</dt>
								<dd class="text multi">
									<p>Originally, this bridge was called Mongchon Bridge, and Mongchon means “Ggum-maeul [Village of Dreams]” in Korean. “Gommal” is the ancient word for Ggum-maeul, and in March 1986, the Seoul City Geographical Naming Committee changed its name from Mongchon Bridge to “Gommal Bridge” to restore the pure and beautiful Korean language</p>
								</dd>
							</dl>
							<div class="thumb">
								<img src="../../resources/img/sub/s5_02_thumb2.jpg" alt="">
							</div>
						</li>
						<li>
							<dl class="info">
								<dt class="tit">The Wooden Fences of Mongchon Fortress</dt>
								<dd class="text multi">
									<p class="mb10">The wooden fences of Korea were used as a method of defense against the enemy from the early Iron Age to the Joseon Dynasty. The wooden fences of Mongchon Fortress are differentiated with other ones as they were built on top of the clay walls.<br><br>

                                    According to the results of investigations by the Seoul National University Museum between 1983~1988, the position of the wooden fences in Mongchon Fortress was confirmed.<br><br>
                                    
                                    It is thought that large wooden columns were erected with gaps of 1.8 meters in holes with depths of 30~90 centimeters and diameters of 30~40 centimeters in the base rock, and between the columns, reinforcement columns were erected. The height of the wooden fence is not known precisely, but it is estimated to have been 2m or higher. These wooden fences were restored in accordance with the estimated original position of the discovered & investigated wooden columns.</p>
								</dd>
							</dl>
							<div class="thumb">
								<img src="../../resources/img/sub/s5_02_thumb3.jpg" alt="">
							</div>
						</li>
						<li>
							<dl class="info">
								<dt class="tit">Dugout Hut Site</dt>
								<dd class="text multi">
									<p class="mb10">After a 6-stage precision excavation process, 4 above-ground structure sites and 12 dugout hut sites were discovered. These dugout hut sites are located in high areas with altitudes of 25m above sea level. They can be divided into 3 types depending on the level form and depth.<br><br>

                                    First is the type made by digging the hill slope into an L shape, and these are dominant in terms of numbers. Second is the dugout with the level surface in the shape of a quadrangle, and at the time this was made by digging about 1m from the ground surface. <br>
                                    From these dugout huts horse bones and iron weapons were mainly excavated, so it is thought that these were used not as general households but for special military purposes. The third dugout hut was in a level form of a hexagonal structure with the entrance installed where the short sides of the hexagon meet (southeastern side).<br><br>
                                    
                                    The length of the long wall is about 6m and the short wall is about 4m. There are 10 holes for pillars on the long wall, and the diameter of each hole is about 50cm. There are 4~5 holes for pillars also on the short wall, and the standard diameter of these holes is about 20~30cm, but they tend to be larger in the corners as they have to support more weight.<br><br>
                                    
                                    There are no separate facilities within the dugout huts, but at the northeastern side corner, an ondol shaped stove stand out. Of the 4 dugout huts exhibited here, number 1 is the second quadrangle type, but as the number 2 hut was constructed after its abandonment, many areas have been bent and withered away. The number 3 & 4 huts are the typical hexagonal types, and after the abandonment of the number 3 hut, it was moved slightly to the east, and the number 4 hut was constructed.</p>
								</dd>
							</dl>
							<div class="thumb">
								<img src="../../resources/img/sub/s5_02_thumb4.jpg" alt="">
							</div>
						</li>
						
												
					</ul>
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>