<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/eng_layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<link rel="stylesheet" href="../../resources/css/eng_contents.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/eng_sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

                <!-- ko:s1_06_02.html -->
				<div id="content" class="content_section">
					<h3 class="title_h1">Park Amenities</h3>
					
					<h4 class="title_h3">Care / Food</h4>
						
					<ul class="thumb_list amenities">
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb01.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Olympic Hall Cafe <span>Olympic Hall Cafe</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Olympic Hall, Olympic Park</dd>
								<dd class="text"><span class="text_bold">Menu </span> Coffee, Tea, Beverage, Sandwich, Cookie, Bagel, etc.</dd>
								<dd class="text"><span class="text_bold">Business hours</span>10:00 ~ 21:00(open late on event days)</dd>
								<dd class="text"><span class="text_bold">Call</span><span class="text_blue">02) 412-6538</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb02.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Woori Art Hall Cafe <span>Woori Art Hall Cafe</span></dt>
								<dd class="text">Woori Art Hall Cafe opens according to the event schedule and offers coffee, tea,
                                    beverage, bagel etc. Enjoy the stunning view through its glass windows.</dd>
								<dd class="text pd_t10"><span class="text_bold">Location </span>Woori Art Hall</dd>
								<dd class="text"><span class="text_bold">Menu </span>Americano, Gold Medal Apple Juice, Donut</dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb03.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Olympic Park Swimming Pool Cafe <span>#1 SHOT IN COFFEE</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Olympic Park Swimming Pool 1F , (Olympic Park) North Gate 2</dd>
								<dd class="text"><span class="text_bold">Menu </span>Americano, Latte, Squeezed Fruit Juice, Berry smoothie, Sandwiches,
                                    Cakes and Cookies.</span></dd>
                                    <dd class="text"><span class="text_bold">Business hours</span>9:00 ~ 20:00 (Mon-Sun)</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-2202-9988</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb04.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Coffine Gurunaru <span>Cafe with delicious honey butter bread</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Meeting Plaza / East Gate 1, 2</dd>
								<dd class="text"><span class="text_bold">Menu </span>Coffee, Tea, Juice, Bread, Cake, Bagel</dd>
								<dd class="text"><span class="text_bold">Business hours</span>09:00~23:00(weekday) 08:00~23:00(weekend) Open year round</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-420-9997</span></dd>
							</dl>
						</li>						
					</ul>

					<h4 class="title_h3">Restaurants</h4>
						
					<ul class="thumb_list amenities">
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb05.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Songdo Bulgogi</dt>
								<dd class="text"><span class="text_bold">Location </span> Meeting Plaza / East Gate 1, 2</dd>
								<dd class="text"><span class="text_bold">Menu </span>Charcoal-grilled beef bulgogi, charcoal-grilled pork bulgogi,
                                    Makguksu(spicy buckwheat noodles), etc.</dd>
								<dd class="text"><span class="text_bold">Business hours</span>11:30 ~ 22:00</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-2203-1188</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb06.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Cheiljemyunso <span>Cheiljemyunso (Olympic Park branch)</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Meeting Plaza / East Gate 1, 2</dd>
								<dd class="text"><span class="text_bold">Menu </span>Hot Noodle with Selected Seaweed & Smoked Tuna Broth,
                                    Hot Noodle with Korean Dried Anchovy Broth, Shabu Shabu Buffet</dd>
                                    <dd class="text"><span class="text_bold">Business hours</span>11:00 ~ 21:00 (Open year round)</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-421-8181</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb07.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Paris Croissant kitchen <span>Paris Croissant kitchen (Olympic Park branch)</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Meeting Plaza / East Gate 1, 2</span></dd>
								<dd class="text"><span class="text_bold">Menu </span>Special Seafood Pasta, Super Club Brunch, Coffee, Beverage etc.</dd>
								<dd class="text"><span class="text_bold">Business hours</span>7:00 ~ 23:00 (Open year round)</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-424-0316</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb08.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Jeonguk Nakji Jarang <span>Octopus Restaurant</span></dt>
                                <dd class="text"><span class="text_bold">Location </span>Meeting Plaza / East Gate 1, 2</dd>
                                <dd class="text"><span class="text_bold">Menu </span>Octopus Rice with Spicy Sauce, Bossam(Boiled Pork with greens),
                                    Octopus Soup</dd>
								<dd class="text"><span class="text_bold">Business hours</span>11:30 ~ 22:00</dd>								
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-415-0105</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb09.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Yetteul <span>Korean food</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Olympic park swimming Pool 1f</dd>
								<dd class="text"><span class="text_bold">Menu </span>Korean food, rice, cutret, noodle</dd>
								<dd class="text"><span class="text_bold">Business hours</span>11:00 ~ 20:00</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-3432-0878</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb10.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Phomein <span>Phomein Olympic Park Peace Gate</span></dt>
								<dd class="text"><span class="text_bold">Info </span>A domestic Vietnamese rice noodle brand that has led to the popularization
                                    of Vietnamese pho in Korea by developing recipes that suit Korean tastes.</span></dd>
								<dd class="text"><span class="text_bold">Menu </span>Beef Combination Pho, Bun Cha, Mein’s Set, original Spring Rolls,
                                    Phomein Wrap</dd>
                                    <dd class="text"><span class="text_bold">Business hours</span>11:00 ~ 22:00</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-425-6787</span></dd>
							</dl>
						</li>						
					</ul>

					<h4 class="title_h3">Convenient Store</h4>
						
					<ul class="thumb_list amenities">
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb11.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">MINISTOP <span>MINISTOP(Olympic Park branch)</span></dt>
								<dd class="text"><span class="text_bold">Location </span>Peace Plaza / 200M walk to the door located in the South Gate 4</dd>
								<dd class="text"><span class="text_bold">Area </span>Approx. 82.645㎡</dd>
								<dd class="text"><span class="text_bold">Business hours</span><span class="text_blue">08:00 ~ 24:00 (Mon-Sun)</span></dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb12.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">GS 25 <span>GS25 Olympic Park branch</span></dt>
								<dd class="text"><span class="text_bold">Business hours </span>08:00 ~ 22:00 (Open late on event nights)</dd>
								<dd class="text"><span class="text_bold">Call </span><span class="text_blue">02-2180-3717</span></dd>
								<dd class="text">
									<dl>
                                        <dt>Convenient Store/Snack Bar near event halls</dt>
                                        <dd>ㆍConcession stand 1 - Handball Stadium Gate 2-1</dd>
                                        <dd>ㆍConcession stand 2 - Between Olympic Swimming Pool and 88 Lawn Field</dd>
                                        <dd>ㆍConcession stand 3 - Near bike rental place in front of Woori Art Hall</dd>
                                        <dd>ㆍConcession stand 4 - In front of Olympic Hall main gate</dd>
                                        <dd>ㆍConcession stand 5 - Handball Stadium 2nd floor inside</dd>
                                        <dd>ㆍConcession stand 6 - In front of Peace Plaza Playground</dd>
                                        <dd>ㆍConcession stand 7 - KSPO DOME(Olympic Gymnastics Arena) 2nd floor inside</dd>
									</dl>
								</dd>
							</dl>
						</li>
					</ul>

					<h4 class="title_h3">Lounge</h4>
						
					<ul class="thumb_list">
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_02_thumb13.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">Cozy and warm lounge</dt>
								<dd class="text">At the cozy lobby of event halls, you can find the information desk, lockers,
                                    cafes and K-pop museum.</dd>
							</dl>
						</li>					
					</ul>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>