<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>올림픽공원</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script  src="../../resources/jquery/slick.min.js"></script>
    <script  src="../../resources/js/func.min.js"></script>
    <script  src="../../resources/js/common.js"></script>
    <script  src="../../resources/js/main.js"></script>
</head>

<body>
    <div id="skipNav">
        <a href="#content">본문으로 바로가기</a>
        <a href="#gnb">주메뉴 바로가기</a>
        <a href="#quick">주메뉴 바로가기</a>
    </div>
    <div id="wrap">

        <header class="header">              
            <div class="gnb_site">
                <div class="container">
                    <nav class="site_area">
                        <div class="list">
							<a href="/" class="kspo"><span>한국체육산업개발(주)</span></a>
							<a href="/olympicpark"><span>올림픽공원</span></a>
							<a href="/boatracepark"><span>미사경정공원</span></a>
							<a href="/edu"><span>평생교육원</span></a>
							<a href="/lib"><span>지샘터 올림픽공원 도서관</span></a>
							<a href="/recruit"><span>KSPO&amp;CO채용</span></a>
							<a href="/sports"><span>스포츠센터</span></a>
                        </div>
                    </nav>
                    <nav class="site_area_mobile">
                        <a href="#" class="title" title="패밀리사이트열기">한국체육산업개발<i class="xi-angle-down-min"></i></a>  
                        <div class="list_wrap">
							<div class="represent">
								<a href="" class=""><img src="../../resources/img/common/gnb_site_represent.svg" alt=""><span>한국체육산업개발(주)</span></a>
								<button type="button"><i class="xi-angle-down-min"></i></button>
							</div>
							<div class="list">
								<ul class="group1">
									<li><a href="" class=""><span>올림픽공원</span></a></li>
									<li><a href="" class=""><span>미사경정공원</span></a></li>
									<li><a href="" class=""><span>평생교육원</span></a></li>
									<li><a href="" class=""><span>지샘터도서관</span></a></li>
									<li><a href="" class=""><span>KSPO&amp;CO채용</span></a></li>
									<li><a href="" class=""><span>온라인스포츠센터</span></a></li>
									<li><a href="" class=""><span>온라인예약</span></a></li>
								</ul>  
								<ul class="group2">
									<li><a href="" class=""><span>스포츠센터</span></a></li>
									<li><a href="" class=""><span>올림픽수영장</span></a></li>
									<li><a href="" class=""><span>올림픽공원스포츠센터</span></a></li>
									<li><a href="" class=""><span>올림픽테니스장</span></a></li>
									<li><a href="" class=""><span>올팍축구장</span></a></li>
									<li><a href="" class=""><span>일산올림픽스포츠센터</span></a></li>
									<li><a href="" class=""><span>분당올림픽스포츠센터</span></a></li>
								</ul>   
							</div>   
                        </div>
                    </nav>

                    <!-- <div class="gnb_util login">
                        <ul class="nav"> 
                            <li><a href=""><i class="icon_join"></i><span>회원가입</span></a></li>
                            <li><a href=""><i class="icon_login"></i><span>로그인</span></a></li>
                        </ul>
                    </div> -->
                    <div class="gnb_util logout">
                        <div class="welcome">
                            <span class="name"><strong>홍길동</strong>님</span>
                            <span class="text">환영합니다.</span>
                        </div>
                        <ul class="nav">
                            <li><a href=""><i class="icon_logout"></i><span>로그아웃</span></a></li>
                            <li><a href=""><i class="icon_mypage"></i><span>MY페이지</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //container -->            
            </div>
            <!-- //gnb_site -->

            <div class="gnb_area">
                <div class="container">
                    <h1 class="logo">
                        <a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
                    </h1>
                    <div class="gnb_wrap">
                        <nav class="nav" id="gnb">                        
                            <h2 class="pop_title">사이트맵</h2> 
                            <span class="pop_eng_title" lang="en">Site map</span>                       
                            <ul id="head_menu" class="topmenu">
                                <li class="depth1">
                                    <a href="s1_01.html"><span>체육즐기기</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">체육즐기기</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s1_01.html">스포츠교실</a>
                                                <ul class="depth3">
                                                    <li><a href="s1_01.html">올림픽스포츠센터</a></li>
                                                    <li><a href="s1_01_02.html">올림픽수영장</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s1_02.html">산책/조깅코스</a> </li>
                                            <li><a href="s1_03.html">생활건강시설</a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s2_01.html"><span>문화즐기기</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">문화즐기기</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s2_01.html">조이올팍 공연/행사안내</a>
                                                <ul class="depth3">
                                                    <li><a href="s2_01.html">일정안내</a></li>
                                                    <li><a href="s2_02.html">예매안내</a></li>
                                                    <li><a href="s2_03.html">공연장안내</a></li>
                                                    <li><a href="s2_04.html">좌석배치안내</a></li>
                                                    <li><a href="s2_05.html">시설대관</a></li>
                                                    <li><a href="s2_06.html">공연포스터 전시관</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s2_02.html">올림픽홀 평생교육원</a>
                                                
                                            </li>
                                            <li><a href="s2_01.html">문화/예술시설</a>
                                                <ul class="depth3">
                                                    <li><a href="s2_01.html">서울올림픽기념관</a></li>
                                                    <li><a href="s2_02.html">소마미술관</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s2_01.html">조각작품갤러리</a>
                                                <ul class="depth3">
                                                    <li><a href="s2_01.html">조각공원 안내</a></li>
                                                    <li><a href="s2_02.html" target="_blank">조각작품 맵</a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s3_01.html"><span>생태즐기기</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">생태즐기기</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">                                    
                                            <li><a href="s3_01.html">생태공원소개</a>
                                            
                                            </li>
                                            <li><a href="s3_02.html">잔디시설안내</a> </li>
                                            <li><a href="s3_03.html">장미광장</a>
                                                <ul class="depth3">
                                                    <li><a href="s3_03.html">장미광장소개</a></li>
                                                    <li><a href="s3_03_02.html">장미광장현황</a></li>
                                                    <li><a href="s3_03_03.html">장미관람안내</a></li>
                                                    <li><a href="s3_03_04.html">둘러보기</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s3_04.html">생태공원 갤러리</a> </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s4_01.html"><span>역사즐기기</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">역사즐기기</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">   
                                            <li><a href="s4_01.html">올팍조성과 운영</a>
                                                <ul class="depth3">
                                                    <li><a href="s4_01.html">공원조성배경</a></li>
                                                    <li><a href="s4_01_02.html">비전과 미래</a></li>
                                                    <li><a href="s4_01_03.html">평화의성지 올팍</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s4_02.html">몽촌역사이야기</a></li>
                                            <li><a href="s4_03.html">주변유적지안내</a>
                                                <ul class="depth3">
                                                    <li><a href="s4_03.html">한성백제박물관</a></li>
                                                    <li><a href="s4_03_02.html">몽촌역사관</a></li>
                                                    
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s5_01.html"><span>공원가이드</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">공원가이드</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s5_01.html">공원이용정보</a></li>
                                            <li><a href="s5_02.html">PI소개</a>
                                                <ul class="depth3">
                                                    <li><a href="s5_02.html">PI소개</a></li>
                                                    <li><a href="s5_02_02.html">마스코트</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s5_03.html">공원안내도</a> </li>
                                            <li><a href="s5_04.html">공원사이버투어</a> </li>
                                            <li><a href="s5_05.html">놀이시설</a> 
                                                <ul class="depth3">
                                                    <li><a href="s5_05.html">호돌이열차</a></li>
                                                    <li><a href="s5_05_02.html">자전거대여</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="s5_06.html">체육시설</a> </li>
                                            <li><a href="s5_07.html">편의시설</a>
                                                <ul class="depth3">
                                                    <li><a href="s5_07.html">공원이용시설</a></li>
                                                    <li><a href="s5_07_02.html">공원편의시설</a></li>
                                                    <li><a href="s5_07_03.html">유실물센터</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s5_08.html">올림픽공원9경</a>
                                                <ul class="depth3">
                                                    <li><a href="s5_08.html">올림픽공원9경</a></li>
                                                    <li><a href="s5_08_02.html">9경 스탬프투어</a></li>
                                                    <li><a href="s5_08_03.html">사랑나무 연리목</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s5_09.html">교통 및 주차안내</a> </li>
                                        </ul>
                                    </div>
                                </li>   
                                <li class="depth1">
                                    <a href="s6_01.html"><span>홍보광장</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">홍보광장</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s6_01.html">올팍소식</a></li>
                                            <li><a href="s6_02.html">보도자료</a></li>
                                            <li><a href="s6_03.html">홍보동영상</a> </li>
                                            <li><a href="s6_04.html">포토갤러리</a> </li>
                                        </ul>
                                    </div>
                                </li>   
                                <li class="depth1">
                                    <a href="s7_01.html"><span>고객센터</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">고객센터</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s7_01.html">자주하는 질문</a></li>
                                            <li><a href="s7_02.html">고객의 소리</a></li>
                                            <li><a href="s7_03.html">전자민원</a> </li>
                                            <li><a href="s7_04.html">제안하기</a> </li>
                                            <li><a href="s7_05.html">고객이용후기</a> </li>
                                            <li><a href="s7_06.html">유실물센터</a> </li>
                                        </ul>
                                    </div>
                                </li>                                                
                                <li class="depth1">
                                    <a href="etc_01.html"><span>회원/기타</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
                                            <h3 class="title">회원/기타</h3>
                                            <em lang="en">Eng</em>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="etc_01.html">로그인</a></li>
                                            <li><a href="etc_02.html">회원가입</a></li>
                                            <li><a href="etc_03.html">아이디/비밀번호 찾기</a></li>
                                            <li><a href="etc_04.html">회원이용약관</a></li>
                                            <li><a href="etc_05.html">개인정보처리방침</a></li>
                                            <li><a href="etc_06.html">고객서비스헌장</a> </li>
                                            <li><a href="etc_07.html">조이올팍회원 서비스</a> </li>
                                            <li><a href="etc_08.html">올림픽공원 APP소개</a> </li>
                                            <li><a href="etc_09.html">KSPO소개</a> </li>
                                            <li><a href="etc_10.html">사이트맵</a> </li>                                       
                                            <li><a href="etc_11.html">통합검색</a> </li>
                                            <li><a href="ect_12.html">마이페이지</a> </li>
                                        </ul>
                                    </div>
                                </li>                        
                            </ul>
                            <button type="button" class="pop_close"><i class="xi-close"></i><span class="sr-only">전체메뉴 레이어 닫기</span></button>
                        </nav>
                    </div>
                    <div class="btn_wrap">
						<a href="../eng/index.html" class="btn_lang">
							<span>English</span>
						 </a>                        
                        <button class="btn_sch_open">
                            <i class="xi-search"></i><span class="sr-only">검색버튼</span><!-- 모바일 검색버튼-->
                        </button>    
                        <div class="sch_layer">                            
                            <form class="sch_form" name="sch_form" id="schForm">                               
                                <label for="allKeyWord" class="title sr-only">통합검색</label>
                                <input type="text" name="allKeyWord" id="allKeyWord" placeholder="검색어를 입력해주세요">
                                <button id="btnSch" class="btn_sch">
                                    <i class="xi-search"></i><span class="sr-only">검색버튼</span>
                                </button>
                            </form>
                            <button type="button" class="btn_sch_close">
                                <i class="xi-close-thin"></i><span class="sr-only">검색 닫기</span>
                            </button>                            
                        </div><!-- //sch_layer -->
                        <button type="button" class="btn_allmenu"><span class="sr-only">전체메뉴보기</span><i
                            class="icon" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- //container -->
            </div>
            <!-- //gnb_area -->            
        </header>

        <main class="main">
            <div id="quick" class="quick">
                <h2><i></i><span><em lang="en">Quick</em>올팍</span></h2>
                <nav>
                    <ul>
						<li class="item_0"><a href="" ><i></i><span>올팍<br>LIVE</span></a></li>
                        <li class="item_1"><a href="" ><i></i><span>사이버<br>투어</span></a></li>
                        <li class="item_2"><a href="" ><i></i><span>공원<br>안내도</span></a></li>
                        <li class="item_3"><a href="" ><i></i><span>공연<br>행사</span></a></li>
                        <!-- <li class="item_4"><a href="" ><i></i><span>제휴</span></a></li> -->
                        <li class="item_5"><a href="" ><i></i><span>교통<br>주차</span></a></li>
                        <li class="item_6"><a href="" ><i></i><span>편의<br>시설</span></a></li>
                        <li class="item_7"><a href="" ><i></i><span>대관<br>예약</span></a></li>
                    </ul>
                    
                </nav>
            </div>
            <div class="acctoggle">
                <button type="button" class="acctoggle_contrast">
                    <i class="icon_contrast"></i>
                    <span>흑백모드</span>
                </button>
                <button type="button" class="acctoggle_fontsize">
                    <i class="icon_fontsize"></i>
                    <span>글자크기</span>
                </button>
            </div>
            <!-- //acctoggle -->
            <div id="content">
                <div class="section visual_section">

                    <h2 class="sr-only">visual</h2>
                    <div class="container">
                        <div class="olpark_live">
							<img src="../../resources/img/main/olpark_live.png" alt="올팍LIVE">
						</div>
                        <div class="item item_1" tabindex="0">
                            <div class="figure">
                                <img src="../../resources/img/main/visual_01.png" alt="">
                                <div class="title">
                                    <strong>Sports</strong>
                                    <p>올림픽공원에서 열리는 다양한<br>
                                    공연과 행사를 함께하세요</p>
                                </div>   
                                <div class="detail">
                                    <a href="">조이올팍 공연/행사</a>
                                    <a href="">올림픽홀 평생교육원</a>
                                    <a href="">문화/예술시설</a>
                                    <a href="">조각작품갤러리</a>
                                </div>
                            </div>                                   
                        </div><!-- //item -->
                        <div class="item item_2" tabindex="0">
                            <div class="figure">
                                <img src="../../resources/img/main/visual_02.png" alt="">
                                <div class="title">
                                    <strong>Culture</strong>
                                    <p>올림픽공원에서 열리는 다양한<br>
                                    공연과 행사를 함께하세요</p>
                                </div> 
                                <div class="detail">
                                    <a href="">조이올팍 공연/행사</a>
                                    <a href="">올림픽홀 평생교육원</a>
                                    <a href="">문화/예술시설</a>
                                    <a href="">조각작품갤러리</a>
                                </div>
                            </div>
                        </div><!-- //item -->
                        <div class="item item_3" tabindex="0">
                            <div class="figure">
                                <img src="../../resources/img/main/visual_03.png" alt="">
                                <div class="title">
                                    <strong>History</strong>
                                    <p>올림픽공원에서 열리는 다양한<br>
                                    공연과 행사를 함께하세요</p>
                                </div> 
                                <div class="detail">
                                    <a href="">조이올팍 공연/행사</a>
                                    <a href="">올림픽홀 평생교육원</a>
                                    <a href="">문화/예술시설</a>
                                    <a href="">조각작품갤러리</a>
                                </div>
                            </div>
                        </div><!-- //item -->
                        <div class="item item_4" tabindex="0">
                            <div class="figure">
                                <img src="../../resources/img/main/visual_04.png" alt="">
                                <div class="title">
                                    <strong>Ecology</strong>
                                    <p>올림픽공원에서 열리는 다양한<br>
                                    공연과 행사를 함께하세요</p>
                                </div>
                                <div class="detail">
                                    <a href="">조이올팍 공연/행사</a>
                                    <a href="">올림픽홀 평생교육원</a>
                                    <a href="">문화/예술시설</a>
                                    <a href="">조각작품갤러리</a>
                                </div>
                            </div>
                        </div><!-- //item -->
                    </div>
                    <!-- //container -->
                </div>
                <!-- //visual_section01 -->
				
                <div class="contents_section">
					
					<section class="section section01">						
						<div class="container">							
							<div class="cont">								
								<div class="news">
									<div class="title_area">
										<div class="balloon">
											<strong lang="en">Olpark News</strong>
											<span>최신소식을 알려드립니다.</span>
										</div>
										<h2 class="title"><span>올팍소식</span></h2>
									</div>
									
									<div class="list">
										<div class="item">
											<a href="#" class="link">
												<span class="date">
													<small>2021.10</small>
													<strong>28</strong>
												</span>
												<p class="txt">최근 사회적 거리두기가 5단계에서 4단계로 변화함에따라 올림픽공원도 코로나19 관련 특별대관기준을 첨부와 같이 최근 사회적 거리두기가 5단계에서 4단계로 변화함에따라 올림픽공원도 코로나19 관련 특별대관기준을 첨부와 같이	</p>
											</a>
										</div>
										<!-- //item -->
										<div class="item">
											<a href="#" class="link">
												<span class="date">
													<small>2021.10</small>
													<strong>28</strong>
												</span>
												<p class="txt">코로나19 관련 특별 대관기준 조정 알림</p>
											</a>
										</div>
										<!-- //item -->
										<div class="item">
											<a href="#" class="link">
												<span class="date">
													<small>2021.10</small>
													<strong>28</strong>
												</span>
												<p class="txt">호돌이열차 사회적거리두기 단계 별 승차정원</p>
											</a>										
										</div>
										<!-- //item -->
										<div class="item">
											<a href="#" class="link">
												<span class="date">
													<small>2021.10</small>
													<strong>28</strong>
												</span>
												<p class="txt">코로나19 관련 특별 대관기준 조정 알림</p>
											</a>																				
										</div>
										<!-- //item -->
										<div class="item">
											<a href="#" class="link">
												<span class="date">
													<small>2021.10</small>
													<strong>28</strong>
												</span>
												<p class="txt">최근 사회적 거리두기가 5단계에서 4단계로 변화함에따라 올림픽공원도 코로나19 관련 특별대관기준을 첨부와 같이 최근 사회적 거리두기가 5단계에서 4단계로 변화함에따라 올림픽공원도 코로나19 관련 특별대관기준을 첨부와 같이	</p>
											</a>																														
										</div>
										<!-- //item -->
									</div>
									<!-- //list -->
									<a href="" class="more">더 많은 소식보기<i class="xi-angle-right-min"></i></a>
								</div>  
								<!-- //news -->
								<div class="popupzone">
									<div class="list">
										<a href=""><img src="../../resources/img/main/popup_01.jpg" alt="올림픽공원 주차관리시스템 개선공사 바로가기"></a>
										<a href=""><img src="../../resources/img/main/popup_01.jpg" alt="올림픽공원 주차관리시스템 개선공사 바로가기"></a>
									</div>
									<div class="control">
										<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
										<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
									</div>
								</div>
								<!-- //popup_zone -->
							</div>
							<!-- //cont -->
						</div>
						<!-- //container -->
					</section>
					<!-- //section01 -->
                    <section class="section section02">
                        <div class="container">
                            <div class="title">
                                <h2>Culture &amp; Arts</h2>
                            </div>
                            
                            <div class="cont culture">
                                <div class="item">
                                    <div class="poster">
                                        <img src="../../resources/img/main/concert_01.png" alt="">
                                        <span class="place">올림픽홀</span>
                                        <span class="link">
                                            <a href="" class="ticket"><i class="xi-coupon"></i><span>예매하기</span></a>
                                            <a href="" class="view">View</a>
                                        </span>
                                    </div>
                                    <div class="detail">
                                        <span class="date">2021.10.02~2021.10.02</span>
                                        <strong class="title">TREASURE 1ST PRIVATE STAGE [TEU-DAY]</strong>
                                    </div>
                                </div>
                                <!-- //item -->
                                <div class="item">
                                    <div class="poster">
                                        <img src="../../resources/img/main/concert_02.png" alt="">
                                        <span class="place">올림픽홀</span>
                                        <span class="link">
                                            <a href="" class="ticket"><i class="xi-coupon"></i><span>예매하기</span></a>
                                            <a href="" class="view">View</a>
                                        </span>
                                    </div>
                                    <div class="detail">
                                        <span class="date">2021.10.02~2021.10.02</span>
                                        <strong class="title">TREASURE 1ST PRIVATE STAGE [TEU-DAY]</strong>
                                    </div>
                                </div>
                                <!-- //item -->
                                <div class="item">
                                    <div class="poster">
                                        <img src="../../resources/img/main/concert_03.png" alt="">
                                        <span class="place">올림픽홀</span>
                                        <span class="link">
                                            <a href="" class="ticket"><i class="xi-coupon"></i><span>예매하기</span></a>
                                            <a href="" class="view">View</a>
                                        </span>
                                    </div>
                                    <div class="detail">
                                        <span class="date">2021.10.02~2021.10.02</span>
                                        <strong class="title">TREASURE 1ST PRIVATE STAGE [TEU-DAY]</strong>
                                    </div>
                                </div>
                                <!-- //item -->
                                <div class="item">
                                    <div class="poster">
                                        <img src="../../resources/img/main/concert_04.png" alt="">
                                        <span class="place">올림픽홀</span>
                                        <span class="link">
                                            <a href="" class="ticket"><i class="xi-coupon"></i><span>예매하기</span></a>
                                            <a href="" class="view">View</a>
                                        </span>
                                    </div>
                                    <div class="detail">
                                        <span class="date">2021.10.02~2021.10.02</span>
                                        <strong class="title">TREASURE 1ST PRIVATE STAGE [TEU-DAY]</strong>
                                    </div>
                                </div>
                                <!-- //item -->
                                <div class="item item_5">
                                    <div class="poster">
                                        <img src="../../resources/img/main/concert_05.png" alt="">
                                        <span class="place">올림픽홀</span>
                                        <span class="link">
                                            <a href="" class="ticket"><i class="xi-coupon"></i><span>예매하기</span></a>
                                            <a href="" class="view">View</a>
                                        </span>
                                    </div>
                                    <div class="detail">
                                        <span class="date">2021.10.02~2021.10.02</span>
                                        <strong class="title">TREASURE 1ST PRIVATE STAGE [TEU-DAY]</strong>
                                    </div>
                                </div>
                                <!-- //item -->
                                <div class="item">
                                    <div class="poster">
                                        <img src="../../resources/img/main/concert_03.png" alt="">
                                        <span class="place">올림픽홀</span>
                                        <span class="link">
                                            <a href="" class="ticket"><i class="xi-coupon"></i><span>예매하기</span></a>
                                            <a href="" class="view">View</a>
                                        </span>                                        
                                    </div>
                                    <div class="detail">
                                        <span class="date">2021.10.02~2021.10.02</span>
                                        <strong class="title">TREASURE 1ST PRIVATE STAGE [TEU-DAY]</strong>
                                    </div>
                                </div>
                                <!-- //item -->
                            </div>
                            <!-- //cont -->
                                                  
                        </div><!-- //container -->
                    </section>
                    <section class="section section03">
                        <div class="container">
                            <div class="title">
                                <h2><strong>Olpark 9</strong><small>올림픽공원 9경</small></h2>
                                <p>올림픽공원 내에서 가장 아름다운 사진촬영 명소입니다.<br> 가족, 연인과 함께 구경 투어를 통해 멋진 추억을 만들어 보세요.</p>
                            </div>
                            <div class="cont olpark">
                                <a href="" class="item">
                                    <div class="figure">
                                        <img src="../../resources/img/main/olpark_07.png" alt="">
                                        <div class="detail">
                                            <div class="item_title">
                                                <span>7경</span> <strong>88호수, 팔각정(오륜정)</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>규모 : 12,700㎡ (15,000톤)</strong>
                                                <p>인공호수 주변에 약 13개의 조각작품이 있으며, 대표작품으로는 “날갯짓”이 있음</p>                                        
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->
                                </a>
                                <!-- //item -->
                                <a href="" class="item">  
                                    <div class="figure">                                
                                        <img src="../../resources/img/main/olpark_08.png" alt=""> 
                                        <div class="detail">
                                            <div class="item_title">
                                                <span>8경</span> <strong>들꽃마루</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>계절별로 다양한 들꽃 감상 가능</strong>
                                                <p>봄꽃(5~6월/꽃양귀비, 안개초, 수레국화 등), 가을꽃(9~10월/센세이션코스모스, 노랑코스모스 등)</p>
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
                                    <div class="figure">
                                        <img src="../../resources/img/main/olpark_09.png" alt="">
                                        <div class="detail">
                                            <div class="item_title">
                                                <span>9경</span> <strong>장미광장</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>13,260㎡에 165종 18,500주의 장미가 식재되어 있음</strong>
                                                <p>- 개장 : 2010. 6(13,260㎡)<br>
                                                    - 위치 : 공원 내 K-아트홀와 올림픽홀 사이</p>
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div> 
                                    </div><!-- //figure -->
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
                                    <div class="figure">
                                        <img src="../../resources/img/main/olpark_01.png" alt="">
                                        <div class="detail">   
                                            <div class="item_title">
                                                <span>1경</span> <strong>세계평화의 문</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>김중업 작품 (규격:62.0×37.0×24.0m)</strong>
                                                <p>서울올림픽기념 상징조형물로, 세계 평화를 기원하는 의미를 담고 있음</p>
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->    
                                </a>
                                 <!-- //item -->
                                 <a href="" class="item"> 
                                    <div class="figure">                                
                                        <img src="../../resources/img/main/olpark_02.png" alt="">
                                        <div class="detail">   
                                            <div class="item_title">
                                                <span>2경</span> <strong>엄지손가락(조각)</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>세자르 발다치니(프랑스)작품 (규격 : 청동 3.6×2.7×6.0m)</strong>
                                                <p>으뜸을 상징하는 인체의 일부를 극적으로 확대한 작품</p>                                        
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->    
                                </a>
                                 <!-- //item -->
                                <a href="" class="item">       
                                    <div class="figure">                               
                                        <img src="../../resources/img/main/olpark_03.png" alt="">
                                        <div class="detail">   
                                            <div class="item_title">
                                                <span>3경</span> <strong>몽촌해자 음악분수</strong>
                                            </div>
                                            <div class="item_cont">
                                                <p>140여곡의 멜로디에 따라 14,000가지의 모양을 연출하며<br> 30m 높이까지 물을 뿜어올리는 음악분수</p>
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->    
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
                                    <div class="figure">
                                        <img src="../../resources/img/main/olpark_04.png" alt="">
                                        <div class="detail">   
                                            <div class="item_title">
                                                <span>4경</span> <strong>대화(조각)</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>모한 아마라(알제리)작품 (규격 : 화강암 6.0×1.8×3.3m)</strong>
                                                <p>서로의 생각과 느낌을 교환하려 애쓰는 모습을 조각을 통하여 형상화</p>                                        
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->    
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
                                    <div class="figure">
                                        <img src="../../resources/img/main/olpark_05.png" alt=""> 
                                        <div class="detail">
                                            <div class="item_title">
                                                <span>5경</span> <strong>몽촌토성 산책로</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>전경이 매우 아름다운 산책코스 (약 2.3km)</strong>
                                                <p>올림픽공원 산책로는 호반의 길, 토성의 길, 추억의 길, 연인의 길, 젊음의 길이 있음</p>
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->    
                                </a>
                                <!-- //item -->
                                <a href="" class="item">     
                                    <div class="figure">                             
                                        <img src="../../resources/img/main/olpark_06.png" alt=""> 
                                        <div class="detail">
                                            <div class="item_title">
                                                <span>6경</span> <strong>나홀로 나무</strong>
                                            </div>
                                            <div class="item_cont">
                                                <strong>수종 : 측백나무(높이 약 10m)</strong>
                                                <p>각종 영화, 드라마, 광고 등의 배경으로 사랑받고 있으며 일명 "나홀로 나무"라고 불림</p>                                        
                                            </div>
                                            <div class="btn"><i class="ri-add-line"></i><span>더보기</span></div>
                                        </div>
                                    </div><!-- //figure -->        
                                </a>
                                <!-- //item -->
                                
                            </div>
                            <!-- //cont -->
                        </div>
                        <!-- //container -->
                    </section>
                    <section class="section section04">
                        <div class="container">
                            <div class="title">
                                <h2>Play &amp; Health</h2>
                                <p>생활건강시설과 놀이시설로<br> 올림픽공원에서 휴식 건강을 동시에 즐기세요</p>
                                <a href="" class="more">더보기</a>
                            </div>
                            <div class="cont play">
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_01.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>                            
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_02.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_03.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_04.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_05.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                                <a href="" class="item">
									<div class="figure">
										<img src="../../resources/img/main/pnh_03.jpg" alt="">
										<div class="detail">
											<div>
												<strong>호돌이열차</strong>
												<p>올림픽공원의 명물,<br> 호돌이열차</p>
											</div>
										</div>
									</div>
                                </a>
                                <!-- //item -->
                            </div>
                            <!-- //cont -->
                        </div>
                        <!-- //container -->
                    </section>
					<div class="etc_site">
						<div class="container">
							<div class="list">
								<a href="">안전신문고</a>
								<a href="">OPEN 공공누리</a>
								<a href="">플라스틱 다이어트, 함께해요</a>
								<a href="">보조금24 전국개통 관련 안내</a>
								<a href="">코로나19 국민 방역수칙 홍보 영상</a>
								<a href="">창업기업제품</a>
							</div>
							<div class="control">
								<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
								<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
							</div>
							<!-- //list -->
						</div>
						<!-- //container -->
					</div>
					<!-- //etc_site -->
                </div>
                <!-- //content_section -->
                <button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
            </div>
            <!-- //content -->            
        </main>
        <footer class="footer">
            <div class="container">
                <nav class="footer_nav">
                    <a href="#"><strong>개인정보처리방침</strong></a>
                    <a href="#">오시는길</a>
                    <a href="#">전화번호 안내</a>
                    <a href="#">이용약관</a>
                    <a href="#">이메일무단수집거부</a>
                    <a href="#">저작권정책</a>
                </nav>
                <div class="footer_cont">                    
                    <div class="cont_left">
                        <div class="footer_logo">
                            <a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
                        </div> 
                        <div class="address_group">
                            <address>
                                서울특별시 송파구 올림픽로 424<br>
                               <strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
                               <strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
                            </address>                            
                            <nav class="sns_list">
                                <a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
                                <a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
                                <a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
                                <a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
                                <a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
                            </nav>
                            <span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
                        </div>
                    </div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->

                </div>
                <!-- //footer_cont -->
                
            </div>
            <!-- //container -->
        </footer>
    </div>

</body>

</html>