<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	<div id="skipNav">
		<a href="#content">본문으로 바로가기</a>
		<a href="#gnb">주메뉴 바로가기</a>
		<a href="#quick">주메뉴 바로가기</a>
	</div>

	<div id="wrap">

		<header class="header">
			<div class="gnb_site">
				<div class="container">
					<nav class="site_area">
						  
						<div class="list">
							<a href="" class=""><span>한국체육산업개발(주)</span></a>
							<a href="" class=""><span>올림픽공원</span></a>
							<a href="" class=""><span>미사경정공원</span></a>
							<a href="" class=""><span>평생교육원</span></a>
							<a href="" class=""><span>지샘터 올림픽공원 도서관</span></a>
							<a href="" class=""><span>KSPO&amp;CO채용</span></a>
							<a href="" class=""><span>채용사이트</span></a>
							<a href="" class=""><span>스포츠센터</span></a>
						</div>
					</nav>

					<!-- <div class="gnb_util login">
                        <ul class="nav"> 
                            <li><a href=""><i class="icon_join"></i><span>회원가입</span></a></li>
                            <li><a href=""><i class="icon_login"></i><span>로그인</span></a></li>
                        </ul>
                    </div> -->
					<div class="gnb_util logout">
						<div class="welcome">
							<span class="name"><strong>홍길동</strong>님</span>
							<span class="text">환영합니다.</span>
						</div>
						<ul class="nav">
							<li><a href=""><i class="icon_logout"></i><span>로그아웃</span></a></li>
							<li><a href=""><i class="icon_mypage"></i><span>MY페이지</span></a></li>
						</ul>
					</div>
				</div>
				<!-- //container -->
			</div>
			<!-- //gnb_site -->

			<div class="gnb_area">
				<div class="container">
					<h1 class="logo">
						<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
					</h1>
					<div class="gnb_wrap">
						<nav class="nav" id="gnb">
							<h2 class="pop_title">사이트맵</h2>
							<span class="pop_eng_title" lang="en">Site map</span>
							<ul id="head_menu" class="topmenu">
								<li class="depth1">
									<a href="s1_01.html"><span>공원가이드</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">공원가이드</h3>
											<em lang="en">Park Guide </em>
										</div>
										<ul class="depth2">
											<li><a href="s1_01.html">공원이용정보</a></li>
											<li><a href="s1_02.html">공원안내도</a> </li>
											<li><a href="s1_03.html">공원사이버투어</a> </li>
											<li><a href="s1_04.html">놀이시설</a>
												<ul class="depth3">
													<li><a href="s1_04.html">호돌이열차</a></li>
													<li><a href="s1_04_02.html">자전거대여</a></li>
												</ul>
											</li>
											<li><a href="s1_05.html">체육시설</a> </li>
											<li><a href="s1_06.html">편의시설</a>
												<ul class="depth3">
													<li><a href="s1_06.html">공원이용시설</a></li>
													<li><a href="s1_06_02.html">공원편의시설</a></li>
													<li><a href="s1_06_03.html">유실물센터</a></li>
													<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
												</ul>
											</li>
											<li><a href="s1_07.html">올림픽공원9경</a>
												<ul class="depth3">
													<li><a href="s1_07.html">올림픽공원9경</a></li>
													<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
												</ul>
											</li>
											<li><a href="s1_08.html">사랑나무연리목</a> </li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s2_01.html"><span>체육공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">체육공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s2_01.html">스포츠교실</a>
												<ul class="depth3">
													<li><a href="s2_01.html">올림픽스포츠센터</a></li>
													<li><a href="s2_02.html">올림픽수영장</a></li>
												</ul>
											</li>
											<li><a href="s2_02.html">산책/조깅코스</a>

											</li>
											<li><a href="s2_03.html">생활건강시설</a></li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s3_01.html"><span>문화공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">문화공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s3_01.html">조이올팍 공연/행사안내</a>
												<ul class="depth3">
													<li><a href="s3_01.html">일정안내</a></li>
													<li><a href="s3_01_02.html">예매안내</a> </li>
													<li><a href="s3_01_03.html">공연장안내</a></li>
													<li><a href="s3_01_04.html">좌석배치안내</a> </li>
													<li><a href="" target="_blank">시설대관</a></li>
													<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
												</ul>
											</li>
											<li><a href="s3_02.html">올림픽홀 평생교육원</a> </li>
											<li><a href="s3_03.html">문화/예술시설</a>
												<ul class="depth3">
													<li><a href="s3_03.html">서울올림픽기념관</a></li>
													<li><a href="s3_03_02.html">소마미술관</a></li>
												</ul>
											</li>
											<li><a href="s3_04.html">조각작품갤러리</a>
												<ul class="depth3">
													<li><a href="s3_04.html">조각공원 안내</a></li>
													<li><a href="s3_04_02.html">조각공원 맵</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s4_01.html"><span>생태공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">생태공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s4_01.html">생태공원소개</a></li>
											<li><a href="s4_02.html">잔디시설안내</a></li>
											<li><a href="s4_03.html">장미광장</a>
												<ul class="depth3">
													<li><a href="s4_03.html">장미광장소개</a></li>
													<li><a href="s4_03_02.html">장미광장현황</a></li>
													<li><a href="s4_03_03.html">장미관람안내</a></li>
													<li><a href="s4_03_04.html">둘러보기</a></li>
												</ul>
											</li>
											<li><a href="s4_04.html">생태공원 갤러리</a></li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s5_01.html"><span>역사공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">역사공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s5_01.html">올팍조성과 운영</a>
												<ul class="depth3">
													<li><a href="s5_01.html">공원조성배경</a></li>
													<li><a href="s5_01_02.html">비전과 미래</a></li>
													<li><a href="s5_01_03.html">평화의성지 올팍</a></li>
												</ul>
											</li>
											<li><a href="s5_02.html">몽촌역사이야기</a></li>
											<li><a href="s5_03.html">주변유적지안내</a>
												<ul class="depth3">
													<li><a href="s5_03.html">한성백제박물관</a></li>
													<li><a href="s5_03_02.html">몽촌역사관</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s6_01.html"><span>알림·홍보</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">알림·홍보</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s6_01.html">올팍소식</a></li>
											<li><a href="s6_02.html">보도자료</a></li>
											<li><a href="s6_03.html">홍보동영상</a> </li>
											<li><a href="s6_04.html">포토갤러리</a> </li>
											<li><a href="s6_05.html">PI소개</a> </li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s7_01.html"><span>고객센터</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">고객센터</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s7_01.html">자주하는 질문</a></li>
											<li><a href="s7_02.html">고객의 소리</a></li>
											<li><a href="s7_03.html">전자민원</a> </li>
											<li><a href="s7_04.html">정책제안</a> </li>
											<li><a href="s7_05.html">제휴제안</a> </li>
											<li><a href="s7_06.html">고객참여 예산제도</a> </li>
											<li><a href="s7_07.html">고객이용후기</a> </li>
											<li><a href="s7_08.html">유실물센터</a> </li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="etc_01.html"><span>회원/기타</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">회원/기타</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="etc_01.html">MYPAGE 회원정보</a></li>
											<li><a href="etc_02.html">회원정보수정</a></li>
											<li><a href="etc_03.html">고객의소리</a></li>
											<li><a href="etc_04.html">올림픽공원</a>
												<ul class="depth3">
													<li><a href="etc_04.html">공연예매내역</a></li>
													<li><a href="etc_04_02.html">조이올팍 회원카드</a></li>
												</ul>
											</li>
											<li><a href="etc_05.html">회원이용약관</a></li>
											<li><a href="etc_06.html">개인정보처리방침</a></li>
											<li><a href="etc_07.html">고객서비스헌장</a> </li>
											<li><a href="etc_08.html">조이올팍회원 서비스</a> </li>
											<li><a href="etc_09.html">올림픽공원 APP소개</a> </li>
											<li><a href="etc_10.html">KSPO소개</a> </li>
											<li><a href="ect_11.html">마이페이지</a> </li>
										</ul>
									</div>
								</li>
							</ul>
							<button type="button" class="pop_close"><i class="xi-close"></i><span class="sr-only">전체메뉴
									레이어 닫기</span></button>
						</nav>
					</div>
					<div class="btn_wrap">
						<a href="../eng/index.html" class="btn_lang">
							<span>English</span>
						 </a>
                        <button class="btn_sch_open">
							<i class="xi-search"></i><span class="sr-only">검색버튼</span><!-- 모바일 검색버튼-->
						</button>
						<div class="sch_layer">
							<form class="sch_form" name="sch_form" id="schForm">
								<label for="allKeyWord" class="title sr-only">통합검색</label>
								<input type="text" name="allKeyWord" id="allKeyWord" placeholder="검색어를 입력해주세요">
								<button id="btnSch" class="btn_sch">
									<i class="xi-search"></i><span class="sr-only">검색버튼</span>
								</button>
							</form>
							<button type="button" class="btn_sch_close">
								<i class="xi-close-thin"></i><span class="sr-only">검색 닫기</span>
							</button>
						</div><!-- //sch_layer -->
						<button type="button" class="btn_allmenu"><span class="sr-only">전체메뉴보기</span><i class="icon"
								aria-hidden="true"></i></button>
					</div>
				</div>
				<!-- //container -->
			</div>
			<!-- //gnb_area -->
		</header>

		<main class="main">
			<div id="quick" class="quick">
				<h2><i aria-hidden="true"></i><span><em lang="en">Quick</em>올팍</span></h2>
				<nav>
					<ul>
						<li class="item_1"><a href=""><i></i><span>사이버<br>투어</span></a></li>
						<li class="item_2"><a href=""><i></i><span>공원<br>안내도</span></a></li>
						<li class="item_3"><a href=""><i></i><span>공연<br>행사</span></a></li>
						<li class="item_4"><a href=""><i></i><span>제휴</span></a></li>
						<li class="item_5"><a href=""><i></i><span>교통<br>주차</span></a></li>
						<li class="item_6"><a href=""><i></i><span>편의<br>시설</span></a></li>
						<li class="item_7"><a href=""><i></i><span>대관<br>예약</span></a></li>
					</ul>
				</nav>
			</div>
			<!-- //quick -->
			<div class="acctoggle">
                <button type="button" class="acctoggle_contrast">
                    <i class="icon_contrast" aria-hidden="true"></i>
                    <span>흑백모드</span>
                </button>
                <button type="button" class="acctoggle_fontsize">
                    <i class="icon_fontsize" aria-hidden="true"></i>
                    <span>글자크기</span>
                </button>
            </div>
			<!-- //acctoggle -->

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					<nav class="breadcrumbs">
						<ul>
							<li><a href=""><i class="xi-home-o"></i><span class="sr-only">Home</span></a></li>
							<li><span>공원가이드</span></li>
							<li><span>놀이시설</span></li>
							<li><strong class="current">호돌이열차</strong></li>
						</ul>
					</nav>
					<div class="util">
						<div class="sns">
							<button class="sns_btn"><span class="sr-only">SNS공유</span><i
									class="xi-share-alt-o"></i></button>
							<div class="sns_list">
								<ul id="share">
									<li class="sns_icon01"><a href="#share" onclick="snsApi('facebook'); return false;"
											title="페이스북 공유(새창)"><span class="sr-only">페이스북</span><i
												class="xi-facebook"></i></a></li>
									<li class="sns_icon02"><a href="#share" onclick="snsApi('twitter'); return false;"
											title="트위터 공유(새창)"><span class="sr-only">트위터</span><i
												class="xi-twitter"></i></a></li>
									<!-- <li class="sns_icon03"><a href="#share" onclick="snsApi('blog'); return false;" title="블로그 공유 (새창)"><span class="sr-only">블로그</span><i class="xi-naver"></i></a></li> -->
									<li class="sns_icon04"><a href="#share" onclick="snsApi('kakao'); return false;"
											title="카카오스토리 공유(새창)"><span class="sr-only">카카오스토리</span><i
												class="xi-kakaostory"></i></a></li>
									<li class="sns_icon05"><a href="#"><span class="sr-only">URL공유</span><i
												class="xi-link"></i></a></li>
								</ul>
							</div>
						</div>
						<!--//sns-->
						<a href="javascript:window.print();" class="print_btn"><span class="sr-only">프린트하기</span><i
								class="xi-print"></i></a>
						
					</div>
					<!-- //util -->
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li class="active"><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li class="active"><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">9경 스탬프 투어</h3>
					
					<figure>
						<img src="../../resources/img/sub/s1_07_02_map.jpg" alt="">	
					</figure>

					<h4 class="title_h3">스탬프투어 운영방법</h4>
					<ol class="stamp_step">
						<li>
							<em lang="en">Step 1</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon1.png" alt=""></i>
							<strong>안내센터</strong>
							<span>평화의 광장<br>만남의 광장</span>
						</li>
						<li>
							<em lang="en">Step 2</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon2.png" alt=""></i>
							<strong>출발지점<br>투어지도 수령</strong>
						</li>
						<li>
							<em lang="en">Step 3</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon3.png" alt=""></i>
							<strong>구간별<br>스탬프 찍기</strong>
						</li>
						<li>
							<em lang="en">Step 4</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon4.png" alt=""></i>
							<strong>9개장소<br>스탬프 완료</strong>
						</li>
						<li>
							<em lang="en">Step 5</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon5.png" alt=""></i>
							<strong>안내센터 방문</strong>
							<span>평화의 광장<br>만남의 광장</span>
						</li>
						<li>
							<em lang="en">Step 6</em>
							<i aria-hidden="true"><img src="../../resources/img/sub/s1_07_02_icon6.png" alt=""></i>
							<strong>완주기념<br>선물받기</strong>
						</li>
					</ol>
					<p class="p_dot mt30">스탬프 찍기</p>
					<div class="box stamp_info">
						<ul class="list_dash">
							<li>스탬프투어 용지(리플렛) 또는 올림픽공원 앱 이용 가능</li>
							<li>올림픽공원 앱을 이용할 경우 앱 화면 상단 9경 스탬프 찍기 선택 후 QR코드를 찍어 해당 장소 방문 스탬프 확인 (VISITED 표시)</li>
						</ul>
						<a href="" class="btn_link">
							<span>올림픽공원 앱 설치 안내 바로가기</span>
							<i class="xi-angle-right-min"></i>
						</a>
					</div>

					<h4 class="title_h3">투어순서</h4>
					<div class="table">
						<table>
							<caption>평화의광장 안내센터에서 시작하여 1경부터 9경의 투어순서와 만남의광장 안내센터에서 시작하여 9경부터 1경의 투어순서를 안내합니다.</caption>
							<colgroup>
								<col style="width:30%">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">출발지점</th>
									<th scope="col">투어순서</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" class="none">평화의광장 안내센터</th>
									<td class="align_left">
										<div class="text">
											<span class="p_dot">1경부터 9경 순서</span><br>
											<p class="s_text">1경 세계평화의문 → 3경 몽촌해자 음악분수 → 4경 대화(조각) → 5경 몽촌토성 산책로 → 6경 나홀로나무 → 7경 88호수 → 8경 들꽃마루 → 9경 장미광장 → 2경 엄지손가락(조각)</p>
										</div>										
									</td>
								</tr>
								<tr>
									<th scope="row" class="none">만남의광장 안내센터</th>
									<td class="align_left">
										<div class="text">
											<span class="p_dot">9경부터 1경 순서</span><br>
											<p class="s_text">2경 엄지손가락(조각) → 9경 장미광장 → 8경 들꽃마루 → 7경 88호수 → 6경 나홀로나무 → 5경 몽촌토성 산책로 → 4경 대화(조각) → 3경 몽촌해자 음악분수 → 1경 세계평화의문</p>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2" class="align_left">
										<p class="icon_note">1경부터 6경까지 조각공원코스(1.9km/약 40분 소요)도 참여가능<br>
										<span class="pd_l20">- 투어순서 : 세계평화의문 → 몽촌해자 음악분수 → 대화(조각) → 들꽃마루 → 장미광장 → 엄지손가락(조각)</span>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">스탬프투어 용지 비치장소</h4>
					<div class="thumb_box">
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/sub/s1_07_02_info1.jpg" alt="">
							</p>
							<strong class="title">평화의광장 안내센터</strong>
						</div>
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/sub/s1_07_02_info2.jpg" alt="">
							</p>
							<strong class="title">만남의광장 안내센터</strong>
						</div>
					</div>
					<h4 class="title_h3">주요동선</h4>					
					<p class="p_dot">제1경(세계평화의문)출발 시 가장 가까운 동선 (약 2시간 소요: 3.8km)</p>
					<div class="table">
						<table>
							<caption>각 출발지점(1경 ~ 9경)부터의 이동동선을 안내합니다.</caption>
							<colgroup>
								<col style="width:25%">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">출발지점</th>
									<th scope="col">이동동선</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" class="none2">제1경(세계평화의문)</th>
									<td class="align_left">
										<p class="list_style11">평화의문이 정면으로 보이는 방향</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제3경(몽촌해자 음악분수)</th>
									<td class="align_left">
										<p class="list_style11">소마미술관을 지나서 좌측으로 “촬영명소” 이정표</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제4경(대화:조각)</th>
									<td class="align_left">
										<p class="list_style11">몽촌해자 물레방아, 소마미술관 사이를 지나 직진, 왼쪽에 조각품 (대화)이 위치해 있음</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제5경(몽촌토성 산책로)</th>
									<td class="align_left">
										<p class="list_style11">조각품(대화)를 지나 사잇길로 이동, “몽촌토성” 안내표시판이 있는 나무계단으로 올라가기, 계단을 올라가서 왼쪽으로 약 50m정도 직진, 내려가는 계단바로 전에 안내표시판 위치 해 있음</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제6경(나홀로나무)</th>
									<td class="align_left">
										<p class="list_style11">산책로를 따라서 끝가지 내려와서 오른쪽으로 직진 화장실 앞 삼거리에서 좌측으로 직진, 나홀로 나무로 들어가는 잔디밭이 있음</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제7경(88호수)</th>
									<td class="align_left">
										<p class="list_style11">88호수 입구에서 호수가 있는 아래쪽으로 내려가서 첫 번째 오른쪽 길, 쓰레기통 바로 앞쪽에 안내표시판</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제8경(들꽃마루)</th>
									<td class="align_left">
										<p class="list_style11">KSPO DOME(체조경기장) 2-3문을 지난 후 SK핸드볼경기장을 지나, 우리금융아트홀 사잇길로 이동, 백호다리를 건너서 국민체육진흥공단(올림픽문화센터) 앞쯕으로 이동 나무계단 바로 위에 안내표시판 있음</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제9경(장미광장)</th>
									<td class="align_left">
										<p class="list_style11">경비초소앞, 콘랏헹겔 장미안내 표시판 앞에 안내표시판 있음</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="none2">제2경(엄지손가락:조각)</th>
									<td class="align_left">
										<p class="list_style11">만남의광장 내, 안내센터 10m 앞에 위치해 있음</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4 class="title_h3">운영시간</h4>					
					<div class="box">
						<ul class="list_dot">
							<li>안내센터 운영시간 (09:00 ~ 19:00, 휴게시간 12:00~13:00)</li>
							<li>평화의광장 안내센터 (02-2180-3564~5)</li>
							<li>만남의광장 안내센터 (02-2180-3566)</li>
						</ul>
					</div>
					<h4 class="title_h3">장소별 설치내역</h4>					
					<div class="thumb_box">
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/sub/s1_07_02_sign1.jpg" alt="">
							</p>							
						</div>
						<div class="item">
							<p class="thumb">
								<img src="../../resources/img/sub/s1_07_02_sign2.jpg" alt="">
							</p>
						</div>
					</div>
					<h4 class="title_h3">올림픽공원 9경 스탬프투어 이용안내 리플렛
						<small class="icon_note">이미지 클릭하면 크게 보실 수 있습니다.</small>
					</h4>					
					<div class="thumb_box">
						<div class="item">
							<p class="thumb">
								<a href="../../resources/img/sub/9view_stamp_leaflet1.jpg" target="_blank" title="새창열림">
									<img src="../../resources/img/sub/s1_07_02_leaflet1.jpg" alt="">
								</a>
							</p>							
						</div>
						<div class="item">
							<p class="thumb">
								<a href="../../resources/img/sub/9view_stamp_leaflet1.jpg" target="_blank" title="새창열림">
									<img src="../../resources/img/sub/s1_07_02_leaflet2.jpg" alt="">
								</a>
							</p>
						</div>
					</div>
					
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>