<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>

			
			

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li class="active"><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li class="active"><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">호돌이열차</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림픽공원의 명물 호돌이열차를 운행하고 있습니다.</p>
							<p class="sub_txt">올림픽공원의 명물인 호돌이열차를 타시면, 공원 내부를 순환하면서 여러 시설물 및 미술품 등을 감상하실 수 있습니다.</p>
						</div>
						<div class="btn_wrap">
							<a href="https://www.ksponco.or.kr/online/train/index.do" target="_blank" title="새창 열림" class="btn_site">
								<span>호돌이열차 예약</span>
								<i class="xi-external-link"></i>
							</a>
						</div>
					</div>									
					
					<figure>
						<img src="../../resources/img/sub/s1_04_pic01.jpg" alt="">	
					</figure>
					<h4 class="title_h3">매표소 및 코스안내</h4>
					<div class="park_map train_map tab_wrap">
						<ul class="train_tabs tabs">
							<li class="active title">
								<a href="#map00" class="tab_nav" title="선택된 탭메뉴">
									<strong>운행코스</strong>
									<span>위치를 클릭해 확인해주세요</span>
								</a>
							</li>
							<li class="course">
								<a href="#map01" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i><span class="txt">미술관 앞</span>
								</a>
							</li>
							<li class="course">
								<a href="#map02" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i><span class="txt">삼거리</span>
								</a>
							</li>
							<li class="course">
								<a href="#map03" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i><span class="txt">한얼광장</span>
								</a>
							</li>
							<li class="course">
								<a href="#map04" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i><span class="txt">피크닉장 순환</span>
								</a>
							</li>
						</ul>
						<div class="tab_cont" id="map00">
							<div class="map">
								<img src="../../resources/img/sub/s1_04_map_course0.png" alt="운행코스">
							</div>
						</div>
						<div class="tab_cont" id="map01">
							<div class="map">
								<img src="../../resources/img/sub/s1_04_map_course1.png" alt="미술관">
							</div>
						</div>	
						<div class="tab_cont" id="map02">
							<div class="map">
								<img src="../../resources/img/sub/s1_04_map_course2.png" alt="삼거리">
							</div>
						</div>	
						<div class="tab_cont" id="map03">
							<div class="map">
								<img src="../../resources/img/sub/s1_04_map_course3.png" alt="한얼광장">
							</div>
						</div>	
						<div class="tab_cont" id="map04">
							<div class="map">
								<img src="../../resources/img/sub/s1_04_map_course4.png" alt="피크닉장">
							</div>
						</div>						
					</div>
					<!-- //train_map -->
					<h4 class="title_h3">운행구간 : 평화의광장 ↔ 피크닉장</h4>
					<div class="box">
						<ul class="list_dot">
							<li>평화의광장(출발) → 피크닉장(회차) → 평화의광장(도착)</li>
							<li>소요시간 : 약 20분 / 약 5km
								<p class="icon_note">호돌이 열차는 왕복으로만 운행합니다. (편도 없음)</p>
							</li>
						</ul>
					</div>
					<!-- //운행구간 -->

					<h4 class="title_h3">운영요일 및 시간
						<small class="icon_note">매주 월요일 정기휴무(차량점검)</small>
					</h4>
					
					<div class="box">
						<ul class="list_dot">
							<li>평일(화~금) : 20인 이상 인터넷 사전예약로 운영</li>
							<li>토·일·공휴일 : 1인 이상 인터넷 사전 예약 운영
								<ul class="list_dash">
									<li>4월, 5월, 6월, 9월 11:00 ∼ 18:00 - 10월 11:00 ∼ 17:30</li>
									<li>3월, 7월, 8월, 11월 13:00 ∼ 17:30</li>
								</ul>
								<p class="icon_note">15명 이상 승차 시 출발 가능(15명 미만 시 현장발권 가능)</p>
							</li>
							<li>인터넷 예약제 운영 (이용 1일 전 18:00까지 예약)
								<ul class="list_dash">
									<li>예약접수 : 호돌이열차 예약시스템 (https://www.ksponco.or.kr/online/train/index.do)</li>
								</ul>
							</li>
							<li><span class="point">동절기(12월~2월)는 운영하지 않습니다.</span></li>
							<li>행사 및 기상악화로 인한 운영중단은 홈페이지 별도 공지</li>
						</ul>
					</div>
					<!-- //운행구간 -->
					<h4 class="title_h3">호돌이열차 운행시간표
						<small class="icon_note">평화의광장 매표소 기준</small>
					</h4>
					<div class="row">
						<div class="table col-sm-4">
							<table>
								<caption>호돌이열차 평일(화~금) 운행시간표 - 구분(회차), 평일(화요일~금요일)</caption>
								<colgroup>
									<col style="width:20%">
									<col>
								</colgroup>
								<thead>
									<tr>
									<th scope="col">구분<br>(회차)</th>
									<th scope="col">평일(화요일~금요일)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<td>1</td>
									<td>09:30</td>
									</tr>
									<tr>
									<td>2</td>
									<td>10:00</td>
									</tr>
									<tr>
									<td>3</td>
									<td>10:30</td>
									</tr>
									<tr>
									<td>4</td>
									<td>11:00</td>
									</tr>
									<tr>
									<td>5</td>
									<td>11:30</td>
									</tr>
									<tr>
									<td>6</td>
									<td>13:30</td>
									</tr>
									<tr>
									<td>7</td>
									<td>14:30</td>
									</tr>
									<tr>
									<td>8</td>
									<td>15:30</td>
									</tr>
									<tr>
									<td>9</td>
									<td>16:30</td>
									</tr>
									<tr>
									<td>10</td>
									<td>17:30</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table col-sm-4">
							<table>
								<caption>호돌이열차 주말·공휴일(4∼6월, 9∼10월) 운행시간표 - 구분(회차), 4월, 5월, 6월, 9월, 10월(토요일, 일요일, 공휴일)</caption>
								<colgroup>
									<col style="width:20%">
									<col>
								</colgroup>
								<thead>
									<tr>
									  <th scope="col">구분<br>(회차)</th>
									  <th scope="col">4월, 5월, 6월, 9월, 10월<br>(토요일, 일요일, 공휴일)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									  <td>1</td>
									  <td>11:00~11:25</td>
									</tr>
									<tr>
									  <td>2</td>
									  <td>11:35 ~ 12:00</td>
									</tr>
									<tr>
									  <td>3</td>
									  <td>12:10 ~ 12:35</td>
									</tr>
									<tr>
									  <td>4</td>
									  <td>12:45 ~ 13:10</td>
									</tr>
									<tr>
									  <td>5</td>
									  <td>13:20 ~ 13:45</td>
									</tr>
									<tr>
									  <td>6</td>
									  <td>13:55 ~ 14:25</td>
									</tr>
									<tr>
									  <td colspan="2">차량정비시간(14:25~14:55)</td>
									</tr>
									<tr>
									  <td>7</td>
									  <td>15:10 ~ 15:30</td>
									</tr>
									<tr>
									  <td>8</td>
									  <td>15:40 ~ 16:10</td>
									</tr>
									<tr>
									  <td>9</td>
									  <td>16:20 ~ 16:50</td>
									</tr>
									<tr>
									  <td>10</td>
									  <td>17:00 ~ 17:30</td>
									</tr>
									<tr>
									  <td>11</td>
									  <td>17:40 ~ 18:00<br><strong class="point">(10월 미운행)</strong></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table col-sm-4 ">
							<table>
								<caption>호돌이열차 주말·공휴일(3월, 7월, 8월, 11월) 운행시간표-구분(회차), 3월, 7월, 8월, 11월(토요일, 일요일, 공휴일)</caption>
								<colgroup>
									<col style="width:20%">
									<col>
								</colgroup>
								<thead>
									<tr>
									  <th scope="col">구분<br>(회차)</th>
									  <th scope="col">3월, 7월, 8월, 11월<br>(토요일, 일요일, 공휴일)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									  <td>1</td>
									  <td>13:00 ~ 13:30</td>
									</tr>
									<tr>
									  <td>2</td>
									  <td>14:00 ~ 14:30</td>
									</tr>
									<tr>
									  <td>3</td>
									  <td>15:00 ~ 15:30</td>
									</tr>
									<tr>
									  <td colspan="2">차량정비시간(15:30~15:50)</td>
									</tr>
									<tr>
									  <td>4</td>
									  <td>16:00 ~ 16:30</td>
									</tr>
									<tr>
									  <td>5</td>
									  <td>17:00 ~ 17:30</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- //table -->
					</div>
					<!-- //row -->

					<h4 class="title_h3">티켓구매</h4>
					<div class="box">
						<p class="p_dot">평화의광장 호돌이열차 매표소</p>
					</div>

					<h4 class="title_h3">이용요금</h4>
					<div class="table responsive">
						<table>
							<caption>호돌이열차의 성인, 청소년, 어린이의 요금표입니다.</caption>
							<colgroup>
								<col style="width:20%">
								<col style="width:17%">
								<col style="width:17%">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">성인</th>
									<th scope="col">청소년/어린이</th>
									<th scope="col">비고</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">이 용 료</th>
									<td>5,000원</td>
									<td>3,000원</td>
									<td class="align_left">
										<ul class="list_dash">
											<li>성 &nbsp;&nbsp;인 : 만 19세 이상</li>
											<li>24개월 미만 무료(확인서류 지참)</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">안내 및 예약</h4>
					<div class="box_title">
						<div class="title">
							<span>문의전화</span>
							<strong>02)2180-3961</strong>
						</div>
						<div class="cont">
							운행시간, 장소, 요금에 관하여 친절하게 안내 받으실 수 있습니다.
						</div>
					</div>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			
</body>

</html>