<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>


			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li class="active"><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li class="active"><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">올림픽공원 9경</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림픽공원의 가장 아름다운 곳, 9경</p>
							<p class="sub_txt">도심속 쉼터인 올림픽공원 내에서 가장 아름다운 곳 '9개의 장소'와 '구경하다'의 의미를 내포하는 구경 (九景)은
								한국사진작가협회에서 추천한 사진촬영 명소입니다. 가족, 연인과 함께 구경 (九景) 투어를 통해 멋진 추억을 만드시기 바랍니다.</p>
						</div>
					</div>
					
					<div class="nine_view tab_wrap">
						<nav class="tabs">
							<button type="button" class="btn_prev"><span class="sr-only">이전</span><i class="xi-angle-left-min"></i></button>
							<ul>
								<li class="active" data-view="1"><a href="#view1" class="tab_nav"><img src="../../resources/img/sub/s1_07_view1_thumb.jpg" alt=""></a></li>
								<li data-view="2"><a href="#view2" class="tab_nav"><img src="../../resources/img/sub/s1_07_view2_thumb.jpg" alt=""></a></li>
								<li data-view="3"><a href="#view3" class="tab_nav"><img src="../../resources/img/sub/s1_07_view3_thumb.jpg" alt=""></a></li>
								<li data-view="4"><a href="#view4" class="tab_nav"><img src="../../resources/img/sub/s1_07_view4_thumb.jpg" alt=""></a></li>
								<li data-view="5"><a href="#view5" class="tab_nav"><img src="../../resources/img/sub/s1_07_view5_thumb.jpg" alt=""></a></li>
								<li data-view="6"><a href="#view6" class="tab_nav"><img src="../../resources/img/sub/s1_07_view6_thumb.jpg" alt=""></a></li>
								<li data-view="7"><a href="#view7" class="tab_nav"><img src="../../resources/img/sub/s1_07_view7_thumb.jpg" alt=""></a></li>
								<li data-view="8"><a href="#view8" class="tab_nav"><img src="../../resources/img/sub/s1_07_view8_thumb.jpg" alt=""></a></li>
								<li data-view="9"><a href="#view9" class="tab_nav"><img src="../../resources/img/sub/s1_07_view9_thumb.jpg" alt=""></a></li>
							</ul>
							<button type="button" class="btn_next"><span class="sr-only">다음</span><i class="xi-angle-right-min"></i></button>
						</nav>
						<div id="view1" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view1_pic01.jpg" alt="">	
								<figcaption>
									<strong>1경<span>세계평화의문</span></strong>
									<em>김중업 작품 (규격 : 62.0×37.0×24.0m)</em>
									<p>서울올림픽기념 상징조형물로, 세계 평화를 기원하는 의미를 담고 있음</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>1경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>평화를 기원하는 한민족의 얼이 담긴</small>
										<h4>세계평화의 문</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view1_pic02.jpg" alt="세계평화의문">
									<img src="../../resources/img/sub/s1_07_view1_pic03.jpg" alt="세계평화의문 사신도">	
								</div>
	
								<div class="text">
									<h5 class="title_h3">서울올림픽 정신을 기리기 위한 건축가 김중업의 작품</h5>
									<p class="s_text mb30">1988년 7월 건축가 김중업씨의 설계로 건립된 조형물로, 한민족의 저력과 기량을 전 세계에 떨친 88서울올림픽대회를 기념하기 위해 “세계평화의문”이라는 이름으로 세워졌습니다. 높이 24m, 폭(전/후) 37m, 전면 길이 62m(날개 정면폭)의 규모로 아름답고 장중한 외양이 경탄을 자아냅니다.<br>
									이 작품은 한민족의 우수성과 그 저변에 자리한 우리 얼을 표현한 작품으로, 세계평화의문은 한국 전통건축의 둥근 곡선을 활용, 비상과 상승의 이미지를 강조하였습니다.</p>
								
									<h5 class="title_h3">고구려 벽화 사신도와 열주탈로 형상화한 우리 얼</h5>
									<p class="s_text">천정부분인 날개 하단에는 서양화가 백금남씨가 한국 전통양식을 주조로 하여 우측에는 현무와 주작, 좌측에는 청룡과 백호를 단청으로 그려서 고구려 벽화 사신도를 형상화 하였고, “세계평화의문” 앞쪽 좌ㆍ우에는 조각가 이승택씨가 만든 열주탈이 각각 30개씩 늘어서서 특유의 익살스러운 표정으로 방문객을 맞이합니다.</p>										
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view2" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view2_pic01.jpg" alt="">	
								<figcaption>
									<strong>2경<span>엄지손가락(조각)</span></strong>
									<em>세자르 발다치니(프랑스)작품 (규격 : 청동 3.6×2.7×6.0m) </em>
									<p>으뜸을 상징하는 인체의 일부를 극적으로 확대한 작품</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>2경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>'미완의 사랑'을 찾아 떠나는 시간여행</small>
										<h4>엄지손가락</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view2_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view2_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<h5 class="title_h3">프랑스의 국보급 조각가, 세자르 발다치니의 청동작품</h5>
									<p class="s_text mb10">1988년 제작된 ‘엄지손가락’은 세계에 7개밖에 없는 대형 엄지손가락 조각상입니다.<br>
									프랑스의 국보급 조각가 세자르 발다치니의 작품으로, 그는 고철과 산업쓰레기 등을 이용해 산업사회의 일회성 가치를 신랄하게 풍자해 신사실주의의 기수로 불리고있고, 인체의 특정 부위를 크게 만드는 작업을 한 인체 조각가로도 유명합니다. 우리나라에 있는 ‘엄지손가락’은 6m이며, 프랑스에 있는 것은 12m입니다. 특히 이곳 올림픽공원 만남의광장 주변에 설치된 엄지손가락을 제작할 당시 작가는 두 번이나 위암 수술을 받고 생사의 고비를 넘나들면서 완성한 거작입니다.</p>
									<p class="s_text mb10">세자르 발다치니의 생전에 본인 작품에 대한 사랑이 각별했던 것으로 알려져있습니다.<br>1993년 프랑스 미테랑 대통령이 한국을 방문했을 때, 그는 문화사절단 공식 수행원 자격으로 2박 3일동안 두 번째로 한국을 방문하기도 했습니다.</p>
									<p class="s_text">이처럼 우리나라와 커다란 인연이 있는 세자르 발다치니는 1998년에 세상을 떠났지만, 그의 조각상을 보며 아름다운 작품세계로 떠나보는 건 어떨까요.</p>
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view3" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view3_pic01.jpg" alt="">	
								<figcaption>
									<strong>3경<span>몽촌해자 음악분수</span></strong>
									<p>140여곡의 멜로디에 따라 14,000가지의 모양을 연출하며
										30m 높이까지 물을 뿜어올리는 음악분수</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>3경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>아름다운 선율이 자아내는 1만 4천개의 황홀경</small>
										<h4>몽촌해자 음악분수</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view3_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view3_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<h5 class="title_h3">역사의 숨결을 오롯이 간직한 백제의 유적</h5>
									<p class="s_text mb30">해자란 성벽 바깥을 따라 도는 물길로서, 적이 성벽에 접근하지 못하게 막는 군사방어시설이라 할 수 있습니다. 몽촌해자는 1983년 몽촌토성 외곽을 발굴조사할 때 성벽 아래에서 발견된 도랑 흔적을 기초로 주변 경관과 어울리게 새로 만든 인공호수입니다.<br>
									둘레 1,800m, 총면적 53,500㎡, 수심 1.4~2m, 담수량 76,000톤이며,다양한 동식물이 서식하는 자연생태 교육공원으로도 활용되고 있습니다.<br>
									몽촌해자 중앙에는 포항제철에서 기증한 음악분수가 1989년 9월 설치되어 시원한 물줄기가 최고 30m까지 치솟으며 총 140여곡의 멜로디에 맞춰 14종 14,000여 가지의 환상적인 모양을 연출합니다.</p>
									<h5 class="title_h3">희귀 야생동식물이 서식하는 도심 속 생태천국</h5>
									<p class="s_text mb30">해자 주변에는 600m의 자연형 호안이 있고, 6개로 이루어진 216㎡의 인공 식물섬에는 각종 동식물이 서식합니다.</p>
									<ul class="list_dot">
										<li><span class="text_bold">가동기간</span> : 5월 ~ 10월(6개월)	</li>
										<li><span class="text_bold">가동안내</span>
											<div class="table">
												<table>
													<caption>분수명, 가동시간, 비고</caption>
													<colgroup>
														<col style="width:30%">
														<col style="width:35%">
														<col style="width:35%">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">분수명</th>
															<th scope="col">가동시간</th>
															<th scope="col">비고</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="align_center">음악분수</td>
															<td class="align_center">11:00 ~ 17:00</td>
															<td class="align_center">매 정시 10분씩 가동</td>
														</tr>
														<tr>
															<td class="align_center">몽촌분수</td>
															<td class="align_center">11:00 ~ 17:00</td>
															<td class="align_center">연속 가동</td>
														</tr>
													</tbody>
												</table>
											</div>
											<small class="icon_note">주요 행사, 일기상황, 에너지절약 등에 따라 가동이 변경될 수 있습니다.</small>
										</li>
										<li><span class="text_bold">연락처</span> : 02-2180-3593(시설안전팀)</li>
									</ul>								
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view4" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view4_pic01.jpg" alt="">	
								<figcaption>
									<strong>4경<span>대화(조각)</span></strong>
									<em>모한 아마라(알제리)작품 (규격 : 화강암 6.0×1.8×3.3m)</em>
									<p>서로의 생각과 느낌을 교환하려 애쓰는 모습을 조각을 통하여 형상화</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>4경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>'너와 나'를 넘어 '우리'가 되는 유일한 길</small>
										<h4>대화</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view4_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view4_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<p class="s_text mb30">알제리의 세계적인 조각가 아마라 모한은 1987년 7월부터 8월까지 50일간 한국에 머물면서 거대한 화강암을 깎고 다듬어 6.0×1.8×3.3m 크기의 ‘대화’조각상을 직접 제작하였습니다.</p>
									<h5 class="title_h3">소통의 법칙 하나. 입은 다물고 귀를 열라!</h5>
									<p class="s_text mb30">이 조각상은 서로 똑같이 생긴 쌍둥이가 몹시 사이가 좋지 않고 매일 싸움만 하여 대화를 단절하자 이에 분노한 신이 벌로 눈을 빼앗아 서로 볼 수 없게 한 뒤, 평생 옆에 붙어 대화를 하도록 했다는 이야기에 바탕을 둔 작품입니다.<br>
									입은 다물어져 있지만 서로를 향해있는 두 사람의 모습에서 ‘말하기 보다는 먼저 경청하는 것이 대화의 첫걸음’이라는 것을 말해주는 듯하고, 또 서로 이야기를 잘 듣기 위해 머리가 포개질 정도로 가까이 다가간 모습이 의사소통을 위한 노력을 표현하는 듯합니다.</p>
									<h5 class="title_h3">동서화합의 물꼬를 튼 서울올림픽정신 형상화</h5>
									<p class="s_text mb10">이 조각상은 지리, 언어, 문화, 정치 등의 장벽을 뛰어넘어 세계의 모든 사람들이 서로 나누는 대화의 의미를 상징적으로 표현하고 있습니다. 이는 올림픽을 통해 세계평화를 이룩한다는 올림픽의 숭고한 정신과도 일맥상통합니다.</p>
									<p class="s_text">특히, 올림픽공원은 세계5대조각공원중 하나로 평가받고 있으며 88호수 주변, 평화의광장, 만남의광장등 올림픽공원의 다양한 장소에서 세계 유명 조각 작가 작품 약 177여점 및 한국작가들의 작품 34여점등 약 211여개의 작품을 감상 할 수 있습니다.</p>	
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view5" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view5_pic01.jpg" alt="">	
								<figcaption>
									<strong>5경<span>몽촌토성 산책로</span></strong>
									<em>전경이 매우 아름다운 산책코스 (약 2.3km)</em>
									<p>올림픽공원 산책로는 호반의 길, 토성의 길, 추억의 길, 연인의 길, 젊음의 길이 있음</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>5경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>새들도 날개를 접고 거니는 꿈결 같은 길</small>
										<h4>몽촌토성 산책로</h4>
									</div>
								</div>	
	
								<div class="text">
									<p class="s_text mb30">몽촌토성은 고대 백제 사람들이 남한산에서 뻗어 내린 낮은 구릉에 만든 토성으로서, 성벽 둘레 2,285m이며, 성벽 안쪽의 면적은 216,000㎡입니다.
									성벽 바깥의 몽촌해자, 88해자, 성내천 일부 등을 합하면 총면적 542,542㎡이며, 몽촌(夢村)이란 순우리말로 ‘꿈마을’이란 의미를 가지고 있습니다. 올림픽공원 주변에 높은 아파트들이 들어서기 전에는 서쪽 성벽 위에서 행주산성(고양시)이 보였다고 합니다. 88서울올림픽을 준비하기 위해 1983년부터 1988년까지 몽촌토성을 연차적으로 발굴조사하여 동문, 남문, 북문 등의 성문과 해자, 목책, 외성 흔적을 확인하였으며, 성 안에서 각종 건물, 연못, 창고 등을 발견하였고, 몽촌토성은 1982년 7월 22일 사적 제297호로 지정되었습니다.</p>
									<ul class="thumb_list">
										<li>
											<div class="thumb">
												<img src="../../resources/img/sub/s1_07_view5_pic02.jpg" alt="">
											</div>
											<dl class="info">
												<dt class="tit">겨울이면 갈대가 장관을 이루는 ‘호반의 길’</dt>
												<dd class="text">가장 짧은 ‘호반의 길’은 몽촌토성의 해자 일부를 한 바퀴 도는 코스(평화의광장 -> 곰말다리 -> 평화의광장)로, 길이가 1.302㎞이며 산책하는 데 18분가량 소요됩니다.</dd>
											</dl>
										</li>
										<li>
											<div class="thumb">
												<img src="../../resources/img/sub/s1_07_view5_pic03.jpg" alt="">
											</div>
											<dl class="info">
												<dt class="tit">탁 트인 전망, 아름다운 경관이 으뜸인 ‘토성의 길’</dt>
												<dd class="text">전체 코스가 몽촌토성 위로 길이 이어져 있으며 주변 경관도 좋아 몽촌토성의 코스 중에서 가장 많은 사람들이 이용하는 곳입니다. 
													2.21㎞에 30분 정도 소요됩니다.</dd>
											</dl>
										</li>
										<li>
											<div class="thumb">
												<img src="../../resources/img/sub/s1_07_view5_pic04.jpg" alt="">
											</div>
											<dl class="info">
												<dt class="tit">백제유적지를 돌며 역사를 돌아보는 ‘추억의 길’</dt>
												<dd class="text">몽촌토성을 거쳐 백제집자리전시관 등을 걸으며 백제역사를 되돌아 볼 수 있는 코스(곰말다리 -> 토성중심 -> 백제집자리전시관 -> 토성순환 -> 피크닉장 -> 곰말다리)입니다. 3.35㎞에 45분 정도 걸리며 공원 내부를 걸을 수 있는 조용한 길입니다.</dd>
											</dl>
										</li>
										<li>
											<div class="thumb">
												<img src="../../resources/img/sub/s1_07_view5_pic05.jpg" alt="">
											</div>
											<dl class="info">
												<dt class="tit">호적한 데이트코스로 제격인 ‘연인의 길’</dt>
												<dd class="text">‘토성의 길’과 교차하며 이어지는 코스(곰말다리 -> 토성중심 -> 몽촌역사관 -> 88호수 -> 88마당 -> 삼거리 -> 토성중심 -> 피크닉장 -> 평화의광장 -> 곰말다리)입니다. 연인들의 데이트코스로 4.29㎞에 약 1시간이 소요됩니다.</dd>
											</dl>
										</li>
										<li>
											<div class="thumb">
												<img src="../../resources/img/sub/s1_07_view5_pic06.jpg" alt="">
											</div>
											<dl class="info">
												<dt class="tit">마라톤 코스로 애용되는 ‘젊음의 길’</dt>
												<dd class="text">몽촌토성 외곽을 크게 한 바퀴 도는 코스로, 달리기를 좋아하는 사람들이 선호하는 코스입니다. 3.15㎞에 40분 정도 소요됩니다.</dd>
											</dl>
										</li>
									</ul>
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view6" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view6_pic01.jpg" alt="">	
								<figcaption>
									<strong>6경<span>나홀로 나무</span></strong>
									<em>수종 : 측백나무(높이 약 10m)</em>
									<p>각종 영화, 드라마, 광고 등의 배경으로 사랑받고 있으며 일명 "나홀로 나무"라고 불림</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>6경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>푸른 하늘, 넓은 들, 내 마음의 쉼표</small>
										<h4>나홀로 나무</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view6_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view6_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<p class="s_text mb30">올림픽공원의 명물인 나홀로 나무는 주위에 나무가 없고 혼자 우뚝 서 있다 해서 나홀로 나무라는 이름이 붙었습니다.</p>
									<h5 class="title_h3">나홀로 나무가 홀로 된 진짜 이유는?</h5>
									<p class="s_text mb30">나홀로 나무가 홀로 서있게 된 것은 1985년 86서울아시아경기대회와 88서울올림픽대회를 앞두고 몽촌토성 안에 있던 30여채의 민가를 철거하는 과정에서 키가 크고 모양이 예쁜 나무만 남기고 모두 베어버렸기 때문이라고 합니다.</p>									
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view7" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view7_pic01.jpg" alt="">	
								<figcaption>
									<strong>7경<span>88호수, 팔각정(오륜정)</span></strong>
									<em>규모 : 12,700㎡ (15,000톤)</em>
									<p>인공호수 주변에 약 13개의 조각작품이 있으며, 대표작품으로는 “날갯짓”이 있음</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>7경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>자연과 사람, 문화가 어우러진 낭만지대</small>
										<h4>88호수, 팔각정(오륜정)</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view7_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view7_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<p class="s_text mb30">88호수는 성내천의 유수지 역할을 하는 인공호수로, 호수 한 쪽에 팔각정이 있어 한 폭의 수채화처럼 아름다운 경관을 연출합니다.<br>
									12,700㎡의 면적에 수심이 약 2m이며, 담수량은 15,000톤으로 앞쪽에 자리 잡은 수변무대는 각종 행사와 공연무대로 활용되고, 특히 웨딩촬영 명소로 인기를 얻고 있습니다.
									</p>
									<h5 class="title_h3">인간과 자연이 함께 만든 예술작품, 날갯짓</h5>
									<p class="s_text">88호수에는 일본의 조각가 스스무 싱구가 설치한 ‘날갯짓’이 있는데, 이 작품은 모두 17개의 조형물로 이루어져 있습니다.<br>
									‘날갯짓’은 물과 바람, 햇빛 등의 자연 요소를 이용해 조형물의 움직임을 보여주며 부표 원리에 의해 호수 위에 떠 있는 17개의 날개들이 바람에 의해 좌우, 위아래로 움직입니다.<br>	
									88호수에서 인간과 자연이 함께 연출해내는 예술작품, 인공미와 자연미의 조화를 직접 두 눈으로 감상해보시기 바랍니다.<br>
									9경 스탬프 투어의 하나인 88호수를 찾아 호수의 아름다운 광경과 더불어 팔각정을 찾아 12지간 석상을 둘러보는 것도 빼놓을 수 없는 재미입니다.</p>									
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view8" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view8_pic01.jpg" alt="">	
								<figcaption>
									<strong>8경<span>들꽃마루</span></strong>
									<em>계절별로 다양한 들꽃 감상 가능</em>
									<p>봄꽃(5~6월/꽃양귀비, 안개초, 수레국화 등), 가을꽃(9~10월/센세이션코스모스, 노랑코스모스 등)</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>8경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>철따라 꽃잔치가 열리는 도심 속 정원</small>
										<h4>들꽃마루</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view8_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view8_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<p class="s_text mb30">들꽃마루는 장미광장과 올림픽문화센터 옆쪽 들꽃마루 휴게 쉼터와 함께 조성되어 있는 2,800㎡ 면적의 야생화단지입니다.<br>
									마루는 꼭대기 혹은 최고를 뜻하는 순우리말로, 들꽃마루 언덕 위에는 흥부네 원두막이 있습니다. 봄부터 가을까지 다양한 종류의 들꽃들이 양쪽 경사로를 따라 한 폭의 수채화처럼 아름다운 경관을 선사합니다.<br>
									들꽃마루에서 5~6월에는 꽃양귀비, 안개초, 수레국화 등이 화려한 자태를 뽐내며, 9~10월에는 센세이션코스모스, 노랑코스모스 등이 색다른 경관을 연출합니다.
									</p>
																	
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
						<div id="view9" class="tab_cont view">
							<figure>
								<img src="../../resources/img/sub/s1_07_view9_pic01.jpg" alt="">	
								<figcaption>
									<strong>9경<span>장미광장</span></strong>
									<em>13,260㎡에 165종 18,500주의 장미가 식재되어 있음</em>
									<p>개장 : 2010. 6(13,260㎡) / 위치 : 공원 내 K-아트홀와 올림픽홀 사이</p>
									<a href="" class="btn_more">위치보기</a>
								</figcaption>
							</figure>	
							<div class="story_telling">	
								<div class="title">
									<span class="number">
										<strong>9경</strong>
										<small>Story telling</small>
									</span>
									<div class="name">
										<small>서울에서 가장 프러포즈하기 좋은 곳</small>
										<h4>장미광장</h4>
									</div>
								</div>	
								<div class="pic">
									<img src="../../resources/img/sub/s1_07_view9_pic02.jpg" alt="">
									<img src="../../resources/img/sub/s1_07_view9_pic03.jpg" alt="">	
								</div>
	
								<div class="text">
									<h5 class="title_h3">싱그러운 장미향 그윽한 올림픽공원의 새 명소</h5>
									<p class="s_text mb30">장미광장은 2010년 6월에 개장한 새로운 휴식공간으로, 서울 도심에서 다양한 장미 향기를 만끽할 수 있는 곳입니다.<br>

									올림픽공원의 상징성을 살리기 위해 고대올림픽과 근대올림픽의 만남을 주제로 제우스 등 올림푸스 12신들의 이름을 따서 명명한 12개의 장미화단으로 구성되어 있습니다.<br>
									
									또한 중간 중간 열주를 세워 고대 그리스의 도시 분위기를 연출했으며, 총 13,260㎡의 면적에 마리아 칼라스, 엘르 등 외산장미 146종 16,300주의 장미가 식재되어 있습니다.<br>
									
									진선미 등 19종의 순수 국산장미로만 별도의 테마공원을 조성했습니다.</p>
									<h5 class="title_h3">문화와 예술이 흐르는 낭만지대로 오세요</h5>
									<p class="s_text mb30">장미광장에 오시면 다양한 꽃말을 지닌 수많은 종류의 장미꽃들을 감상하실 수 있을 뿐 아니라 '비너스의 탄생' 등 고풍스러운 그리스 벽화를 함께 보는 즐거움도 누릴 수 있습니다.<br>
									※ 8월 초순부터 9월 중순까지는 가을장미를 준비하는 기간이라 장미꽃을 감상하실 수 없습니다. 이점 참고하셔서 관람하시기 바랍니다.</p>																	
								</div>
							</div>
							<!-- //story_telling -->
						</div>
						<!-- //view -->
					</div>
					<!-- //nine_view -->
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>