<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_03.html">유실물센터</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">공원이용정보</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">언제든 쉬어갈 수 있는 녹색휴식처</p>
							<p class="sub_txt">건강은 물론 마음의 여유까지 생각하는 도심속의 오아시스, 올림픽공원</p>
						</div>
					</div>					
					<figure class="pic">
						<img src="../../resources/img/sub/s1_01_pic01.jpg" alt="">
						<img src="../../resources/img/sub/s1_01_pic02.jpg" alt="">
					</figure>

					<h4 class="title_h3">올팍 이용안내</h4>

					<div class="table left">
						<table>
							<caption>올팍 이용안내를 구분, 내용의 항목으로 정리한 표입니다.</caption>
							<colgroup>
								<col class="w20">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">내용</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">이용장소</th>
									<td>서울시 송파구 방이동</td>
								</tr>
								<tr>
									<th scope="row">이용기간</th>
									<td>연중무휴</td>
								</tr>
								<tr>
									<th scope="row">공원 입장시간</th>
									<td>
										<p>도보나 자전거 출입 : 05:00 ~ 22:00 (광장지역은 24:00)<br>
										차량 출입 : 06:00 ~ 22:00<br>
										차량 출차 : 동2문 - 00:00 ~ 24:00 / 북2문, 남2문 - 06:00 ~ 22:30</p>
										<p class="icon_note">시설물 안전과 방문객의 신변보호를 위해 22시 이후에는 공원 안쪽으로의 출입을 금합니다.</p>
										<p class="icon_note">심야 행사 시에는 출입문 개방 조정</p>
									</td>
								</tr>
								<tr>
									<th scope="row">이용요금</th>
									<td>무료</td>
								</tr>
								<tr>
									<th scope="row">주차요금</th>
									<td>올림픽공원 주차안내 바로가기 <a href="" title="새창 열림" target="_blank" class="btn_link ml20"><span>주차안내</span><i class="xi-angle-right-min"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //table -->

					<h4 class="title_h3">올팍 에티켓</h4>
					<div class="box">
						<ul class="list_dot">
							<li>흡연을 삼가하여 주십시오.</li>
							<li>공원 내에서 다른 관람객들에게 피해가 되는 행동은 삼가하여 주십시오. <em class="point2">(고성방가, 취침, 과격한 행동, 잔디나 꽃밭 훼손, 바퀴가 부착된 신발 착용 등)</em></li>
							<li>상업용 사진, 영화(CF) 촬영 시에는 사전 승인을 받으시기 바랍니다. (문의전화 : 02-2180-3515)</li>
							<li>자전거 및 인라인 이용시 과속을 자제하여 주십시오. 토성 내 산책로는 자전거와 인라인의 통행을 제한하고 있습니다.</li>
							<li>야생동물의 보호를 위해 무분별한 열매 채취를 삼가하여 주십시오.</li>
							<li>애완견 출입시 위생과 안전사고 예방을 위하여 반드시 개 목줄과 입 가리개, 배변봉투를 지참하여 이용해 주시기 바랍니다.</li>
							<li>토성 내 산책로는 자전거와 인라인(전동 킥보드류)의 통행을 제한하고 있습니다.</li>
							<li>올림픽공원은 드론 비행 금지 및 차도를 제외한 도로에서 전동 휠(킥보드 류) 탑승 금지입니다.</li>
						</ul>
					</div>

					<h4 class="title_h3">공원 이용문의</h4>
					<div class="table responsive">
						<table>
							<caption>공원 이용문의 - 올림픽공원, 평화의광장, 만남의광장, 동1문 안내센터 담당부서와 담당자이름, 연락처, 이메일주소를 안내합니다.</caption>
							<colgroup>
								<col style="width:18%">
								<col style="width:20%">
								<col style="width:14%">
								<col style="width:48%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" colspan="2">구분</th>
									<th scope="col" colspan="2">내용</th>
								</tr>
							</thead>
							<tbody>
								<!--tr>
									<th scope="row" class="none3" colspan="2">올림픽공원 이용 문의</th>
									<td>공원경영팀</td>
									<td class="align_left">신행자 / 02)410-1327 / <a href="mailto:haeng74@kspo.or.kr" title="해당메일주소로 메일을 보냅니다.(연결프로그램 열림)">haeng74@ksponco.or.kr</a></td>
								</tr-->
								<tr>
									<th rowspan="3" scope="row" class="none3">올림픽공원<br>이용문의<br>(안내센터)</th>
									<td>대표전화</td>
									<td>공원서비스팀</td>
									<td class="align_left">02)410-1114</td>
								</tr>
								<tr>
									<td>세계평화의문</td>
									<td>공원서비스팀</td>
									<td class="align_left">02)2180-3564~5</td>
								</tr>
								<tr>
									<td>만남의광장<br>(동1문 안내센터)</td>
									<td>공원서비스팀</td>
									<td class="align_left">02)2180-3566</td>
								</tr>
								<tr>
									<th rowspan="2" scope="row" class="none3">공연문의</th>
									<td>대표전화</td>
									<td>공원서비스팀</td>
									<td class="align_left">02)2180-3513~6</td>
								</tr>
								<tr>
									<td>안내 및 티켓판매소</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3513~6</td>
								</tr>
								<tr>
									<th rowspan="10" scope="row" class="none3">대관 및 시설 문의</th>
									<td>KSPO DOME<br>(체조경기장)</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3516</td>
								</tr>
								<tr>
									<td>SK핸드볼경기장</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3515</td>
								</tr>
								<tr>
									<td>우리금융아트홀</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3518</td>
								</tr>
								<tr>
									<td>올림픽홀</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3513</td>
								</tr>
								<tr>
									<td>뮤즈라이브</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3513</td>
								</tr>
								<tr>
									<td>K-아트홀(태권도공연장)</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3512</td>
								</tr>
								<tr>
									<td>옥외광고</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3513</td>
								</tr>
								<tr>
									<td>옥외시설 및 촬영</td>
									<td>문화사업팀</td>
									<td class="align_left">02)2180-3515</td>
								</tr>
								<tr>
									<td>올림픽테니스장</td>
									<td>스포츠교실팀</td>
									<td class="align_left">02)2180-3764</td>
								</tr>
								<tr>
									<td>벨로드롬(올팍축구장)</td>
									<td>스포츠교실팀</td>
									<td class="align_left">02)2180-3786~7</td>
								</tr>
								<tr>
									<th rowspan="4" scope="row" class="none3">스포츠센터<br>(종목/강좌문의)</th>
									<td>KSPO DOME<br>(올림픽체조경기장)</td>
									<td>스포츠교실팀</td>
									<td class="align_left">회원안내실 대표전화 02)2180-3772~3</td>
								</tr>
								<tr>
									<td>테니스장</td>
									<td>스포츠교실팀</td>
									<td class="align_left">회원안내실 대표전화 02)2180-3778</td>
								</tr>
								<tr>
									<td>축구장</td>
									<td>스포츠교실팀</td>
									<td class="align_left">회원안내실 대표전화 02)2180-3787</td>
								</tr>
								<tr>
									<td>수영장</td>
									<td>수영장팀</td>
									<td class="align_left">회원안내실 대표전화 02)2180-3743~4</td>
								</tr>
								<tr>
									<th scope="row" class="none3">평생교육원</th>
									<td>올림픽홀</td>
									<td>문화사업팀</td>
									<td class="align_left">회원안내실 대표전화 02)2180-3547~8</td>
								</tr>
								<tr>
									<td colspan="2">주차문의</td>
									<td>공원사업팀</td>
									<td class="align_left">주차 대표전화 02)2180-3961</td>
								</tr>
								<tr>
									<td colspan="2">시설물 안전신고 </td>
									<td>시설안전팀</td>
									<td class="align_left">02)410-1119</td>
								</tr>
								<tr>
									<td colspan="2">당직실(18시 이후)</td>
									<td>역도경기장</td>
									<td class="align_left">02)2180-3955</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">공원 이용 유의사항</h4>
					<div class="box">
						<ul class="list_dot">
							<li>쓰레기 규격 봉투를 구매하여 지정된 장소에 배출하시기 바랍니다.
								<ul class="list_dash">
									<li>자체 수거 시에는 봉투를 구매하지 않으셔도 됩니다.</li>
									<li>적발 시 서울특별시 시공원조례 제23조 별표4에 의거 과태로가 부과 됩니다.</li>
								</ul>
							</li>
							<li>특정 종교단체의 집회 및 특정단체의 영리 행위는 불가능 합니다.</li>
							<li>식사는 도시락 외에는 반입이 불가능 합니다.</li>
							<li>나무 훼손, 불을 피우는 행위, 지정된 장소 외 주차행위는 일체 금지합니다.</li>
							<li>심한 소음(엠프, 노래방 기기 등)을 일으키는 행위는 일체 금지합니다.</li>
							<li>야생동물에게 먹이 주는 행위는 일체 금지합니다.</li>
							<li>올림픽공원은 드론 비행 금지 및 차도를 제외한 도로에서 전동 휠(킥보드 류) 탑승 금지입니다.</li>
						</ul>
					</div>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>