<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>


			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s1_01.html">공원이용정보</a></li>
								<li><a href="s1_02.html">공원안내도</a> </li>
								<li><a href="s1_03.html">공원사이버투어</a> </li>
								<li><a href="s1_04.html">놀이시설</a>
									<ul class="depth3">
										<li><a href="s1_04.html">호돌이열차</a></li>
										<li><a href="s1_04_02.html">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="s1_05.html">체육시설</a> </li>
								<li class="active"><a href="s1_06.html">편의시설</a>
									<ul class="depth3">
										<li class="active"><a href="s1_06.html">공원이용시설</a></li>
										<li><a href="s1_06_02.html">공원편의시설</a></li>
										<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="s1_07.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s1_07.html">올림픽공원9경</a></li>
										<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
									</ul>
								</li>
								<li><a href="s1_08.html">사랑나무연리목</a> </li>
							</ul>
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">공원이용시설</h3>
					
					<h4 class="title_h3">안내센터</h4>
					<p class="mb30">올림픽공원 안내센터에서는 고객님의 편의를 위해 각종 시설 및 물품을 무상서비스하고 있습니다. 고객님의 많은 이용 바랍니다.</p>	
					
					<div class="table responsive">
						<table>
							<caption>세계평화의문과 동1문 안내센터의 제공시설 및 물품, 이용시간, 문의 전화번호 등을 안내합니다.</caption>
							<colgroup>
								<col>
								<col style="width:38%">
								<col style="width:38%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">세계평화의문 안내센터</th>
									<th scope="col">동1문 안내센터</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row"><span class="sr-only">이미지</span></th>
									<td><img src="../../resources/img/sub/s1_06_thumb01.jpg" alt=""></td>
									<td><img src="../../resources/img/sub/s1_06_thumb02.jpg" alt=""></td>
								</tr>
								<tr>
									<th scope="row">제공시설 및 물품(무료)</th>
									<td>휠체어 5대, 기저귀 교환대 1대,<br>전자렌지 1대, 휴대폰 충전기 3대</td>
									<td>휠체어 3대, 기저귀 교환대 1대,<br>전자렌지 1대, 휴대폰 충전기 4대</td>
								</tr>
								<tr>
									<th scope="row">이용시간</th>
									<td colspan="2">09시~19시<br>(점심시간 : 12시~13시 )</td>
								</tr>
								<tr>
									<th scope="row">문의</th>
									<td><span class="text_blue">02-2180-3564~5</span></td>
									<td><span class="text_blue">02-2180-3566</span></td>
								</tr>								
							</tbody>
						</table>
					</div>
					<!-- //table -->
					<div class="box mb20">
						<p class="icon_note">무상대여서비스는 신분증을 맡기신 후 3시간 동안 이용가능, 신분증 필수 지참</p>
					</div>
					<ul class="thumb_list">
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_thumb03.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">해피박스</dt>
								<dd class="s_tit">초대권교환, 티켓수령, 티켓판매</dd>
								<dd class="text">공연주최측에 대여해 주어 공연시에 주최측이 운영하는 해피박스에서는 <br>초대권교환 및 티켓 현장 수령, 티켓의현장 판매가 이루어지고 있습니다.</dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_thumb04.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">티켓박스</dt>
								<dd class="s_tit">공연안내 및 공연 티켓발권 티켓박스</dd>
								<dd class="text">우리금융아트홀 1층 로비에 위치한 티켓박스에서는 <br>공연에 대한 안내 및 공연 티켓을 발권해 드리고 있습니다.</dd>
							</dl>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_thumb05.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">지샘터 올림픽공원 도서관 </dt>
								<dd class="text"><span class="text_bold">위치</span><span>스포츠비즈홀 1층</span></dd>
								<dd class="text"><span class="text_bold">보유장서</span><span>약 1만여 권</span></dd>
								<dd class="text"><span class="text_bold">대출자격</span><span>한국체육산업개발 및 올림픽공원 홈페이지 회원, 올림픽공원 스포츠센터 회원 도서관 내 열람은 제한 없음</span></dd>
								<dd class="text"><span class="text_bold">대출기간</span><span>7일 (공휴일 제외)</span></dd>
								<dd class="text"><span class="text_bold">개방시간</span><span>평일 09~19시 / 토, 일 09~18시</span></dd>
								<dd class="text"><span class="text_bold">휴일안내</span><span>매주 월요일, 법정공휴일, 기타 관장이 정하는 휴관일</span></dd>
								<dd class="text"><span class="text_bold">문의전화</span><span class="text_blue">02-2180-3578</span></dd>
							</dl>
							<a href="http://lib.ksponco.or.kr" title="새창 열림" target="_blank"  class="btn_link"><span>홈페이지</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li>
							<div class="thumb">
								<img src="../../resources/img/sub/s1_06_thumb06.jpg" alt="">
							</div>						
							<dl class="info">
								<dt class="tit">국민체력100 대표 체력인증센터</dt>
								<dd class="s_tit">국민의 체력 및 건강 증진에 목적을 두고 체력상태를 과학적 방법에 의해<br>측정⋅평가를 하여 운동 상담 및 처방을 무료로 해드리고 있습니다.</dd>
								<dd class="text"><span class="text_bold">위치</span><span>평화의 광장 편익동 A-1</span></dd>
								<dd class="text"><span class="text_bold">운영시간</span><span>화 ~ 토 09:00~18:00</span></dd>
								<dd class="text"><span class="text_bold">참여방법</span><span>홈페이지 혹은 전화 사전예약 후 참여</span></dd>
								<dd class="text"><span class="text_bold">문의전화</span><span class="text_blue">02-410-1014</span></dd>
							</dl>
							<a href="http://nfa.kspo.or.kr" title="새창 열림" target="_blank" class="btn_link"><span>홈페이지</span><i class="xi-angle-right-min"></i></a>
						</li>
					</ul>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			

</body>

</html>