<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub2">				
				<div class="container">
					<h2 class="title">체육공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">체육공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s2_01.html">스포츠교실</a>
									<ul class="depth3">
										<li><a href="s2_01.html">올림픽스포츠센터</a></li>
										<li><a href="s2_01_02.html">올림픽수영장</a></li>
									</ul>
								</li>
								<li><a href="s2_02.html">산책/조깅코스</a></li>
								<li class="active"><a href="s2_03.html">생활건강시설</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">생활건강시설</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">건강도우미, 올림픽공원 생활건강시설</p>
							<p class="sub_txt">도시생활환경에 앞장서는 올림픽공원에서는 생활건강시설을 이용하여 휴식과 건강을 동시에 즐길 수 있습니다.</p>		
						</div>				
					</div>		
					<div class="health_facility">
						<div class="item">
							<div class="txt">
								<h4 class="title_h3 mt0">간이체육시설</h4>
								<p class="s_text">
									올림픽공원 곳곳에는 조깅 또는 산책을 하다가 가볍게 이용할 수 있는 간이체육시설이 설치되어 있습니다. 산책로 주요거점을 중심으로 분산형과 집합형의 형태로 요소요소에 배치하여 체력단련을 위한 코스로 활용하실 수 있습니다. 건강한 정신은 건강한 신체에서 나온다는 말처럼, 자연이 숨쉬는 올림픽공원에서 건강한 몸과 마음을 만들어 가시기 바랍니다.
								</p>
								<a href="" class="btn_link mt30"><span>위치보기</span><i class="xi-angle-right-min"></i></a>
							</div>							
							<figure>
								<img src="../../resources/img/sub/s2_03_pic1.jpg" alt="">
							</figure>
						</div>
						<div class="item">
							<div class="txt">
								<h4 class="title_h3 mt0">건강지압로</h4>
								<p class="s_text">
									올림픽공원에 건강 지압로가 조성되어 내방객들의 큰 호응을 얻고 있습니다.
공원 내 평화의 광장 좌측 느티나무 하단부에 위치한 지압로는 총연장 53.4m의 태극문양 순환형으로 조성되었으며, 특히 중앙부에는 타 지압로와는 다르게 황토볼을 이용해 지압공간을 설치, 지압효과가 탁월한 것으로 알려졌다. 또한 2006년 생활체육공간으로 리노베이션한 만남의 광장에는 길이 150m 구간에 직선형태의 건강지압로가 조성되어 있습니다.
								</p>
								<a href="" class="btn_link mt30"><span>위치보기</span><i class="xi-angle-right-min"></i></a>
							</div>							
							<figure>
								<img src="../../resources/img/sub/s2_03_pic2.jpg" alt="">
							</figure>
						</div>	
					</div>
					
					
					<!-- //tab_cont -->
					
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>