<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	

			<div class="sub_visual sub2">				
				<div class="container">
					<h2 class="title">체육공간</h2>
					
					
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">체육공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s2_01.html">스포츠교실</a>
									<ul class="depth3">
										<li class="active"><a href="s2_01.html">올림픽스포츠센터</a></li>
										<li><a href="s2_01_02.html">올림픽수영장</a></li>
									</ul>
								</li>
								<li><a href="s2_02.html">산책/조깅코스</a>

								</li>
								<li><a href="s2_03.html">생활건강시설</a></li>
							</ul>
							
						
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">올림픽스포츠센터</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림픽 조각공원 내에서 즐기는 다양한 종목의 스포츠센터</p>
							<p class="sub_txt">88서울 올림픽대회를 성공적으로 치러낸 6개의 체육관과 경기장, 그리고 세계적인 조각공원으로 유명한<br>
								올림픽 공원 내에 자리잡고 있는 올림픽 스포츠센터</p>
						</div>
						<div class="btn_wrap">
							<a href="https://www.ksponco.or.kr/online/train/index.do" target="_blank" title="새창 열림" class="btn_site">
								<span>올림픽스포츠센터</span>
								<i class="xi-external-link"></i>
							</a>
						</div>
					</div>					
					<figure class="pic">
						<img src="../../resources/img/sub/s2_01_pic01.jpg" alt="">
						<img src="../../resources/img/sub/s2_01_pic02.jpg" alt="">
					</figure>
					
					<ul class="sports_lesson in_tabs">
						<li class="active"><a href="#sport_lesson01" class="tab_nav" title="검도 상세보기로 페이지내 이동">검도</a></li>
						<li><a href="#sport_lesson02" class="tab_nav" title="골프 상세보기로 페이지내 이동">골프</a></li>
						<li><a href="#sport_lesson03" class="tab_nav" title="농구 상세보기로 페이지내 이동">농구</a></li>
						<li><a href="#sport_lesson04" class="tab_nav" title="당구 상세보기로 페이지내 이동">당구</a></li>
						<li><a href="#sport_lesson05" class="tab_nav" title="댄스로빅 상세보기로 페이지내 이동">댄스로빅</a></li>
						<li><a href="#sport_lesson06" class="tab_nav" title="댄스스포츠 상세보기로 페이지내 이동">댄스스포츠</a></li>						
						<li><a href="#sport_lesson07" class="tab_nav" title="배드민턴 상세보기로 페이지내 이동">배드민턴</a></li>
						<li><a href="#sport_lesson08" class="tab_nav" title="실내승마교실 상세보기로 페이지내 이동">실내승마교실</a></li>
						<li><a href="#sport_lesson09" class="tab_nav" title="요가 상세보기로 페이지내 이동">요가</a></li>
						<li><a href="#sport_lesson10" class="tab_nav" title="줌바댄스 상세보기로 페이지내 이동">줌바댄스</a></li>
						<li><a href="#sport_lesson11" class="tab_nav" title="탁구 상세보기로 페이지내 이동">탁구</a></li>
						<li><a href="#sport_lesson12" class="tab_nav" title="테니스 상세보기로 페이지내 이동">테니스</a></li>
						<li><a href="#sport_lesson13" class="tab_nav" title="필라테스 상세보기로 페이지내 이동">필라테스</a></li>
						<li><a href="#sport_lesson14" class="tab_nav" title="헬스 상세보기로 페이지내 이동">헬스</a></li>
						<li><a href="#sport_lesson15" class="tab_nav" title="헬스PT 상세보기로 페이지내 이동">헬스PT</a></li>
						<li><a href="#sport_lesson16" class="tab_nav" title="S.N.P.E.(바른자세운동) 상세보기로 페이지내 이동">S.N.P.E.(바른자세운동)</a></li>
					</ul>
					<ul class="thumb_list">
						<li id="sport_lesson01">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb01.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">검도</dt>
								<dd class="text">넓고 쾌적한 운동 환경. <br>
									특수충격 흡수공법의 인도네시아산 단풍나무 바닥재(관절보호). <br>
									검도 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson02">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb02.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">골프</dt>
								<dd class="text">길이 15m(7타석), 3m(14타석)의 실내 골프연습장. <br>
									매월 회원 월례대회 운영. 골프 전문 지도교사에 의한 체계적인 강습. <br>
									- 회원특전: 골프연습 장비(골프채) 무료 대여
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson03">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb03.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">농구</dt>
								<dd class="text">농구 운동으로 몸도 쑥쑥~ 성장 마음도 튼튼~!!^^
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson04">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb04.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">당구</dt>
								<dd class="text">당구는 지적 흥미를 유발하는 두뇌게임의 성격이 강하고 과격하지 않아, 남녀노소 누구나 즐길 수 있는 품위 있는 레저스포츠
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson05">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb05.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">댄스로빅</dt>
								<dd class="text">일정 시간 동안 몸 안에 최대한 많은 양의 산소를 공급함으로써 폐와 심장의 기능을 촉진시켜 신체건강을 증진시키는 유산소 운동이자 전신 운동
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson06">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb06.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">댄스스포츠</dt>
								<dd class="text">넓고 쾌적한 교육장. 특수충격 흡수공법의 인도네시아산 단풍나무 바닥재(관절보호-코팅, 논슬립)새로운 문화도전, 활기찬 건강. 댄스스포츠 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson07">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb07.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">배드민턴</dt>
								<dd class="text">국제 규격의 배드민턴 코트 9개. 특수충격 흡수공법의 인도네시아산 단풍나무 바닥재(관절보호). 배드민턴 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson08">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb08.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">실내승마</dt>
								<dd class="text">효과가 탁월한 승마운동을 실내에서도 편안하게!
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson09">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb09.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">요가</dt>
								<dd class="text">넓고 쾌적한 실내공간. 자연의 신비로운 현상을 신체훈련을 통해 체험. 요가 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson10">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb10.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">줌바댄스</dt>
								<dd class="text">댄스피트니스 프로그램으로 라틴음악 및 세계음악을 사용하여 역동적이고, 흥미롭고, 즐거우며, 효과적인 운동
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson11">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb11.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">탁구</dt>
								<dd class="text">국내 최대의 넓고 쾌적한 시설. 15대의 탁구대. 특수충격 흡수공법의 인도네시아산 단풍나무 바닥재(관절보호). 탁구 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson12">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb12.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">테니스</dt>
								<dd class="text">국내 최대 하드코트(19면)의 넓고 쾌적한 운동 환경. 메인코트 : 1면, 실외코트 14면, 실내코트 4면. 개인별 지도로 운동효과 극대화. 테니스 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson13">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb13.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">필라테스</dt>
								<dd class="text">넓고 쾌적한 실내공간. 근육의 탄탄함과 매끈한 보디라인 - 건강과 아름다움을 동시에... 필라테스 전문 지도교사에 의한 체계적인 강습
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson14">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb14.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">헬스</dt>
								<dd class="text">넓고 쾌적한 시설. 런닝머신(15대) 총 38종 59점의 다양한 최신 헬스기구. 운동전후 스트레칭을 할 수 있는「스트레칭장」마련. 개인별 프로그램으로 운동효과 극대화
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson15">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb15.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">헬스PT</dt>
								<dd class="text">일대일 트레이닝(PT, personal training) 경험이 풍부한 전문 강사를 투입해 회원 개인별로 최적화된 운동 프로그램
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
						<li id="sport_lesson16">
							<div class="thumb">
								<img src="../../resources/img/sub/s2_01_thumb16.jpg" alt="">
							</div>
							<dl class="info">
								<dt class="tit">S.N.P.E.(바른자세운동)</dt>
								<dd class="text">S.N.P.E.는 본인 자신의 의지로 본래의 자세를 회복하는 신개념의 운동법
								</dd>
							</dl>
							<a href="" title="새창으로 열림" target="_blank" class="btn_link"><span>자세히보기</span><i class="xi-angle-right-min"></i></a>
						</li>
					</ul>
					
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			
</body>

</html>