<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li class="active"><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관</a></li>
										<li><a href="s3_03_02.html">소마미술관</a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내</a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">일정안내</h3>

					<nav>
						<ul class="depth4">
							<li class="active" title="선택된 탭메뉴">
								<a href="s3_01.html">이미지보기</a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_text.html">텍스트보기</a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_calendar.html">캘린더보기</a>
							</li>							
						</ul>
					</nav>
					<!-- //콘텐츠시작 -->
					<div class="cal_select">
						<button type="button" class="btn_prev"><i class="sr-only">이전월</i></button>
						<strong>2022. 1</strong>
						<button type="button" class="btn_next"><i class="sr-only">다음월</i></button>
					</div>
					<!-- //cal_select -->

					<nav class="schedule_month_tab_wrap">
						<ul class="tabs">
							<li class="active" title="선택된 탭메뉴">
								<a href="">1월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">2월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">3월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">4월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">5월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">6월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">7월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">8월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">9월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">10월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">11월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">12월</a>
							</li>
						</ul>
					</nav>
					<!-- //schedule_month_tab_wrap -->


					<nav class="schedule_place_tab_wrap">
						<ul class="tabs">
							<li class="active" title="선택된 탭메뉴">
								<a href="">전체보기</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">KSPO DOME<br>
									(올림픽체조경기장)</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">SK핸드볼경기장<br>
									(올림픽펜싱경기장)</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">올림픽홀</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">뮤즈라이브</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">우리금융아트홀<br>(올림픽역도경기장)</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">K-아트홀</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">옥외/기타</a>
							</li>
						</ul>
					</nav>
					<!-- //schedule_place_tab_wrap -->

					<div class="schedule_list thumb">
						<div class="row">
							<div class="col-sm-6">
								<a href="s3_01_view.html" class="item">
									<div class="photo">
										<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/핑크퐁.gif" alt="뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉">
									</div>
									<div class="info">
										<em class="place">우리금융아트홀</em>
										<strong class="title">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</strong>
										<span class="date">2022-01-21 ~ 2022-03-01</span>
										<small class="time">평일, 일요일 11:00, 14:00(월,화 공연없음 / 단, 3월1일(화)제외) / 토요일 11:00, 14:00, 17:00</small>
									</div>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="s3_01_view.html" class="item">
									<div class="photo">
										<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/이찬원(0).gif" alt="이찬원 팬콘서트 〈ONE MORE CHAN’S〉 서울 앵콜 / 2022-01-28 ~ 2022-01-30 / 올림픽홀">
									</div>
									<div class="info">
										<em class="place">올림픽홀</em>
										<strong class="title">이찬원 팬콘서트 〈ONE MORE CHAN’S〉 서울 앵콜</strong>
										<span class="date">2022-01-28 ~ 2022-01-30</span>
										<small class="time">28(금) 19:00 / 29(토) 18:00 / 30(일) 15:00</small>
									</div>
								</a>
							</div>
							
						</div>
						<!-- //row -->
						<div class="row">
							<div class="col-sm-6">
								<a href="s3_01_view.html" class="item">
									<div class="photo">
										<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/SF9.gif" alt="2022 SF9 LIVE FANTASY ＃3 IMPERFECT / 2022-01-21 ~ 2022-01-23 / 올림픽홀">
									</div>
									<div class="info">
										<em class="place">올림픽홀</em>
										<strong class="title">2022 SF9 LIVE FANTASY ＃3 IMPERFECT</strong>
										<span class="date">2022-01-21 ~ 2022-01-23</span>
										<small class="time">21(금) 20:00 / 22(토) 18:00 / 23(일) 18:00</small>
									</div>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="s3_01_view.html" class="item">
									<div class="photo">
										<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/헬로카봇.gif" alt="헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉 / 2022-01-05 ~ 2022-01-16 / 우리금융아트홀">
									</div>
									<div class="info">
										<em class="place">우리금융아트홀</em>
										<strong class="title">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
										<span class="date">2022-01-05 ~ 2022-01-16</span>
										<small class="time">평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</small>
									</div>
								</a>
							</div>
						</div>
						<!-- //row -->
						
					</div>
					<!-- //schedule_list -->
					
					<div class="paging">
						<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
						<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
						<a href="" class="page_none page_now"><strong>1</strong></a>
						<a href="" class="page_none">2</a>
						<a href="" class="page_none">3</a>
						<a href="" class="page_none">4</a>
						<a href="" class="page_none">5</a>
						<a href="" class="page_none">6</a>
						<a href="" class="page_none">7</a>
						<a href="" class="page_none">8</a>
						<a href="" class="page_none">9</a>
						<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
						<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
					</div>
					<!-- //paging -->

					<div class="last">
						<div class="box txt_center point2">
							<p>지난 공연은 아래에서 확인하실 수 있습니다.</p>
						</div>

						<div class="schedule_list thumb last">
							<div class="row">
								<div class="col-sm-6">
									<a href="s3_01_view.html" class="item">
										<div class="photo">
											<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/에이티즈2022.jpg" alt="2022 ATEEZ WORLD TOUR [THE FELLOWSHIP : BEGINNING OF THE END] IN SEOUL / 2022-01-07 ~ 2022-01-09 / 올림픽홀">
										</div>
										<div class="info">
											<em class="place">올림픽홀</em>
											<strong class="title">
												2022 ATEEZ WORLD TOUR [THE FELLOWSHIP : BEGINNING OF THE END] IN SEOUL</strong>
											<span class="date">2022-01-07 ~ 2022-01-09</span>
											<small class="time">7(금) 19:30 / 8(토) 17:00 / 9(일) 17:00</small>
										</div>
									</a>
								</div>
								<div class="col-sm-6">
									<a href="s3_01_view.html" class="item">
										<div class="photo">
											<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/최현우(0).gif" alt="2021 최현우 〈THE BRAIN〉 / 2021-12-03 ~ 2022-01-02 / 우리금융아트홀">
										</div>
										<div class="info">
											<em class="place">우리금융아트홀</em>
											<strong class="title">2021 최현우 〈THE BRAIN〉</strong>
											<span class="date">2021-12-03 ~ 2022-01-02</span>
											<small class="time">우리금융아트홀</small>
										</div>
									</a>
								</div>
							</div>
							<!-- //row -->
							<div class="row">
								
								<div class="col-sm-6">
									<a href="s3_01_view.html" class="item">
										<div class="photo">
											<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/스우파.gif" alt="스트릿 우먼 파이터 ［ON THE STAGE］ - ENCORE / 2022-01-01 ~ 2022-01-02 / KSPO DOME(체조경기장)">
										</div>
										<div class="info">
											<em class="place">KSPO DOME(체조경기장)</em>
											<strong class="title">스트릿 우먼 파이터 ［ON THE STAGE］ - ENCORE</strong>
											<span class="date">2022-01-01 ~ 2022-01-02</span>
											<small class="time">1(토) 18:00 / 2(일) 17:00</small>
										</div>
									</a>
								</div>
								<div class="col-sm-6">
									<a href="s3_01_view.html" class="item">
										<div class="photo">
											<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/비투비(0).gif" alt="BTOB OFFICIAL FANCLUB MELODY 4TH FAN MEETING［Welcome to BTOB’s Home］ / 2021-12-31 ~ 2022-01-01 / 핸드볼경기장">
										</div>
										<div class="info">
											<em class="place">핸드볼경기장</em>
											<strong class="title">BTOB OFFICIAL FANCLUB MELODY 4TH FAN MEETING［Welcome to BTOB’s Home］</strong>
											<span class="date">2021-12-31 ~ 2022-01-01</span>
											<small class="time">31(금) 19:30 / 1(토) 18:00</small>
										</div>
									</a>
								</div>
							</div>
							<!-- //row -->
						</div>
						<!-- //schedule_list -->

					</div>
					<!-- //last -->
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>