<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>

	<!-- 이미지 맵 반응형 -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../../resources/jquery/jquery.rwdImageMaps.min.js"></script>
	<!-- 이미지 맵 반응형 -->
	
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li class="active"><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관<em data-day="1/19"></em></a></li>
										<li><a href="s3_03_02.html">소마미술관<em data-day="1/19"></em></a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내<em data-day="1/19"></em></a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">좌석배치안내</h3>

					<nav>
						<ul class="depth4">
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_04.html"><em>우리금융아트홀</em><span>올림픽역도경기장</span></a>
							</li>
							<li class="active" title="선택된 탭메뉴">
								<a href="s3_01_04_02.html"><em>K-아트홀</em></a>
							</li>
							
						</ul>
					</nav>
					<!-- //콘텐츠시작 -->
					<div class="box border txt_center seat_layout">
						<img src="../../resources/img/sub/s3_01_04_seat2.jpg" alt="좌석 배치도입니다. STAGE와 객석 1층, 2층 좌석배치에 대한 이미지입니다." usemap="#Map">
                        <map name="Map">
							<area shape="rect" coords="37,294,52,309" href="#" alt="A구역 5열 4번" data-id="k_a5_5">
							<area shape="rect" coords="69,388,84,403" href="#" alt="B구역 4열 1번" data-id="k_b4_1">
							<area shape="rect" coords="220,388,235,403" href="#" alt="B구역 4열 10번" data-id="k_b4_110">
							<area shape="rect" coords="2,462,17,477" href="#" alt="B구역 8열 1번" data-id="k_b8_1">
							<area shape="rect" coords="389,388,404,403" href="#" alt="C구역4열 7번" data-id="k_c4_7">
							<area shape="rect" coords="238,462,253,477" href="#" alt="C구역 8열 1번" data-id="k_c8_1">
							<area shape="rect" coords="388,462,403,477" href="#" alt="C구역 8열 10번" data-id="k_c8_10">
							<area shape="rect" coords="539,462,554,477" href="#" alt="C구역 8열 19번" data-id="k_c8_19">
							<area shape="rect" coords="553,388,568,403" href="#" alt="D구역 4열 1번" data-id="k_d4_1">
							<area shape="rect" coords="704,388,719,403" href="#" alt="D구역 4열 10번" data-id="k_d4_10">
							<area shape="rect" coords="772,462,787,477" href="#" alt="D구역 8열 11번" data-id="k_d8_11">
							<area shape="rect" coords="738,294,753,309" href="#" alt="E구역 5열 1번" data-id="k_e5_1">
							<area shape="rect" coords="220,177,235,192" href="#" alt="F구역 3열 1번" data-id="k_f3_1">
							<area shape="rect" coords="570,177,585,192" href="#" alt="F구역 3열 18번" data-id="k_f3_18">
							<area shape="rect" coords="321,227,336,242" href="#" alt="F구역 6열 5번" data-id="k_f6_5">
							<area shape="rect" coords="388,227,403,242" href="#" alt="F구역 6열 9번" data-id="k_f6_9">
							<area shape="rect" coords="472,227,487,242" href="#" alt="F구역 6열 14번" data-id="k_f6_14">
						</map>
							
					</div>
					<div class="modal_popup_wrap seat_view">                             
						<div class="modal_popup">
							<h4 class="modal_title"></h4>
							<div class="modal_cont">
								<img src="../../resources/img/sub/s3_01_04_02_pic_k_a5_5.jpg" alt="1층 A구역 7열 7번">
							</div>
							<p class="note mt10">* 사진은 실제 무대 시야각과 다소 차이가 있을 수 있습니다</p>
							<button type="button" class="btn_close"><i class="xi-close-thin"></i><span class="sr-only">팝업닫기</span></button>
						</div>
					</div>
					<!-- //modal_popup -->
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>