<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li class="active"><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관</a></li>
										<li><a href="s3_03_02.html">소마미술관</a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내</a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">일정안내</h3>

					
					<!-- //콘텐츠시작 -->	
					<div class="concert_view">
						<div class="concert_title">
							<div class="bg">
								<!-- <div class="bg_img">
									<svg width="100%" height="100%">
									<defs>
									  <filter id="blur">
										<feGaussianBlur stdDeviation="20" />
									  </filter>
									</defs>
									<image x="0" y="0" width="125%" xlink:href="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/핑크퐁.gif" filter="url(#blur)" />
								  </svg>
								</div> -->
								<div class="bg_img" style="background-image:url(https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/핑크퐁.gif)"></div>
							</div>							
							<div class="title_info"><!--poster이미지주소를 동일하게 넣어주세요-->
								<em class="place">올림픽홀</em>
								<strong class="title">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</strong>
								<span class="date">2022-01-21 ~ 2022-03-01</span>
							</div>
							<div class="detail_info_wrap">
								<div class="row">
									<div class="col-sm-4">
										<div class="poster">
											<img src="https://www.ksponco.or.kr/jsp/upload_files/PfmcEvtGud/atch_image/핑크퐁.gif" alt="뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉">
										</div>
									</div>
									<div class="col-sm-8">
										<div class="detail_info">
											<ul class="list">
												<li><em>시간</em><span>평일, 일요일 11:00, 14:00(월,화 공연없음 / 단, 3월1일(화)제외) / 토요일 11:00, 14:00, 17:00 평일, 일요일 11:00, 14:00(월,화 공연없음 / 단, 3월1일(화)제외) / 토요일 11:00, 14:00, 17:00</span></li>
												<li><em>티켓가격</em><span>R 66,000원 / S 55,000원</span></li>
												<li><em>관람연령</em><span>24개월이상 관람가능</span></li>
												<li><em>소요시간</em><span>65분</span></li>
												<li><em>제작</em><span>(주)하쿠나마타타</span></li>
												<li><em>주최</em><span>스마트스터디㈜, ㈜하쿠나마타타</span></li>
												<li><em>문의</em><span>1544-1555</span></li>
											</ul>
											<a href="" class="ticketing">
												<strong>
													<i class="xi-coupon"></i>
													<span>예매하기</span>
												</strong>
											</a>
										</div>			
									</div>
									
										
									
								</div>
							</div>
						</div>
						<!-- //concert_title -->

						<h4 class="title_h4">공연상세</h4>
						<div class="concert_content">
							<p class="mb20"><img src="../../resources/img/sub/s3_01_view_sample.jpg" alt="">
							</p>
							<ul class="list_dot">
								<li>백신접종 여부와 관계없이 입과 코를 모두 가리는 올바른 방법으로 마스크 상시 필수 착용
								<li>공연장 내 음식 섭취 금지(필요한 경우 생수만 가능)</li>
								<li>공연의 감동은 환호 대신 큰 박수로 (비말 발생 우려가 있는 객석 내 함성, 구호, 대화금지)</li>
								<li>객석 입장 전 관객질문서 필수 작성(객석 입장 시 작성된 질문서 제시)</li>
							</ul>
							</p>
						</div>
						<!-- //concert_content -->

						<div class="concert_detail tab_wrap">
							<ul class="depth4 tabs">
								<li class="active"><a href="#conInfo01" class="tab_nav">알립니다</a></li>
								<li><a href="#conInfo02" class="tab_nav">작품소개</a></li>
								<li><a href="#conInfo03" class="tab_nav">장소안내</a></li>
								<li><a href="#conInfo04" class="tab_nav">예매안내</a></li>
								<li><a href="#conInfo05" class="tab_nav">할인정보</a></li>
								<li><a href="#conInfo06" class="tab_nav">오시는길</a></li>
								<li><a href="#conInfo07" class="tab_nav">주차안내</a></li>
							</ul>
							<div class="tab_cont_wrap">
								<div class="tab_cont" id="conInfo01">
									<h4 class="title_h3">올팍 에티켓</h4>
									<div class="box">
										<ul class="list_dot">
											<li>티켓 예매 안내
												<ul class="list_dash">
													<li>본 공연은 48개월 이상 관람 가능합니다. (유아의 경우 입장 연령을 확인할 수 있는 의료보험증 지참 요망)</li>
													<li>관람 등급 미만의 관객은 티켓 소지 및 보호자 동반 여부와 관계없이 입장이 불가하며, 관람 연령 미숙지로 인한 공연 당일 취소/환불/변경은 불가 합니다.</li>
												</ul>
											</li>
											<li>공연 관람 안내
												<ul class="list_dash">
													<li>공연 시작 후에는 지정된 시간 외에는 입장이 제한되며, 다른 관객의 관람에 방해가 되지 않도록 본인좌석이 아닌 지연관객석으로 안내받으실 수 있습니다.</li>
													<li>공연 도중 퇴장 시 재입장이 불가할 수 있습니다.</li>
													<li>공연장 내 생수를 포함한 음식물 반입 및 섭취가 불가합니다.</li>
													<li>시야제한석은 공연 당일 전석 매진일 경우 현장에서 판매될 수 있습니다.</li>
												</ul>
											</li>
										</ul>
									</div>
									<h4 class="title_h3">티켓오픈공지</h4>
									<div class="box">
										<ul class="list_dot">
											<li>티켓 오픈
												<ul class="list_dash">
													<li>예술의전당 유료회원(골드,블루,그린,예당우리V카드) : 11월 16일(화) 오후 4시</li>
													<li>예술의전당 일반회원(싹틔우미,노블회원 포함) : 11월 17일(수) 오후 3시</li>
												</ul>
											</li>				
										</ul>
									</div>
									
								</div>
								<!-- //tab_cont -->
								<div class="tab_cont" id="conInfo02">
									<p class="txt_center">
										<img src="http://www.ksponco.or.kr/jsp/upload_files/sb_editor/20211213031403335.png" alt="핑크퐁과 아기상어의 월드투어쇼">
									</p>
								</div>
								<!-- //tab_cont -->
								<div class="tab_cont" id="conInfo03">
									<ul class="basic_tab tabs">
										<li class="active"><a href="" class="tab_nav">소개</a>
											<ul class="sub_tabs">
												<li class="active"><a href="#conPlace01" class="tab_nav">올림픽홀</a></li>
												<li><a href="#conPlace02" class="tab_nav">뮤즈라이브</a></li>
												<li><a href="#conPlace03" class="tab_nav">K-아트홀</a></li>
												<li><a href="#conPlace04" class="tab_nav">우리금융아트홀</a></li>
											</ul>
										</li>
										<li><a href="" class="tab_nav">좌석배치도</a>
											<ul class="sub_tabs">
												<li class="active"><a href="#conPlace01" class="tab_nav">올림픽홀</a></li>
												<li><a href="#conPlace02" class="tab_nav">뮤즈라이브</a></li>
												<li><a href="#conPlace03" class="tab_nav">K-아트홀</a></li>
												<li><a href="#conPlace04" class="tab_nav">우리금융아트홀</a></li>
											</ul>
										</li>				
									</ul>
									<div class="sub_tab_cont_wrap">
										<div class="slide_tab_cont active" id="conPlace01">
											<div class="major_message">
												<div class="txt_wrap">
													<p class="main_txt">올림픽홀</p>
													<p class="sub_txt">대중음악의 과거에서 미래까지 한번에 볼 수 있는 새로운 개념의 복합 문화 공간</p>
												</div>
											</div>
											<p class="mb30">
												올림픽홀 대중음악 전문 공연장은 대중음악의 과거에서 미래까지 한번에 볼 수 있는 새로운 개념의 복합 문화 공간입니다. 먼저, 올림픽홀은 지하 1층, 지상 2층에 연
												면적 11,826㎡(3,584평) 규모로, 우리나라 대중음악의 현재를 보여주는 대공연장(고정 2,452석, 스탠딩 700석)과 대중음악의 미래인 언더그라운드, 인디밴드의 
												지원 및 양성의 장으로 활용할 소공연장(240석), 대중음악의 역사를 한눈에 볼 수 있는 상설, 기획전시관을 비롯해 지하에는 노래강습 및 악기교실 등 대중음악을 체
												험할 수 있는 평생교육원 등 다양한 공간을 구비하고 있습니다.
											</p>
											<div class="box border">
												<div class="row">
													<div class="col-sm-6">
														<div class="item">
															<img src="../../resources/img/sub/s3_01_icon1.png" alt="">
															<div class="txt ml20">
																<strong>11,826m2 (3,584평)</strong>
																<ul>
																	<li><span>규모</span><em>지하 1층, 지상 2층</em></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="item">
															<img src="../../resources/img/sub/s3_01_icon2.png" alt="">
															<div class="txt ml20">
																<strong>2,452석</strong>
																<ul>
																	<li><span>플로어</span><em>500~600석</em></li>
																	<li><span>장애인석</span><em>22석</em></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- //row -->
											</div>
											<!-- //box -->
											<div class="concert_slider">
												<img src="../../resources/img/sub/s3_01_place1_1.jpg" alt="">
											</div>
										</div>
										<!-- //tab_cont conPlace01-->
										<div class="slide_tab_cont" id="conPlace02">
											<div class="major_message">
												<div class="txt_wrap">
													<p class="main_txt">뮤즈라이브</p>
													<p class="sub_txt">대중음악의 과거에서 미래까지 한번에 볼 수 있는 새로운 개념의 복합 문화 공간</p>
												</div>
											</div>
											<p class="mb30">
												올림픽홀 대중음악 전문 공연장은 대중음악의 과거에서 미래까지 한번에 볼 수 있는 새로운 개념의 복합 문화 공간입니다. 먼저, 올림픽홀은 지하 1층, 지상 2층에 연
												면적 11,826㎡(3,584평) 규모로, 우리나라 대중음악의 현재를 보여주는 대공연장(고정 2,452석, 스탠딩 700석)과 대중음악의 미래인 언더그라운드, 인디밴드의 
												지원 및 양성의 장으로 활용할 소공연장(240석), 대중음악의 역사를 한눈에 볼 수 있는 상설, 기획전시관을 비롯해 지하에는 노래강습 및 악기교실 등 대중음악을 체
												험할 수 있는 평생교육원 등 다양한 공간을 구비하고 있습니다.
											</p>
											<div class="box border">
												<div class="row">
													<div class="col-sm-6">
														<div class="item">
															<img src="../../resources/img/sub/s3_01_icon1.png" alt="">
															<div class="txt ml20">
																<strong>11,826m2 (3,584평)</strong>
																<ul>
																	<li><span>규모</span><em>지하 1층, 지상 2층</em></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="item">
															<img src="../../resources/img/sub/s3_01_icon2.png" alt="">
															<div class="txt ml20">
																<strong>2,452석</strong>
																<ul>
																	<li><span>플로어</span><em>500~600석</em></li>
																	<li><span>장애인석</span><em>22석</em></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- //row -->
											</div>
											<!-- //box -->
											<div class="concert_slider">
												<img src="../../resources/img/sub/s3_01_place1_1.jpg" alt="">
											</div>
										</div>
										<!-- //tab_cont conPlace01-->
									</div>
										
								</div>
								<!-- //tab_cont -->
								
							</div>
							<!-- //tab_cont_wrap -->
						</div>
						<!-- //concert_detail tab_wrap -->

					</div>	
					<!--//content_view  -->
					<div class="btn_area mt40">
						<button type="button" class="btn">목록보기</button>
						
					</div>


					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>