<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li class="active"><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관<em data-day="1/19"></em></a></li>
										<li><a href="s3_03_02.html">소마미술관<em data-day="1/19"></em></a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내<em data-day="1/19"></em></a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">공연장안내</h3>

					<nav>
						<ul class="depth4">
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03.html"><em>KSPO-DOME</em><span>올림픽체조경기장</span></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_02.html"><em>SK핸드볼경기장</em><span>올림픽펜싱경기장</span></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_03.html"><em>올림픽홀</em></a>
							</li>
							<li class="active" title="선택된 탭메뉴">
								<a href="s3_01_03_04.html"><em>우리금융아트홀</em><span>올림픽역도경기장</span></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_05.html"><em>K-아트홀</em></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_06.html"><em>뮤즈라이브</em></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_07.html"><em>기타시설</em></a>
							</li>
						</ul>
					</nav>
					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">공연을 쉽게 만들고 접할 수 있는 평안한 공간인<br>
								다목적 문화공간, 우리금융아트홀 입니다.</p>						
						</div>
						<div class="btn_wrap">
							<a href="" target="_blank" title="새창으로 열림" class="btn_site type2">
								<span>위치보기</span>
								<i class="xi-map-o" aria-hidden="true"></i>
							</a>
							<a href="" target="_blank" title="새창으로 열림" class="btn_site">
								<span>시설대관안내</span>
								<i class="xi-external-link" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s3_01_03_04_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s3_01_03_04_pic2.jpg" alt="">
					</figure>

					<p>2년간의 리모델링을 통해 1,184석 규모의 뮤지컬 전문공연장으로 새롭게 태어난 우리금융아트홀 (올림픽 역도경기장)은 다양한 장르의 공연을 보여줄 수 있는 다목적 문화공간으로 모든 사람들이 공연을 쉽게 만들고 접할 수 있는 평안한 공간이 되도록 최선의 노력을 다하고 있습니다.</p>

					<h4 class="title_h3">시설개요</h4>
					<div class="box">
						<ul class="list_dot">
							<li>객석 : 1층 832석(휠체어석 12석 포함), 2층 352석, 총 1184석</li>
							<li>무대 : 폭 15.8m, 깊이 13.3m, 높이 8.7m, 무대전체 폭 47m</li>
							<li>조명 : GRAND MA full size 조명콘솔, 네트워크 조명제어 시스템</li>
							<li>음향 : 서라운드 시스템, 영상자막기 보유</li>
						</ul>
					</div>
					
					<h4 class="title_h3">교통편안내</h4>
					
					<div class='table'>
						<table>
							<caption>교통편안내 - 대중교통, 자동차에 관한 표입니다.</caption>
							<colgroup>
								<col class='w20'>
								<col class='w20'>
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope='col' rowspan="2">대중교통</th>
									<td>지하철</td>
									<td class="align_left">5호선, 올림픽공원역 3번출구</td>
								</tr>
								<tr>
									<td>버스</td>
									<td class="align_left">
										<ul class="list_dash">
											<li>초록색(지선) 3216, 3412, 3413, 3414</li>
											<li>경기버스 30, 30-5</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th scope='col' rowspan="3">자동차</th>
									<td>가까운 입구</td>
									<td class="align_left">남 2문</td>
								</tr>
								<tr>
									<td>가까운 주차장</td>
									<td class="align_left">주차장 P7 (06:00∼23:00), 94대 주차가능</td>
								</tr>
								<tr>
									<td>주차요금</td>
									<td class="align_left">
										<ul class="list_dash">
											<li>10분당 600원, 대형 12,000원</li>
											<li>10분 이내 출차시 무료</li>
											<li>할인 : 경차, 장애우, 국가유공자</li>
										</ul>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>

					<div class="title_head mt40">
						<h4 class="title_h3 mt0">좌석배치도</h4>
						<div class="btns jc-end mb10">
							<button type="button" class="btn btn_sm btn_popopen" data-id="enlarge_seat">좌석배치도 확대보기<i class="xi-angle-right-min"></i></button>
							<a href="../../resources/download/download_seat_04.zip" class="btn btn_sm">다운받기<i class="xi-angle-right-min"></i></a>
						</div>
					</div>
					<div class="modal_popup_wrap enlarge_seat">                             
						<div class="modal_popup">
							<div class="modal_cont">
								<img src="../../resources/img/sub/s3_enlarge_seat_04.jpg" alt="우리금융아트홀 좌석배치도 - 로비 좌측에 화장실, 매표소, 물품보관소 위치, 우측에 화장실, 카페테리아 위치, 1층 좌측부터  A구역, B구역, C구역(A, C구역 마지막 23열 휠체어 좌석 6개씩 위치 / A구역 좌측 뒤쪽 Gate3 / A,B구역 사이 뒤쪽 Gate 4 / B,C구역 사이 뒤쪽 Gate5 / C구역 우측 뒤쪽 Gate6) / 2층 좌측부터 D구역, E구역, F구역(D구역 좌측 앞쪽 Gate9, F구역 우측 앞쪽 Gate12)">
							</div>
							<button type="button" class="modal_close"><i class="xi-close-thin"></i><span class="sr-only">팝업닫기</span></button>
						</div>
					</div>
					<!-- //modal_popup -->
					
					
					<div class="box border txt_center">
						<img src="../../resources/img/sub/s3_01_03_04_seat.jpg" alt="우리금융아트홀 좌석배치도 - 로비 좌측에 화장실, 매표소, 물품보관소 위치, 우측에 화장실, 카페테리아 위치, 1층 좌측부터  A구역, B구역, C구역(A, C구역 마지막 23열 휠체어 좌석 6개씩 위치 / A구역 좌측 뒤쪽 Gate3 / A,B구역 사이 뒤쪽 Gate 4 / B,C구역 사이 뒤쪽 Gate5 / C구역 우측 뒤쪽 Gate6) / 2층 좌측부터 D구역, E구역, F구역(D구역 좌측 앞쪽 Gate9, F구역 우측 앞쪽 Gate12)">
					</div>
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>