<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="s3_01_05.html">시설대관</a> </li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li class="active"><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li class="active"><a href="s3_03.html">서울올림픽기념관</a></li>
										<li><a href="s3_03_02.html">소마미술관</a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내</a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">서울올림픽기념관</h3>
					
					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">눈으로 보고 몸으로 부딪혀 올림픽정신을 배운다</p>	<p class="sub_txt">서울올림픽기념관은 서울올림픽의 모습과 성과를 전시를 통해<br> 
								그때의 감동과 자신감을 문화교육의 체험으로 고스란히 전해줍니다.</p>					
						</div>
						<div class="btn_wrap">
							<a href="" target="_blank" title="새창으로 열림" class="btn_site type2">
								<span>위치보기</span>
								<i class="xi-map-o" aria-hidden="true"></i>
							</a>
							<a href="" target="_blank" title="새창으로 열림" class="btn_site">
								<span>바로가기</span>
								<i class="xi-external-link"></i>
							</a>
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s3_03_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s3_03_pic2.jpg" alt="">
					</figure>

					<p>서울올림픽기념관은 서울올림픽의 성과 및 올림픽기념품을 체계적으로 정리하여 전시하고 있습니다. 서울올림픽의 성과를 계승.발전시키고 자라나는 청소년들에게 그때의 감동과 자신감을 북돋을 수 있는 공익적 문화교육의 산체험의 장으로 이용되고 있습니다. 또한 서울올림픽기념관 전시장 관람외에도 소풍, 사생대회, 백일장 등의 장소로 학생들의 교육적체험과 문화활동을 함께 하실 수 있으며, 80석 규모의 라이드판타지 영상물도 관람하실 수 있습니다.</p>

					

					<h4 class="title_h3">서울올림픽기념관 현황</h4>
					
					<div class='table'>
						<table>
							<caption>서울올림픽기념관 현황 - 층별, 전시관, 전시내용, 면적에 관한 표</caption>
							<colgroup>
								<col class='w20'>
								<col class='w20'>
								<col>
								<col class='w10'>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">층별</th>
									<th scope="col">전시관</th>
									<th scope="col">전시내용</th>
									<th scope="col">면적(㎡)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" rowspan="3" class="none3">1층</th>
									<td>로비</td>
									<td>용고 전시</td>
									<td></td>
								</tr>
								<tr>
									<td>전시교육실</td>
									<td>올림픽 및 스포츠 등 기획전시, 교육실</td>
									<td>1,441</td>
								</tr>
								<tr>
									<td>평화의 장</td>
									<td>고·근대 올림픽의 발전사, 올림픽 영웅 등</td>
									<td></td>
								</tr>
								<tr>
									<th scope="row" rowspan="4" class="none3">2층</th>
									<td>화합의 장</td>
									<td>올림픽 유치과정, 대회개최 등 기념품 전시</td>
									<td></td>
								</tr>
								<tr>
									<td>번영의 장</td>
									<td>서울올림픽의 성과 및 각국 기념품 전시</td>
									<td>1,500</td>
								</tr>
								<tr>
									<td>희망의 장</td>
									<td>올림픽 개최관련 기념품전</td>
									<td></td>
								</tr>
								<tr>
									<td>영상관</td>
									<td>프리쇼룸 및 시뮬레이션, 라이드영상관</td>
									<td>499</td>
								</tr>
								<tr>
									<th scope="row" class="none3">지하1층</th>
									<td>수장고·자료실</td>
									<td>자료문헌 및 기념품 보관</td>
									<td>304</td>
								</tr>
								<!--<tr>
									<th scope="row" class="none3">3층</th>
									<td>자료실</td>
									<td>문헌 및 영상 자료실</td>
									<td>760</td>
								</tr>-->
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2" class="text_bold">계</td>
									<td class="text_bold">(공용면적 포함시 5,845㎡)</td>
									<td class="text_bold">4,504</td>
								</tr>
							</tfoot>
						</table>
					</div>

				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>