<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>


	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
	
	
	
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li class="active"><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관<em data-day="1/19"></em></a></li>
										<li><a href="s3_03_02.html">소마미술관<em data-day="1/19"></em></a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내<em data-day="1/19"></em></a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">좌석배치안내</h3>

					<nav>
						<ul class="depth4">
							<li class="active" title="선택된 탭메뉴">	
								<a href="s3_01_04.html"><em>우리금융아트홀</em><span>올림픽역도경기장</span></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_04_02.html"><em>K-아트홀</em></a>
							</li>
							
						</ul>
					</nav>
					<!-- //콘텐츠시작 -->
					<div class="box border txt_center seat_layout">
						<img src="../../resources/img/sub/s3_01_04_seat1.jpg" alt="좌석 배치도입니다. STAGE와 객석 1층, 2층 좌석배치에 대한 이미지입니다." usemap="#Map">
                        <map name="Map">
							<area shape="rect" coords="101,307,116,322" href="#" alt="1층 A구역 7열 7번" data-id="a7_7">
							<area shape="rect" coords="185,307,200,322" href="#" alt="1층 A구역 7열 12번" data-id="a7_12">
							<area shape="rect" coords="0,419,15,434" href="#" alt="1층 A구역 13열 2번" data-id="a13_2">
							<area shape="rect" coords="117,419,132,434" href="#" alt="1층 A구역 13열 9번" data-id="a13_9">
							<area shape="rect" coords="0,566,15,581" href="#" alt="1층 A구역 19열 1번" data-id="a19_1">
							<area shape="rect" coords="184,566,199,581" href="#" alt="1층 A구역 19열 12번" data-id="a19_12">
							<area shape="rect" coords="235,307,250,322" href="#" alt="1층 B구역 7열 13번" data-id="b7_13">
							<area shape="rect" coords="369,307,384,322" href="#" alt="1층 B구역 7열 21번" data-id="b7_21">
							<area shape="rect" coords="554,307,569,322" href="#" alt="1층 B구역 7열 32번" data-id="b7_32">
							<area shape="rect" coords="235,437,250,452" href="#" alt="1층 B구역 14열 13번" data-id="b14_13">
							<area shape="rect" coords="369,437,384,452" href="#" alt="1층 B구역 14열 21번" data-id="b14_21">
							<area shape="rect" coords="554,438,569,453" href="#" alt="1층 B구역 14열 32번" data-id="b14_32">
							<area shape="rect" coords="235,566,250,581" href="#" alt="1층 B구역 19열 13번" data-id="b19_13">
							<area shape="rect" coords="369,566,384,581" href="#" alt="1층 B구역 19열 21번" data-id="b19_21">
							<area shape="rect" coords="554,566,569,581" href="#" alt="1층 B구역 19열 32번" data-id="b19_32">
							<area shape="rect" coords="606,307,621,322" href="#" alt="1층 C구역 7열 33번" data-id="c7_33">
							<area shape="rect" coords="690,307,705,322" href="#" alt="1층 C구역 7열 38번" data-id="c7_38">
							<area shape="rect" coords="606,419,621,434" href="#" alt="1층 C구역 13열 33번" data-id="c13_33">
							<area shape="rect" coords="774,419,789,434" href="#" alt="1층 C구역 13열 42번" data-id="c13_42">
							<area shape="rect" coords="607,566,622,581" href="#" alt="1층 C구역 19열 33번" data-id="c19_33">
							<area shape="rect" coords="791,566,806,581" href="#" alt="1층 C구역 19열 44번" data-id="c19_44">
							<area shape="rect" coords="0,957,15,972" href="#" alt="2층 D구역 5열 1번" data-id="d5_1">
							<area shape="rect" coords="184,957,199,972" href="#" alt="2층 D구역 5열 12번" data-id="d5_12">
							<area shape="rect" coords="235,957,250,972" href="#" alt="2층 E구역 5열 13번" data-id="e5_13">
							<area shape="rect" coords="369,957,384,972" href="#" alt="2층 E구역 5열 21번" data-id="e5_21">
							<area shape="rect" coords="554,957,569,972" href="#" alt="2층 E구역 5열 32번" data-id="e5_32">
							<area shape="rect" coords="607,957,622,972" href="#" alt="2층 F구역 5열 33번" data-id="f5_33">
							<area shape="rect" coords="792,957,807,972" href="#" alt="2층 F구역 5열 44번" data-id="f5_44">
                        </map>
					</div>
					<div class="modal_popup_wrap seat_view">                             
						<div class="modal_popup">
							<h4 class="modal_title"></h4>
							<div class="modal_cont">
								<img src="../../resources/img/sub/s3_01_04_pic_a7_7.jpg" alt="1층 A구역 7열 7번">
							</div>
							<p class="note mt10">* 사진은 실제 무대 시야각과 다소 차이가 있을 수 있습니다</p>
							<button type="button" class="btn_close"><i class="xi-close-thin"></i><span class="sr-only">팝업닫기</span></button>
						</div>
					</div>
					<!-- //modal_popup -->

					<!-- 이미지 맵 반응형-->
					<script src="../../resources/jquery/imageMapResizer.min.js"></script>
					<script>
						$(function(){
							//이미지맵 반응형
							$('map').imageMapResize();
						})
					</script>
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>