<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li class="active"><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관</a></li>
										<li><a href="s3_03_02.html">소마미술관</a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내</a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">일정안내</h3>

					<nav>
						<ul class="depth4">							
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01.html">이미지보기</a>
							</li>
							<li title="비활성 탭메뉴" class="">							
								<a href="s3_01_text.html">텍스트보기</a>
							</li>							
							<li class="active" title="선택된 탭메뉴">								
								<a href="s3_01_calendar.html">캘린더보기</a>
							</li>
						</ul>
					</nav>
					<!-- //콘텐츠시작 -->
					<div class="cal_select">
						<button type="button" class="btn_prev"><i class="sr-only">이전월</i></button>
						<strong>2022. 1</strong>
						<button type="button" class="btn_next"><i class="sr-only">다음월</i></button>
					</div>
					<!-- //cal_select -->
					<nav class="schedule_month_tab_wrap">
						<ul class="tabs">
							<li class="active" title="선택된 탭메뉴">
								<a href="">1월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">2월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">3월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">4월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">5월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">6월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">7월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">8월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">9월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">10월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">11월</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">12월</a>
							</li>
						</ul>
					</nav>
					<!-- //schedule_month_tab_wrap -->

					<nav class="schedule_place_tab_wrap">
						<ul class="tabs">
							<li class="active" title="선택된 탭메뉴">
								<a href="">전체보기</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">KSPO DOME<br>
									(올림픽체조경기장)</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">SK핸드볼경기장<br>
									(올림픽펜싱경기장)</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">올림픽홀</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">뮤즈라이브</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">우리금융아트홀<br>(올림픽역도경기장)</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">K-아트홀</a>
							</li>
							<li title="비활성 탭메뉴">
								<a href="">옥외/기타</a>
							</li>
						</ul>
					</nav>
					<!-- //schedule_place_tab_wrap -->

					<div class="schedule_list cal">
						<div class="calendar">		
							<ul class="legend">							
								<li class="event ctype1">KSPO DOME</li>
								<li class="event ctype2">SK핸드볼경기장</li>
								<li class="event ctype3">올림픽홀</li>
								<li class="event ctype4">뮤즈라이브</li>
								<li class="event ctype5">우리금융아트홀</li>
								<li class="event ctype6">K-아트홀</li>
								<li class="event ctype7">옥외/기타</li>
							</ul>
							<div class="calendar_list">
								<div class="bhead">
									<ul>
										<li class="sun">일요일</li>
										<li>월요일</li>
										<li>화요일</li>
										<li>수요일</li>
										<li>목요일</li>
										<li>금요일</li>
										<li class="sat">토요일</li>
									</ul>
								</div>
								<div class="bbody">
									<ul>
										<li>
											<div class="other_month">
												<span class="sun">26</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span>27</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span>28</span>
												<div class="schedule">
													
												</div> 
											</div>
											<div class="other_month">
												<span>29</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span>30</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span>31</span>
												<div class="schedule">
												</div> 
											</div>
											<div>
												<span class="sat">1</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype1">스트릿 우먼 파이터 ［ON THE STAGE］ - ENCORE</a>
													<a href="s3_01_view.html" class="event ctype5">2021 최현우 〈THE BRAIN〉</a>
													
													
												</div>                                
											</div>
										</li>
										<li>
											<div>
												<span class="sun">2</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype1">스트릿 우먼 파이터 ［ON THE STAGE］ - ENCORE</a>
													<a href="s3_01_view.html" class="event ctype5">2021 최현우 〈THE BRAIN〉</a>
												</div>
											</div>
											<div>
												<span>3</span>
												<div class="schedule">
													
												</div>
											</div>
											<div>
												<span>4</span>
												<div class="schedule">
													
												</div>
											</div>
											<div>
												<span>5</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
													
												</div>
											</div>
											<div>
												<span>6</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
												</div>
											</div>
											<div>
												<span>7</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<a href="s3_01_view.html" class="event ctype3">2022 ATEEZ WORLD TOUR [THE FELLOWSHIP : BEGINNING OF THE END] IN SEOUL</a>
													
												</div>
											</div>
											<div>
												<span class="sat">8</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
													<a href="s3_01_view.html" class="event ctype3">2022 ATEEZ WORLD TOUR [THE FELLOWSHIP : BEGINNING OF THE END] IN SEOUL</a>
												</div>
											</div>
										</li>
										<li>
											<div>
												<span class="sun">9</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
													<a href="s3_01_view.html" class="event ctype3">2022 ATEEZ WORLD TOUR [THE FELLOWSHIP : BEGINNING OF THE END] IN SEOUL</a>
													<div class="schedule_pop">
														<strong>2022 ATEEZ WORLD TOUR [THE FELLOWSHIP : BEGINNING OF THE END] IN SEOUL</strong>
														<ul>
															<li><em>공연장소</em><span>올림픽홀</span></li>
															<li><em>공연기간</em><span>2022-01-07 ~ 2022-01-09</span></li>
															<li><em>공연시간</em><span>7(금) 19:30 / 8(토) 17:00 / 9(일) 17:00</span></li>			
														</ul>
													</div>
												</div>
											</div>
											<div>
												<span>10</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
													
												</div>
											</div>
											<div>
												<span >11</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
												
												</div>
											</div>
											<div>
												<span>12</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
												</div>
											</div>
											<div>
												<span>13</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
												</div>
											</div>
											<div>
												<span>14</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
												</div>
											</div>
											<div>
												<span class="sat">15</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div>
												<span class="sun">16</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</a>
													<div class="schedule_pop">
														<strong>헬로카봇 뮤지컬 시즌6 〈흔들흔들 댄스파티〉</strong>
														<ul>
															<li><em>공연장소</em><span>우리금융아트홀</span></li>
															<li><em>공연기간</em><span>2022-01-05 ~ 2022-01-16</span></li>
															<li><em>공연시간</em><span>평일, 일요일 11:00, 14:00(월요일 공연없음) / 토요일 11:00, 14:00, 17:00</span></li>			
														</ul>
													</div>
												</div>
											</div>
											<div>
												<span>17</span>
												<div class="schedule">
												</div>
											</div>
											<div>
												<span>18</span>
												<div class="schedule">
												</div>
											</div>
											<div>
												<span>19</span>
												<div class="schedule">
												</div>
											</div>
											<div>
												<span class="current">20</span>
												<div class="schedule">
												</div>
											</div>
											<div>
												<span>21</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype3">2022 SF9 LIVE FANTASY ＃3 IMPERFECT</a>
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
													
												</div>
											</div>
											<div>
												<span class="sat">22</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype3">2022 SF9 LIVE FANTASY ＃3 IMPERFECT</a>
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
										</li>
										<li>
											<div>
												<span class="sun">23</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype3">2022 SF9 LIVE FANTASY ＃3 IMPERFECT</a>
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span>24</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span >25</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span>26</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span>27</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span>28</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype3">이찬원 팬콘서트 〈ONE MORE CHAN’S〉 서울 앵콜</a>
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span class="sat">29</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype3">이찬원 팬콘서트 〈ONE MORE CHAN’S〉 서울 앵콜</a>
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
										</li>
										<li>
											<div>
												<span class="sun">30</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype3">이찬원 팬콘서트 〈ONE MORE CHAN’S〉 서울 앵콜</a>
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div>
												<span>31</span>
												<div class="schedule">
													<a href="s3_01_view.html" class="event ctype5">뮤지컬쇼 〈핑크퐁과 아기상어의 월드투어쇼〉</a>
												</div>
											</div>
											<div class="other_month">
												<span >1</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span >2</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span >3</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span >4</span>
												<div class="schedule">
												</div> 
											</div>
											<div class="other_month">
												<span class="sat">5</span>
												<div class="schedule">
												</div> 
											</div>
										</li>                        
									</ul>
								</div>
							</div>
				
						</div>
						
					</div>
					<!-- //schedule_list -->
					
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>