<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="s3_01_05.html">시설대관</a> </li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관</a></li>
										<li><a href="s3_03_02.html">소마미술관</a></li>
									</ul>
								</li>
								<li class="active"><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li class="active"><a href="s3_04.html">조각공원 안내</a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">조각공원 안내</h3>
					
					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">서울올림픽을 상징하고 기념하는 명소</p>	
							<p class="sub_txt">서울 올림픽 조각공원은 88서울올림픽대회 문화예술축전 행사의 일환으로 조성되었으며,<br> 32개국 36명의 작가들이 참가한 제 1,2차 국제야외조각 심포지엄과 66개국 155명의 작가들의 작품을 초청한 국제야외조각전 초대전의 작품들로 이루어졌습니다.</p>					
						</div>
						<div class="btn_wrap">
							<a href="" target="_blank" title="새창으로 열림" class="btn_site type2">
								<span>위치보기</span>
								<i class="xi-map-o" aria-hidden="true"></i>
							</a>
							<a href="https://soma.kspo.or.kr/piece/product/list" target="_blank" title="새창으로 열림" class="btn_site">
								<span>바로가기</span>
								<i class="xi-external-link"></i>
							</a>
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s3_04_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s3_04_pic2.jpg" alt="">
					</figure>

					<p class="mb20">더불어 서울올림픽 개최 10주년을 기념하기 위한 야외조각 심포지엄을 통해 조성된 12점의 작품들도 포함되어 있습니다. 그 밖에 다양한 작품들이 올림픽공원의 자연환경과 어우러져 조각적 특색을 잘 나타내고 있습니다. 또한, 시민들이 쉽게 접할 수 있는 산책로와 올림픽 공원의 광장 곳곳에 작품들이 위치하여 자연과 문화를 느끼고 감상할 수 있는 도심 속의 조각공원으로서 알려져 있습니다.</p>

					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>