<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub3">				
				<div class="container">
					<h2 class="title">문화공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">문화공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s3_01.html">조이올팍 공연/행사안내</a>
									<ul class="depth3">
										<li><a href="s3_01.html">일정안내<em data-day="1/19"></em></a></li>
										<li><a href="s3_01_02.html">예매안내</a> </li>
										<li class="active"><a href="s3_01_03.html">공연장안내</a></li>
										<li><a href="s3_01_04.html">좌석배치안내</a> </li>
										<li><a href="" target="_blank">시설대관</a></li>
										<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
									</ul>
								</li>
								<li><a href="http://edu.ksponco.or.kr/" target="_blank">올림픽홀 평생교육원</a> </li>
								<li><a href="s3_03.html">문화/예술시설</a>
									<ul class="depth3">
										<li><a href="s3_03.html">서울올림픽기념관<em data-day="1/19"></em></a></li>
										<li><a href="s3_03_02.html">소마미술관<em data-day="1/19"></em></a></li>
									</ul>
								</li>
								<li><a href="s3_04.html">조각작품갤러리</a>
									<ul class="depth3">
										<li><a href="s3_04.html">조각공원 안내<em data-day="1/19"></em></a></li>
										<li><a href="https://soma.kspo.or.kr/piece/product/list" target="_blank">조각공원 맵</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">공연장안내</h3>

					<nav>
						<ul class="depth4">
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03.html"><em>KSPO-DOME</em><span>올림픽체조경기장</span></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_02.html"><em>SK핸드볼경기장</em><span>올림픽펜싱경기장</span></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_03.html"><em>올림픽홀</em></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_04.html"><em>우리금융아트홀</em><span>올림픽역도경기장</span></a>
							</li>							
							<li class="active" title="선택된 탭메뉴">
								<a href="s3_01_03_05.html"><em>K-아트홀</em></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_06.html"><em>뮤즈라이브</em></a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="s3_01_03_07.html"><em>기타시설</em></a>
							</li>
						</ul>
					</nav>
					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">복합 문화공연을 활성화하고 한국문화를 세계적인 문화 산업으로<br>
								발전시키기 위하여 조성된 다목적 공간, K-아트홀 입니다.</p>						
						</div>
						<div class="btn_wrap">
							<a href="" target="_blank" title="새창으로 열림" class="btn_site type2">
								<span>위치보기</span>
								<i class="xi-map-o" aria-hidden="true"></i>
							</a>
							<a href="" target="_blank" title="새창으로 열림" class="btn_site">
								<span>시설대관안내</span>
								<i class="xi-external-link" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s3_01_03_05_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s3_01_03_05_pic2.jpg" alt="">
					</figure>

					<p>한국문화 중심의 전문 공연장인 ‘K-아트홀’은 태권도, 전통 가락, 한국무용 등 한국적 소재의 복합 문화공연을 활성화하고 한국문화를 세계적인 문화 산업과 관광자원으로 육성, 발전시키기 위하여 조성된 다목적 공연장입니다.‘K-아트홀’은 지하 1층에서 지상 2층의 총 2,647㎡의 규모로 돌출 무대(369석), 프로시니엄(389석), 아레나(493석)의 가변 무대와 다중음향, 조명 등 최신 시설과 장비를 설치하여 공연 효과를 극대화할 수 있도록 최적화 하였으며, 이와 함께 관람객 편의를 위한 카페테리아, 물품보관소 등 다양한 편의공간도 갖추고 있습니다.</p>

					<h4 class="title_h3">시설개요</h4>
					<div class="box">
						<ul class="list_dot">
							<li>규모 : 지상 2층 / 지하 1층</li>
							<li>연면적 : 2,647㎡</li>
							<li>수용인원 : 최대 500명(돌출무대(369석), 프로세니움(389석), 아레나(493석))</li>
						</ul>
					</div>
					
					<h4 class="title_h3">교통편안내</h4>
					
					<div class='table'>
						<table>
							<caption>교통편안내 - 대중교통, 자동차에 관한 표입니다.</caption>
							<colgroup>
								<col class='w20'>
								<col class='w20'>
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope='col' rowspan="2">대중교통</th>
									<td>지하철</td>
									<td class="align_left">5호선, 올림픽공원역 3번출구</td>
								</tr>
								<tr>
									<td>버스</td>
									<td class="align_left">
										<ul class="list_dash">
											<li>초록색(지선) 3212, 3214, 3316, 3413, 4213</li>
											<li>파란색(간선) 371</li>
											<li>공항버스 606</li>
											<li>경기버스 30-5</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th scope='col' rowspan="3">자동차</th>
									<td>가까운 입구</td>
									<td class="align_left">남 2문</td>
								</tr>
								<tr>
									<td>가까운 주차장</td>
									<td class="align_left">주차장 P1 (06:00∼23:00), 380대 주차가능</td>
								</tr>
								<tr>
									<td>주차요금</td>
									<td class="align_left">
										<ul class="list_dash">
											<li>10분당 600원, 대형 12,000원</li>
											<li>10분 이내 출차시 무료</li>
											<li>할인 : 경차, 장애우, 국가유공자</li>
										</ul>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>

					<div class="title_head mt40">
						<h4 class="title_h3 mt0">좌석배치도</h4>
						<div class="btns jc-end mb10">
							<button type="button" class="btn btn_sm btn_popopen" data-id="enlarge_seat">좌석배치도 확대보기<i class="xi-angle-right-min"></i></button>
							<a href="../../resources/download/download_seat_05.zip" class="btn btn_sm">다운받기<i class="xi-angle-right-min"></i></a>
						</div>
					</div>
					<div class="modal_popup_wrap enlarge_seat">                             
						<div class="modal_popup">
							<div class="modal_cont">
								<img src="../../resources/img/sub/s3_enlarge_seat_05.jpg" alt="K-아트홀 좌석배치도 - K-아트홀 객석은 가변형 무대로 공연무대에 따라 좌석배치도가 달라질 수 있습니다, 전체 원형의 좌석임, 총 9구역(왼쪽 9시 방향부터 반시계방향으로 A,B,C,D,E구역, 중앙 F구역, 10시 방향부터 시계방향으로 G,H,I구역), 원형 왼쪽 좌석은 Gate1번으로 입장, 오른쪽은 Gate2번으로 입장 / 기본(돌출)무대 좌석은 A,B,C,D,E구역 / 프로세니움 좌석은 A,B,C,D,E,F구역 / 아레나 좌석은 A,B,C,D,E,G,H,I구역">
							</div>
							<button type="button" class="modal_close"><i class="xi-close-thin"></i><span class="sr-only">팝업닫기</span></button>
						</div>
					</div>
					<!-- //modal_popup -->
					
					
					<div class="box border txt_center">
						<img src="../../resources/img/sub/s3_01_03_05_seat.jpg" alt="K-아트홀 좌석배치도 - K-아트홀 객석은 가변형 무대로 공연무대에 따라 좌석배치도가 달라질 수 있습니다, 전체 원형의 좌석임, 총 9구역(왼쪽 9시 방향부터 반시계방향으로 A,B,C,D,E구역, 중앙 F구역, 10시 방향부터 시계방향으로 G,H,I구역), 원형 왼쪽 좌석은 Gate1번으로 입장, 오른쪽은 Gate2번으로 입장 / 기본(돌출)무대 좌석은 A,B,C,D,E구역 / 프로세니움 좌석은 A,B,C,D,E,F구역 / 아레나 좌석은 A,B,C,D,E,G,H,I구역">
					</div>
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>