<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub4">				
				<div class="container">
					<h2 class="title">생태공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">생태공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s4_01.html">생태공원소개</a></li>
								<li><a href="s4_02.html">잔디시설안내</a></li>
								<li class="active"><a href="s4_03.html">장미광장</a>
									<ul class="depth3">
										<li><a href="s4_03.html">장미광장소개</a></li>
										<li class="active"><a href="s4_03_02.html">장미광장현황</a></li>
										<li><a href="s4_03_03.html">장미관람안내</a></li>
										<li><a href="s4_03_04.html">둘러보기</a></li>
									</ul>
								</li>
								<li><a href="s4_04.html">생태공원 갤러리</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">장미광장현황</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">고대올림픽과 근대올림픽의 만남, 장미광장</p>
							<p class="sub_txt">장미광장은 고대올림픽과 근대올림픽의 만남을 주제로 제우스를 비롯한 올림푸스 12신의 정원이라는 컨셉으로 조성되었으며,
								화단은 12개로 나누고 올림푸스 신에 사는 열두 신의 이름을 따서 만들었습니다.</p>	
						</div>
					</div>
					<h4 class="title_h3">장미광장 조성컨셉</h4>
					<figure class="flex jc-center mb50">
						<img src="../../resources/img/sub/s4_03_02_concept.jpg" alt="">
					</figure>
					<div class="rose_square_concept row">
						<div class="col-6 col-sm-3">
							<div class="item">
								<div class="txt">
									<strong lang="en">Theme</strong>
									<em>이야기가 있는 광장</em>
								</div>
								<img src="../../resources/img/sub/s4_03_02_pic1.jpg" alt="">
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<div class="txt">
									<strong lang="en">Experience</strong>
									<em>보고, 느끼고, 즐기는 
										장미광장</em>
								</div>
								<img src="../../resources/img/sub/s4_03_02_pic2.jpg" alt="">
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<div class="txt">
									<strong lang="en">Four Seasons</strong>
									<em>사계절이 있는 장미광장</em>
								</div>
								<img src="../../resources/img/sub/s4_03_02_pic3.jpg" alt="">
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<div class="txt">
									<strong lang="en">Lighting</strong>
									<em>밤이 아름다운 장미광장</em>
								</div>
								<img src="../../resources/img/sub/s4_03_02_pic4.jpg" alt="">
							</div>
						</div>
					</div>

					<h4 class="title_h3">장미광장 일반현황</h4>
					<div class='table'>	
						<table>
							<caption>장미광장 일반현황 - 구분, 내용</caption>
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">내용</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" class="none3">전체면적</th>
									<td class="align_left">13,260㎡</td>
								</tr>
								<tr>
									<th scope="row" class="none3">장미 식재면적</th>
									<td class="align_left">3,331㎡</td>
								</tr>
								<tr>
									<th scope="row" class="none3">수목 식재현황</th>
									<td class="align_left">세계장미 앨르 등 146종 16,300주 / 국산장미 진선미 등 19종 2,200주</td>
								</tr>
							</tbody>
						</table>
					</div>


					<h4 class="title_h3">장미광장 연혁</h4>
					<div class='table'>
						<table>
							<caption>장미광장 연혁 - 연도, 월일, 내용</caption>
							<colgroup>
								<col width="17%">
								<col width="15%">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">2018</th>
									<td>05.24 ~ 05.27
									</td>
									<td class="align_left">2018 올림픽공원 장미광장 개장 전시회
									</td>
								</tr>
								<tr>
									<th scope="row">2017</th>
									<td>05.26 ~ 05.31
									</td>
									<td class="align_left">2017 올림픽공원 장미광장 개장 전시회
									</td>
								</tr>
								<tr>
									<th scope="row">2016</th>
									<td>06.01 ~ 06.05
									</td>
									<td class="align_left">2016 올림픽공원 장미광장 개장 전시회
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="2">2015</th>
									<td>05.20 ~ 08.25
									</td>
									<td class="align_left">
										<ul>
											<li>2015 올림픽공원 장미광장 개장</li>
											<li></li>
										</ul>										
									</td>
								</tr>
								<tr>
									<td>09.19 ~ 09.20
									</td>
									<td class="align_left">
										2015 조이올팍 페스티발(장미전시회)									
									</td>
								</tr>
								<tr>
									<th scope="row">2014</th>
									<td>05.24 ~ 06.01
									</td>
									<td class="align_left">
										2014 올림픽공원 장미광장 개장 전시회
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="3">2013</th>
									<td>10.11 ~ 10.13</td>
									<td class="align_left">2013 조이올팍 페스티발(장미축제)
									</td>
								</tr>
								<tr>
									<td>06.07 ~ 10.30</td>
									<td class="align_left">장미해설 프로그램 진행
									</td>
								</tr>
								<tr>
									<td>06.07 ~ 06.11</td>
									<td class="align_left">2013년 올림픽공원 장미축제
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="3">2012</th>
									<td>10.12 ~ 10.14</td>
									<td class="align_left">2012 조이올팍 페스티벌(장미축제)
									</td>
								</tr>
								<tr>
									<td>06.01 ~ 10.30</td>
									<td class="align_left">장미 해설 프로그램 진행
									</td>
								</tr>
								<tr>
									<td>05.30 ~ 06.02</td>
									<td class="align_left">2012년 올림픽공원 장미축제
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="5">2011</th>
									<td>10.14 ~ 10.23</td>
									<td class="align_left">조이올팍 페스티벌(장미축제)
									</td>
								</tr>
								<tr>
									<td>06.01 ~ 10.30</td>
									<td class="align_left">장미 해설 프로그램 진행
									</td>
								</tr>
								<tr>
									<td>06.01 ~ 06.05</td>
									<td class="align_left">2011년 올림픽공원 봄 장미 축제
									</td>
								</tr>
								<tr>
									<td>04 ~ 04.30</td>
									<td class="align_left">국산장미 진.선.미 등 5종 테마원 조성(90㎡, 700주)
									</td>
								</tr>
								<tr>
									<td>04 ~ 04.30</td>
									<td class="align_left">장미 토피어리 제작, 설치(16개)
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="4">2010</th>
									<td>06.04 ~ 10.31</td>
									<td class="align_left">2010년 장미 해설 프로그램 진행
									</td>
								</tr>
								<tr>
									<td>10.05 ~ 10.10</td>
									<td class="align_left">G20정상회의 개최기념 올림픽공원 장미축제
									</td>
								</tr>
								<tr>
									<td>06.05</td>
									<td class="align_left">장미광장 개장일
									</td>
								</tr>
								<tr>
									<td>06.05 ~ 10.31</td>
									<td class="align_left">장미광장 조성공사 (설계:(주)미래E&D / 공사:삼부건설공업(주)
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">장미광장 조성과정</h4>
					<figure class="pic">
						<img src="../../resources/img/sub/s4_03_02_after1.jpg" alt="">
						<img src="../../resources/img/sub/s4_03_02_after2.jpg" alt="">
					</figure>
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>