<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub4">				
				<div class="container">
					<h2 class="title">생태공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">생태공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s4_01.html">생태공원소개</a></li>
								<li><a href="s4_02.html">잔디시설안내</a></li>
								<li class="active"><a href="s4_03.html">장미광장</a>
									<ul class="depth3">
										<li class="active"><a href="s4_03.html">장미광장소개</a></li>
										<li><a href="s4_03_02.html">장미광장현황</a></li>
										<li><a href="s4_03_03.html">장미관람안내</a></li>
										<li><a href="s4_03_04.html">둘러보기</a></li>
									</ul>
								</li>
								<li><a href="s4_04.html">생태공원 갤러리</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">장미광장소개</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림푸스 12신의 정원, 올림픽공원 장미광장</p>
							<p class="sub_txt">2010년 6월에 개장한 새로운 휴식공간인 장미광장은 올림픽공원 내 K-아트홀과 올림픽홀 사이에 위치하며, 165종 18,500주의
								장미가 식재 되어 꽃피우고 있습니다.</p>	
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s4_03_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s4_03_pic2.jpg" alt="">
					</figure>
					<p class="mb20">도심 속 꽃향기가 만발한 올림픽공원이 되기 위하여 장미광장은 2010년 6월 개장하였습니다. 올림픽공원 내 K-아트홀과 올림픽홀 사이에 위치하며 13,260㎡의 넓은 면적을 가지고 있습니다. 그리고, 현재 165종 18,500주의 장미가 식재 되어 꽃피우고 있습니다.<br>
						장미광장은 고대올림픽과 근대올림픽의 만남을 주제로 제우스를 비롯한 ‘올림푸스 12신의 정원'이라는 컨셉으로 조성되었으며, 화단은 12개로 나누고 올림푸스 산에 사는 열두 신의 이름을 따서 만들었습니다.</p>
						
					<p>장미꽃은 그리스신화와 밀접한 관계를 맺고 있습니다. 그리스 신화를 보면 장미꽃을 처음 만든 여신이 바로 미의 여신 아프로디테입니다. 그래서 장미는 아름다움을 창조하려고 만든 꽃입니다. 장미광장에서 5월, 10월 두 번의 향기로 가득한 장미축제가 열립니다. 모든 시민들이 참여할 수 있는 장미와 관련된 다양한 프로그램과 이벤트를 운영할 예정입니다</p>

					<h4 class="title_h3">장미란?</h4>
					<p>장미꽃은 원을 그리면서 겹겹이 둘러싸여 생겨나는 꽃봉오리, 아름다움을 지키려고 날을 세운가시, 그리고 진한 색깔과 향기로 꽃중의 꽃, 꽃의 여왕이라고 불립니다. 
						장미 원산지는 서남아시아이며, 야생종이 약 200여종, 개량종이 약1만 5,000여종이 있습니다. 올림픽공원 장미광장의 장미는 5개의 계통으로 분류되며, 165종 18,500주의 장미가 식재되어 있습니다.</p>
					
					<div class='table responsive'>
						<table>
							<caption>장미안내 - 장미계통별 특성과 대표장미이름, 대표이미지를 볼 수 있습니다.</caption>
							<colgroup>
								<col width="17%">
								<col width="15%">
								<col width="43%">
								<col width="25%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">대표이미지</th>
									<th scope="col">계통</th>
									<th scope="col">특성</th>
									<th scope="col">대표장미</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="../../resources/img/sub/rose_kind_img01.gif" alt="HT장미의 대표이미지"></td>
									<th scope="row" class="none3">HT<br>(Hybrid Tea Roses)</th>
									<td class="align_left2">사철 피는 큰송이 장미군, 우리가 보통 장미라고 하는 크고 탐스러운 장미로서 관리가 가장 많이 요구되는 품종</td>
									<td class="align_left2">탄초, 마노우 메이앙, 레이시 레이디, 블랙바카라, 파운틴 스퀘어, 블루라이트, 바닐라 퍼퓸 등</td>
								</tr>
								<tr>
									<td><img src="../../resources/img/sub/rose_kind_img02.gif" alt="AT장미의 대표이미지"></td>
									<th scope="row" class="none3">AT<br>(Antique Touch Roses)</th>
									<td class="align_left2">사철피는 큰 송이 고전형 장미군, 최근 세계적으로 유행. 향기가 좋고 겹이 많으며 르네상스시대의 장미를 현대적감각에 맞게 개량한 품종. 꽃중심이 겹이 많고 다초점의 둥근 로제트화형을 이룸</td>
									<td class="align_left2">아프로디테, 톹루즈 로즈텍, 로얄 프린세스, 쁘띠 트리아농, 캔들라이트, 차이코프스키 등</td>
								</tr>
								<tr>
									<td><img src="../../resources/img/sub/rose_kind_img03.gif" alt="FL장미의 대표이미지"></td>
									<th scope="row" class="none3">FL<br>(Floribunda Roses)</th>
									<td class="align_left2">사철피는 중간송이, 다화성 장미군, 북유럽에서 장미의 주종으로 분류되는 대규모 장미공원의 필수 품종 HT, AT계 보다 꽃은 작으나 다화성으로 끊이지 않게 연속 개화하는 품종</td>
									<td class="align_left2">아이스버그, 잉그릿 바이불, 핫파이어, 람피온, 퓨어 포이트리, 코토네, 와라베우타, 쿰바야 등</td>
								</tr>
								<tr>
									<td><img src="../../resources/img/sub/rose_kind_img04.gif" alt="LA장미의 대표이미지"></td>
									<th scope="row" class="none3">LA<br>(Landscape Roses)</th>
									<td class="align_left2">최근에 광활한 공간의 컬러 조경을 위해 개발된 조경용 장미, 사철피는 덤불형 조경용 장미로 내병,내한성이 뛰어나 관리가 적은 다화성 품종</td>
									<td class="align_left2">워터멜론아이스, 크리스탈훼어리, 핑크메이딜란드, 미라토, 사티나, 골든보더, 시에스타 등</td>
								</tr>
								<tr>
									<td><img src="../../resources/img/sub/rose_kind_img05.gif" alt="CL장미의 대표이미지"></td>
									<th scope="row" class="none3">CL<br>(Climbing Roses)</th>
									<td class="align_left2">키가 2-3m 자라는 덩굴성 장미품종. 높은 담장, 트랠리스, 아치 등에 부착 유인하여 보는 꽃</td>
									<td class="align_left2">칵테일, 레드에덴, 아톨'99, 오렌지메이안디나, 심파시, 라위니아, 테라코타, 드림위버 등</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>