<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub4">				
				<div class="container">
					<h2 class="title">생태공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">생태공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s4_01.html">생태공원소개</a></li>
								<li class="active"><a href="s4_02.html">잔디시설안내</a></li>
								<li><a href="s4_03.html">장미광장</a>
									<ul class="depth3">
										<li><a href="s4_03.html">장미광장소개</a></li>
										<li><a href="s4_03_02.html">장미광장현황</a></li>
										<li><a href="s4_03_03.html">장미관람안내</a></li>
										<li><a href="s4_03_04.html">둘러보기</a></li>
									</ul>
								</li>
								<li><a href="s4_04.html">생태공원 갤러리</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">잔디시설안내</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">시민들과 함께 하는 올림픽공원 잔디시설</p>
							<p class="sub_txt">올림픽공원 잔디의 훼손을 예방하고 방문객들에게 보다 고품질의 잔디공간을 제공하기 위하여<br>
								잔디광장의 지역별 순환개방을 시하고 있습니다.</p>	
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s4_02_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s4_02_pic2.jpg" alt="">
					</figure>
					<p>올림픽공원은 피크닉장, 가족놀이동산, 나홀로나무, 88마당, 지구촌공원, 소마미술관 등을 개방함으로써 도심속의 자연을 만끽하실 수 있습니다.</p>
					<div class="park_map grass_facility tab_wrap">
						<ul class="basic_tab tabs">
							<li class="active">
								<a href="#map01" class="tab_nav" title="선택된 탭메뉴">피크닉장</a>
							</li>
							<li>
								<a href="#map02" class="tab_nav" title="비활성 탭메뉴">가족놀이동산</a>
							</li>
							<li>
								<a href="#map03" class="tab_nav" title="비활성 탭메뉴">나홀로나무</a>
							</li>
							<li>
								<a href="#map04" class="tab_nav" title="비활성 탭메뉴">88마당</a>
							</li>
							<li>
								<a href="#map05" class="tab_nav" title="비활성 탭메뉴">지구촌공원</a>
							</li>
							<li>
								<a href="#map06" class="tab_nav" title="비활성 탭메뉴">소마미술관</a>
							</li>
						</ul>
						
						
						<div class="tab_cont" id="map01">
							<div class="map">
								<img src="../../resources/img/sub/s4_02_map_course1.png" alt="피크닉장">
							</div>
						</div>	
						<div class="tab_cont" id="map02">
							<div class="map">
								<img src="../../resources/img/sub/s4_02_map_course2.png" alt="가족놀이동산">
							</div>
						</div>	
						<div class="tab_cont" id="map03">
							<div class="map">
								<img src="../../resources/img/sub/s4_02_map_course3.png" alt="나홀로나무">
							</div>
						</div>	
						<div class="tab_cont" id="map04">
							<div class="map">
								<img src="../../resources/img/sub/s4_02_map_course4.png" alt="88마당">
							</div>
						</div>						
						<div class="tab_cont" id="map05">
							<div class="map">
								<img src="../../resources/img/sub/s4_02_map_course5.png" alt="지구촌공원">
							</div>
						</div>						
						<div class="tab_cont" id="map06">
							<div class="map">
								<img src="../../resources/img/sub/s4_02_map_course6.png" alt="소마미술관">
							</div>
						</div>						
					</div>

					<h4 class="title_h3">잔디시설 개방기간</h4>
					<div class="box">
						<ul class="list_dot">
							<li>피크닉장, 가족놀이동산, 나홀로나무 : <strong class="point2">연중 상시개방</strong></li>
							<li>88마당, 지구촌공원, 소마미술관 전시마당 : <strong class="point2">6. 1 〜 10. 31</strong></li>
							<li>어린이날(5월 5일) <strong class="point2">임시 개방</strong></li>
						</ul>
					</div>
					<h4 class="title_h3">잔디통제시기</h4>
					<div class="box">
						<ul class="list_dot">
							<li>신초발아 시기 및 잔디 휴면기 <strong class="point2">(11. 1 ~ 익년 5. 31)</strong></li>
							<li>우천시 및 비온 후 3일 이내</li>
							<li>훼손지역 잔디복구를 위한 회복시기</li>
							<li>기타 특별한 상황발생시 잔디마당의 출입을 통제합니다.</li>
						</ul>
					</div>
					<h4 class="title_h3">잔디마당 출입시 주의사항</h4>
					<div class="box">
						<ul class="list_dot">
							<li>토성사면 미끄럼타기 및 개방 지역 내에서는 운동(공놀이, 자전거 타기, 롤러 타기, 줄다리기 등)을 삼가 해주세요.</li>
							<li>취사 및 음주, 사행성(도박) 행위를 하지 맙시다.</li>
							<li>잔디를 훼손하는 행위를 하지 맙시다. (그늘막, 텐트 설치 행위 / 인라인스케이트, 자전거 타는 행위 / 골프, 축구, 야구, 족구 등 운동)</li>
							<li>잔디밭에 애완동물은 출입할 수 없습니다. (배설물로 인한 선충류 감염 방지)</li>
							<li>쓰레기는 반드시 되가져 갑시다.</li>
							<li>올림픽공원은 드론 비행 금지 및 차도를 제외한 도로에서 전동 휠(킥보드 류) 탑승 금지입니다.</li>
							<li><strong class="point">출입금지 기간 : 11. 1 ~ 익년 5. 31</strong></li>
						</ul>
					</div>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>