<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub4">				
				<div class="container">
					<h2 class="title">생태공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">생태공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s4_01.html">생태공원소개</a></li>
								<li><a href="s4_02.html">잔디시설안내</a></li>
								<li><a href="s4_03.html">장미광장</a>
									<ul class="depth3">
										<li><a href="s4_03.html">장미광장소개</a></li>
										<li><a href="s4_03_02.html">장미광장현황</a></li>
										<li><a href="s4_03_03.html">장미관람안내</a></li>
										<li><a href="s4_03_04.html">둘러보기</a></li>
									</ul>
								</li>
								<li class="active"><a href="s4_04.html">생태공원 갤러리</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">생태공원 갤러리</h3>
					
					<!-- 콘텐츠 시작 -->
					<div class="board">

						<div class="board_detail_search">
							<form class="board_search">
								<div class="form-row">
									<strong class="form-label">계절별</strong>
									<ul class="form-inline">
										<li class="custom-input"><input type="checkbox" id="seasonAll"><label for="seasonAll">모두보기</label></li>
										<li class="custom-input"><input type="checkbox" id="season1"><label for="season1">봄</label></li>
										<li class="custom-input"><input type="checkbox" id="season2"><label for="season2">여름</label></li>
										<li class="custom-input"><input type="checkbox" id="season3"><label for="season3">가을</label></li>
										<li class="custom-input"><input type="checkbox" id="season4"><label for="season4">겨울</label></li>
									</ul>
								</div>
								<div class="form-row">
									<strong class="form-label">소재별</strong>
									<ul class="form-inline">
										<li class="custom-input"><input type="checkbox" id="materialAll"><label for="materialAll">모두보기</label></li>
										<li class="custom-input"><input type="checkbox" id="material1"><label for="material1">풍경</label></li>
										<li class="custom-input"><input type="checkbox" id="material2"><label for="material2">공연,행사</label></li>
										<li class="custom-input"><input type="checkbox" id="material3"><label for="material3">동물</label></li>
										<li class="custom-input"><input type="checkbox" id="material4"><label for="material4">소풍</label></li>
										<li class="custom-input"><input type="checkbox" id="material5"><label for="material5">식물</label></li>
										<li class="custom-input"><input type="checkbox" id="material6"><label for="material6">사진공모전</label></li>
										<li class="custom-input"><input type="checkbox" id="material7"><label for="material7">기타</label></li>
									</ul>
								</div>
								<div class="form-row">
									<strong class="form-label">키워드</strong>
									<input type="text" class="form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</div>
							</form>
						</div>
						<!-- //board_detail_search -->
				
						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<div class="board_sort">
								<a href="" class="active">최신순</a>
								<a href="">조회순</a>
							</div>
						</div>
						<!-- //board_info -->
				
						<div class="card_list col3">
							<!--
							  기본갤러리형 칼럼이 세개인경우 : col3 / 리스트(li)는 6개출력
							  기본갤러리형 칼럼이 네개인경우 : col4 / 리스트(li)는 8개출력
							  웹진형 : .book_style
							  동영상형 : .media
							  -->
							<ul class="list_ul">
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/noimage.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_arrow_right" aria-hidden="true"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_01.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_arrow_right" aria-hidden="true"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_02.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_arrow_right" aria-hidden="true"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_03.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_arrow_right" aria-hidden="true"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_04.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_arrow_right" aria-hidden="true"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_05.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_arrow_right" aria-hidden="true"></i>
										</span>
									</a>
								</li>
				
							</ul>
						</div>
						<!-- //gallery_list -->
				
						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->
				
					</div>
					<!-- //콘텐츠 끝 -->

				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>