<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub4">				
				<div class="container">
					<h2 class="title">생태공간</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">생태공간</h2>
						<nav class="nav">
							<ul class="depth2">
								<li class="active"><a href="s4_01.html">생태공원소개</a></li>
								<li><a href="s4_02.html">잔디시설안내</a></li>
								<li><a href="s4_03.html">장미광장</a>
									<ul class="depth3">
										<li><a href="s4_03.html">장미광장소개</a></li>
										<li><a href="s4_03_02.html">장미광장현황</a></li>
										<li><a href="s4_03_03.html">장미관람안내</a></li>
										<li><a href="s4_03_04.html">둘러보기</a></li>
									</ul>
								</li>
								<li><a href="s4_04.html">생태공원 갤러리</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">생태공원소개</h3>
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">자연과 인간의 공존을 꿈꾸다</p>
							<p class="sub_txt">선사문명과 화려한 백제문명을 꽃피웠던 터전이 자연과 인간이 공종하는 생태공원으로 변신했습니다.<br>
							바로 자연과 하나되는 환경생태공원, 올림픽공원 입니다.<br>
							올림픽공원을 방문하는 사람들에게 이들 자연의 친구들은 자연이 주는 행복감을 전달하며, 녹색 평화의 메시지를 전하고 있습니다.</p>	
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s4_01_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s4_01_pic2.jpg" alt="">
					</figure>
					<h4 class="title_h3">몽촌해자 수변에 우리나라 수생식물 식재</h4>
					<div class="box">
						<ul class="list_dot">
							<li>목적
								<ul class="list_dash">
									<li>수질정화 및 수경관 향상</li>
									<li>물고기 산란장소 및 조류서식처 제공</li>
								</ul>
							</li>
						
							<li>추진내용
								<ul class="list_dash">
									<li>2003년 4월과 9월, 2004년 5월 3차에 걸쳐 노랑꽃창포, 부채붓꽃, 물억새 등 수생식물 28,000본 식재, 자연형 호안600m 조성</li>
									<li>조경관리용역 자체인력을 활용, 예산절감 -> 식재된 수생식물의 고사위험이 상존하고 동절기 몽촌해자 퇴수로 월동이 어려운 상황임에도 식재매트에 흙을 
										채워주는 등 치밀한 사후관리로 수생식물이 완전히 해자변에 자리</li>
								</ul>
							</li>
						
						</ul>
					</div>
					<h4 class="title_h3">성내천 하얀 생태공원 및 자연학습장 조성</h4>
					<div class="box">
						<ul class="list_dot">
							<li>목적
								<ul class="list_dash">
									<li>질소, 인, 유기물 제거로 녹조 감소</li>
									<li>생태공간 확보</li>
									<li>경관 향상</li>
								</ul>
							</li>
						
							<li>추진내용
								<ul class="list_dash">
									<li>북2문 청룡교부터 몽촌해자 수문 일대 수변환경 최대활용, 조류 및 생물서식처 제공(청둥오리, 왜가리, 수서곤충 등)</li>
									<li>잔디제거 후 수생식물 및 계절별 야생화 군락 조성(창포, 붓꽃, 갈대, 둥글레, 메꽃 등 우리나라 자생식물 9종 20,900본 식재)</li>
									<li>새들이 앉아 쉴 수 있는 횃대 32개소 설치</li>
									<li>생태관찰데크(성내천 무지개다리 70㎡) 1개소 및 생태안내판 74개소 설치, 자연학습장 제공</li>
								</ul>
							</li>
						
						</ul>
					</div>
					<h4 class="title_h3">수질정화를 위한 수생식물 식재 및 인공식물섬 조성</h4>
					<div class="box">
						<ul class="list_dot">
							<li>목적
								<ul class="list_dash">
									<li>습지 환경 조건의 향상과 생물서식처 안정화 도모, Buffer-Zone 기능 회복</li>
									<li>우리나라 자생식물 및 조류, 곤충 등을 관찰할 수 있는 생태공간 확보</li>
								</ul>
							</li>
						
							<li>추진내용
								<ul class="list_dash">
									<li>식재용 매질(야자섬유)를 계류장치로 고정후 인공식물섬 6개소 172m(216㎡)설치, 노랑꽃창포, 부처꽃 등 수생식물 3,456본 식재</li>
									<li>몽촌해자 물레방아 지역 부레옥잠 식재(자체시공)</li>
									<li>대나무 꽃섬 2개소 및 대나무생태섬 1개소 설치(자체시공)</li>
								</ul>
							</li>
						
						</ul>
					</div>
					<h4 class="title_h3">한강원수 유입 및 상시담수</h4>
					<div class="box">
						<ul class="list_dot">
							<li>목적
								<ul class="list_dash">
									<li>수질개선 및 생태공간 조성</li>
									<li>유지용수 확보로 수질오염물질 제거</li>
								</ul>
							</li>
						
							<li>추진내용
								<ul class="list_dash">
									<li>성내천에 매일 한강원수 18,000톤 쉼없이 유입, 메마른 하천에서 습지로 탈바꿈(송파구청 협조)</li>
									<li>몽촌해자 및 88호수가 24시간 Over-Flow 되도록 한강물 유입, 수질개선 </li>
									<li>1일 유입량 : 몽촌해자 2,500톤 / 88호수 500톤</li>
								</ul>
							</li>
						
						</ul>
					</div>
					<h4 class="title_h3">되돌아온 자연의 친구들</h4>
					<p>일련의 환경복원 사업을 꾸준히 추진함으로써 흰뺨검둥오리, 후투티, 왜가리, 쇠백로, 중대백로, 해오라기, 검은댕기해오라기, 꾀꼬리, 뻐꾸기, 소쩍새, 꿩, 청설모, 다람쥐, 개구리, 
						밀잠자리, 나비 등이 집단으로 서식할 뿐만 아니라 최근에는 도심에서 쉽게 볼 수 없는 딱따구리, 누룩뱀, 너구리가 발견되고 맹꽁이떼의 울음소리가 들리는 등 생태복원의 
						가시적인 성과가 나타나고 있습니다.</p>
					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>