<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub6">				
				<div class="container">
					<h2 class="title">알림·홍보</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">알림·홍보</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s6_01.html">올팍소식</a></li>
								<li><a href="s6_02.html">보도자료</a></li>
								<li class="active"><a href="s6_03.html">홍보동영상</a> </li>
								<li><a href="s6_04.html">포토갤러리</a> </li>
								<li><a href="s6_05.html">PI소개</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">홍보동영상</h3>


					<!-- //콘텐츠시작 -->
					<!-- //board 시작 -->
					<div class="board">

						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<form class="board_search">
								<fieldset class="form-row">
									<legend class="sr-only">게시글 검색</legend>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="all">전체</option>
										<option value="title">제목</option>
										<option value="regNm">등록자</option>
										<option value="regDttm">등록일자</option>
									</select>
									<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</fieldset>
							</form>
						</div>
						<!-- //board_info -->
				
						<div class="card_list col3 media">
							<!--
							  기본갤러리형 칼럼이 세개인경우 : col3 / 리스트(li)는 6개출력
							  기본갤러리형 칼럼이 네개인경우 : col4 / 리스트(li)는 8개출력
							  웹진형 : .book_style
							  동영상형 : .media
							  -->
							<ul class="list_ul">
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/noimage.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_play"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_01.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_play"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_02.jpg" alt="">
										</span>						
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_play"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_03.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_play"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_04.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_play"></i>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="gallery_view.html" class="item">
										<span class="thumb">
											<img src="../../resources/img/board/gallery_thumb_05.jpg" alt="">
										</span>
										<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<!-- <span class="hit">530</span> -->
											<i class="icon_play"></i>
										</span>
									</a>
								</li>
				
							</ul>
						</div>
						<!-- //gallery_list -->
				
						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->
				
					</div>
					<!--//board 끝 -->
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>