<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub6">				
				<div class="container">
					<h2 class="title">알림·홍보</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">알림·홍보</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s6_01.html">올팍소식</a></li>
								<li><a href="s6_02.html">보도자료</a></li>
								<li><a href="s6_03.html">홍보동영상</a> </li>
								<li><a href="s6_04.html">포토갤러리</a> </li>
								<li class="active"><a href="s6_05.html">PI소개</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">PI소개</h3>


					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">PI(Park Identity)란, 공원의 고유한 정체성을 드러내는 것이며, <br>
								도심 속 자연 휴식공원을 의미한다.</p>
							<p class="sub_txt">올림픽공원 PI 심벌마크 형태는 명칭의 초성인 한글 자음 ‘ㅇ[이응]’을 모티브로 제작되어, 공원을 알리는 아이시스[AISAS: 주의(attention),흥미(interest), 검색(search), 행동(action), 공유(share)] 마케팅 수단으로 용이하다. 훈민정음 서체의 로고와 함께 공원의 지형적 특성을 표현하는 특징을 지니며, 레이어드 된 GREEN과 BLUE 색상으로 다채로운 공원의 이미지를 표현한다.</p>
						</div>
						<div class="btn_wrap">
							<a href="../../resources/download/olympicpark_pi_symbol.zip" target="_blank" title="새창으로 열림" class="btn_site">
								<span>올림픽공원 PI 다운로드</span>
								<i class="xi-download"></i>
							</a>
						</div>	
					</div>
					<div class="park_identity">
						<div class="pattern symbol">
							<img src="../../resources/img/sub/s6_05_symbol.png" alt="">
						</div>
						<h4 class="title_h3">시그니처</h4>
						<div class="down_wrap">
							<p class="txt">올림픽공원 PI 시그니처는 심벌마크와 로고타입의 합리적인 조합으로 대내외적으로 올림픽공원을 가장 효과적으로 인식시키는 수단이다.세로형과 가로형이 있으며 국문 · 영문 · 국영문 혼용 표기가있다. 임의 변경 없이 정확하게 사용하도록 철처한 관리가 필요하다. 심벌과 로고, 역사적 정체성을 나타내는 ‘SEOUL 1988’문구가 정해진 비율로 일관되게 사용되여야 한다.</p>
							<div class="btn_wrap">
								<a href="../../resources/download/olympicpark_pi_signature.zip" target="_blank" title="새창으로 열림" class="btn_site">
									<span>올림픽공원 시그니처 다운로드</span>
									<i class="xi-download"></i>
								</a>
							</div>	
						</div>
						<div class="pic_wrap row">
							<div class="col-sm-6">
								<div class="pattern sign">
									<h5>상하조합</h5>
									<img src="../../resources/img/sub/s6_05_sign1.png" alt="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="pattern sign">
									<h5>좌우조합</h5>
									<img src="../../resources/img/sub/s6_05_sign2.png" alt="">
								</div>
							</div>
						</div>
						
						<h4 class="title_h3">로고타입</h4>
						<div class="down_wrap">
							<p class="txt">로고타입은 심벌마크와 조합하여 사용하거나 단독으로 사용이 가능하다.
								국문 · 영문 · 국영문으로 개발되었으며 최소사용규정인 9mm미만 사용을 금한다.</p>
							<div class="btn_wrap">
								<a href="../../resources/download/olympicpark_pi_logotype.zip" target="_blank" title="새창으로 열림" class="btn_site">
									<span>올림픽공원 로고타입 다운로드</span>
									<i class="xi-download"></i>
								</a>
							</div>	
						</div>
						<div class="pic_wrap">
							<div class="pattern">
								<div class="logo">
									<h5>국문</h5>
									<img src="../../resources/img/sub/s6_05_logo1.png" alt="">
								</div>
								<div class="logo">
									<h5>영문</h5>
									<img src="../../resources/img/sub/s6_05_logo2.png" alt="">
								</div>
								<div class="logo">
									<h5>국영문</h5>
									<img src="../../resources/img/sub/s6_05_logo3.png" alt="">
								</div>
								
							</div>
						</div>
						<h4 class="title_h3">컬러시스템</h4>
						<p>공원의 자연을 상징하는 5가지 GREEN 색상과 2가지 BLUE 색상이 대표적이다.</p>
						<ul class="color_system color_system1">
							<li>
								<dl>
									<dt class="color color1">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color2">
										<i aria-hidden="true"></i>
										<strong>SHS 2050-G20Y</strong>
									<dt>
									<dd><span>C</span><em>60</em><span>M</span><em>0</em><span>Y</span><em>80</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>109</em><span>G</span><em>192</em><span>B</span><em>103</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color3">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color4">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color5">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>
						</ul>
						<ul class="color_system color_system2">
							<li>
								<dl>
									<dt class="color color1">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="color color2">
										<i aria-hidden="true"></i>
										<strong>SHS 2060-G80Y</strong>
									<dt>
									<dd><span>C</span><em>30</em><span>M</span><em>5</em><span>Y</span><em>100</em><span>K</span><em>0</em></dd>
									<dd><span>R</span><em>191</em><span>G</span><em>205</em><span>B</span><em>49</em></dd>
								</dl>
							</li>							
						</ul>
						<h4 class="title_h3">배경색 활용 및 사용금지 규정</h4>
						<p>명확한 아이덴티티 확립을 위해 WHITE 또는 BLACK 바탕에서만 사용한다.</p>
						<div class="pic_wrap rule row">
							<div class="col-sm-6">
								<div class="item item1">
									<img src="../../resources/img/sub/s6_05_rule1.png" alt="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="item item2">
									<img src="../../resources/img/sub/s6_05_rule2.png" alt="">
								</div>
							</div>
						</div>
						<div class="pic_wrap rule_not">
							<ul>
								<li>
									<div class="item item1">
										<img src="../../resources/img/sub/s6_05_rule_not1.jpg" alt="">
									</div>
								</li>
								<li>
									<div class="item item2">
										<img src="../../resources/img/sub/s6_05_rule_not2.jpg" alt="">
									</div>
								</li>
								<li>
									<div class="item item3">
										<img src="../../resources/img/sub/s6_05_rule_not3.jpg" alt="">
									</div>
								</li>
								<li>
									<div class="item item4">
										<img src="../../resources/img/sub/s6_05_rule_not4.jpg" alt="">
									</div>
								</li>
								<li>
									<div class="item item5">
										<img src="../../resources/img/sub/s6_05_rule_not5.jpg" alt="">
									</div>
								</li>
								<li>
									<div class="item item6">
										<img src="../../resources/img/sub/s6_05_rule_not6.jpg" alt="">
									</div>
								</li>
								<li>
									<div class="item item7">
										<img src="../../resources/img/sub/s6_05_rule_not7.jpg" alt="">
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--//park identity  -->
						
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>