<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub7">				
				<div class="container">
					<h2 class="title">고객센터</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">고객센터</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s7_01.html">자주하는 질문</a></li>
								<li class="active"><a href="s7_02.html">고객의 소리</a></li>
								<li><a href="s7_03.html">전자민원</a> </li>
								<li><a href="s7_04.html">정책제안</a> </li>
								<li><a href="s7_05.html">제휴제안</a> </li>
								<li><a href="s7_06.html">고객참여 예산제도</a> </li>
								<li><a href="s7_07.html">고객이용후기</a> </li>
								<li><a href="s7_08.html">유실물센터</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">고객의 소리</h3>


					<!-- //콘텐츠시작 -->
					<div class="board_box mb40">
						<img src="../../resources/img/sub/s7_icon2.png" alt="">
						<div class="txt">
							<div class="major_txt">업무상 질의, 칭찬, 불만사항 등을 자유롭게 문의해 주세요.</div>
							<div class="sub_txt mb10">올림픽공원 홈페이지는 국민체육진흥공단과 체육산업개발에서 관리하고 있습니다.</div>
							<ul class="list_dot">
								<li>문의하시기 전에 자주하는 질문에서 미리 검색해 보시기 바랍니다.</li>
								<li>등록된 게시물은 온라인민원사무처리지침에 의거하여 1일 이내에 답변을 드리며, 처리결과는 e-mail 또는 SMS로 통보해 드립니다.</li>
								<li>확인되지 않은 사실, 인신공격, 개인적 비방, 상업적 광고 등은 운영자에 의해 임의삭제 됨을 알려드립니다.</li>
							</ul>
						</div>						
					</div>
					<!-- //board_box -->

					<!-- //board 시작 -->
					<div class="board">

						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<form class="board_search">
								<fieldset class="form-row">
									<legend class="sr-only">게시글 검색</legend>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="all">전체</option>
										<option value="title">제목</option>
										<option value="regNm">등록자</option>
										<option value="regDttm">등록일자</option>
									</select>
									<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</fieldset>
							</form>
						</div>
						<!-- //board_info -->
				
						<div class="card_list col3 qna">
							<!--
							  기본갤러리형 칼럼이 세개인경우 : col3 / 리스트(li)는 6개출력
							  기본갤러리형 칼럼이 네개인경우 : col4 / 리스트(li)는 8개출력
							  웹진형 : .book_style
							  동영상형 : .media
							  qna형 : qna
							  -->
							<ul class="list_ul">
								<li class="list_li">
									<a href="s7_02_view.html" class="item">
										<div class="type">
											<strong class="kind">칭찬</strong>
											<!-- <strong class="kind">질문</strong>
											<strong class="kind">개선</strong>
											<strong class="kind">건의</strong> -->

											<span class="state state2">부서 지정</span>
											<!-- <span class="state state1">접수</span>
											<span class="state state3">처리중</span>
											<span class="state state4">답변 완료</span> -->
										</div>
										<strong class="title"><i class="xi-lock mr5"></i>테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
											예약취소 신청 24시간 되도록 변경바랍니다. </strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<span class="writer">한**</span>
											<span class="hit"><em>조회수</em>530</span>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="s7_02_view.html" class="item">
										<div class="type">
											<strong class="kind">질문</strong>
											<span class="state state1">접수</span>
										</div>
										<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
											예약취소 신청 24시간 되도록 변경바랍니다. </strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<span class="writer">한**</span>
											<span class="hit"><em>조회수</em>530</span>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="s7_02_view.html" class="item">
										<div class="type">
											<strong class="kind">개선</strong>
											<span class="state state3">처리중</span>
										</div>
										<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
											예약취소 신청 24시간 되도록 변경바랍니다. </strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<span class="writer">한**</span>
											<span class="hit"><em>조회수</em>530</span>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="s7_02_view.html" class="item">
										<div class="type">
											<strong class="kind">건의</strong>
											<span class="state state4">답변 완료</span>
										</div>
										<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
											예약취소 신청 24시간 되도록 변경바랍니다. </strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<span class="writer">한**</span>
											<span class="hit"><em>조회수</em>530</span>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="s7_02_view.html" class="item">
										<div class="type">
											<strong class="kind">질문</strong>
											<span class="state state4">답변 완료</span>
										</div>
										<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
											예약취소 신청 24시간 되도록 변경바랍니다. </strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<span class="writer">한**</span>
											<span class="hit"><em>조회수</em>530</span>
										</span>
									</a>
								</li>
								<li class="list_li">
									<a href="s7_02_view.html" class="item">
										<div class="type">
											<strong class="kind">개선</strong>
											<span class="state state4">답변 완료</span>
										</div>
										<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
											예약취소 신청 24시간 되도록 변경바랍니다. </strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
											<span class="writer">한**</span>
											<span class="hit"><em>조회수</em>530</span>
										</span>
									</a>
								</li>
				
							</ul>
						</div>
						<!-- //card_list -->
				
						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->
				
						<div class="btn_area right">
							<button type="button" class="btn">내문의 보기</button>
							<button type="button" class="btn btn_list">작성하기</button>
						</div>
				
					</div>
					<!-- //board 끝 -->
					
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>