<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub7">				
				<div class="container">
					<h2 class="title">고객센터</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">고객센터</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s7_01.html">자주하는 질문</a></li>
								<li><a href="s7_02.html">고객의 소리</a></li>
								<li><a href="s7_03.html">전자민원</a> </li>
								<li><a href="s7_04.html">정책제안</a> </li>
								<li><a href="s7_05.html">제휴제안</a> </li>
								<li><a href="s7_06.html">고객참여 예산제도</a> </li>
								<li class="active"><a href="s7_07.html">고객이용후기</a> </li>
								<li><a href="s7_08.html">유실물센터</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">고객이용후기</h3>


					<!-- //콘텐츠시작 -->
					<!-- //board 시작 -->
					<div class="board">

						<div class="board_view review">
							<div class="title"><em class="category">올림픽공원</em>주차요금에 대한 건의
							</div>
							
							<ul class="head">
								<li class="writer"><strong>작성자</strong><span>최고관리자</span></li>
								<li class="date"><strong>작성일</strong><span>2019-03-08</span></li>
								<li class="hit"><strong>조회수</strong><span>5</span></li>
								
							</ul>
				
							<div class="view_cont">
								<p>안녕하세요!
									송파구에 올공이 있어 행복합니다.<br>
									건의드릴사항은<br>
									1. 주차요금의 인상이 5월1일부터 되었는데 대중교통요금도 이른시간엔 활인을 합니다.<br>
									하물며 극장요금도 조조할인을 해 줍니다.<br>
									2. 주차요금을 꼭 카드결재만 가능한것을 현금결재도 병행을 부탁드립니다.<br>
									조속히 시행되도록 부탁드립니다.<br>
									감사합니다.<br>
									PS : 회신도 부탁드립니다.</p>
							</div>
							<!-- //view_cont -->
				
							
						</div>
						<!-- //board_view -->
						<div class="opinion_wrap">
							<div class="comment_wrap">
								<div class="cmt_form">
									<strong class="title">의견남기기</strong>
									<form name="cmtForm" method="post" action="#">
										<fieldset>
											<legend class="sr_only">등록</legend>
											<div class="memo">
												<textarea title="댓글을 등록하세요." class="comment" name="c_comment" rows="4" placeholder="댓글을 입력해 주세요"></textarea>
												<div class="memo_foot">
													<span class="num"><b class="txt_length">0</b> / 200</span>
													<button type="button" class="btn gray1  btn_popopen cmt_create" data-id="cmt_save_pop">저장</button>
												</div>	        
											</div>
										</fieldset>
									</form>
								</div><!-- //cmtForm -->
								<div class="comment_list">
									<div class="board_info">
										<strong class="title">전체의견 <em class="ml5">6건</em></strong>
									</div>
									<ul>
										<li>
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-message-o mr5"></i><span>윤수병</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>										
												<p class="comment">수고가 많으세요. 아래 내용에 대해 빠른 답변을 부탁드립니다. - 아 래 - 안녕하세요! 송파구에 올공이 있어 행복합니다. 건의드릴사항은 1. 주차요금의 인상이 5월1일부터 되었는데 대중교통요금도 이른시간엔 활인을 합니다. 하물며 극장요금도 조조할인을 해 줍니다. 2. 주차요금을 꼭 카드결재만 가능한것을 현금결재도 병행을 부탁드립니다. 조속히 시행되도록 부탁드립니다. 감사합니다. PS : 회신도 부탁드립니다</p>
												
											</div>
		
																		
										</li>	  
										
									</ul>
								</div><!-- //commentList -->
									  
							</div>
							<!-- //comment_wrap -->
		
							<div class="modal_popup_wrap cmt_save_pop">
								<div class="modal_popup">
									<div class="modal_cont">								
										<div class="txt_center">
											<i class="icon_warning" aria-hidden="true">!</i>
											<p class="desc_txt"><strong>저장 하시겠습니까?</strong></p>
										</div>
									</div>
									<div class="modal_foot">
										<button type="button" class="btn btn_cancel">취소</button>
										<button type="button" class="btn type3">확인</button>
									</div>
									<button type="button" class="modal_close"><i class="xi-close-thin" aria-hidden="true"></i><span class="sr-only">팝업닫기</span></button>
								</div>
								<!-- //modal_popup -->
							</div>
		
						</div>
						<!-- //opinion_wrap -->
				
						<div class="btn_area">
							<button type="button" onclick="upt_passCheck('1');" class="btn">수정</button>
							<button type="button" onclick="del_passCheck('1');" class="btn">삭제</button>
							<button type="button" onclick="goList(); return false;" class="btn btn_list">목록</button>
						</div>
				
						<!-- //btn_area -->
						<div class="relate_list card_list col3">			
							<div class="list_ul">
								<div class="list_li">
									<a href=""class="item">
										<strong class="title">사업계획서 정오표 및 첨부파일
											송업계획서 정오표 및 일 송부 사업 계획서 정및 첨부파일 송부 사업계획서 정오표 파일 송부 및 첨부파일 송부 사업계획서 정오표 파일 송부</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
										</span>
									</a>
								</div>
								<div class="list_li">
									<a href=""class="item">
										<strong class="title">사업계획서 정오표 및 첨부파일
											송부 사업계획서 정오표 및 첨부파일 송부 사업계획서 정오표 및 첨부파일 송부 사업계획서 정오표 및 첨부파일 송부</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
										</span>
									</a>
								</div>
								<div class="list_li">
									<a href=""class="item">
										<strong class="title">사업계획서 정오표 및 첨부파일
											송부 사업계획서 정오표 및 첨부파일 송부 사업계획서 정오표 및 첨부파일 송부 사업계획서 정오표 및 첨부파일 송부</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
										</span>
									</a>
								</div>
								<div class="list_li">
									<a href=""class="item">
										<strong class="title">사업계획서 정오표 및 첨부파일
											송부 사업계획서 정오표 및 첨부파일 송부 사업계획서 정오표 및 첨부파일 송부 사업계획서 정오표 및 첨부파일 송부</strong>
										<span class="etc_info">
											<span class="date">2018-01-19</span>
										</span>
									</a>
								</div>
							</div>
							<!-- //list_ul -->
						</div>
						<!-- //relate_list -->
				
				
					</div>
					<!--//board-->
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>