<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub7">				
				<div class="container">
					<h2 class="title">고객센터</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">고객센터</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s7_01.html">자주하는 질문</a></li>
								<li><a href="s7_02.html">고객의 소리</a></li>
								<li><a href="s7_03.html">전자민원</a> </li>
								<li><a href="s7_04.html">정책제안</a> </li>
								<li class="active"><a href="s7_05.html">제휴제안</a> </li>
								<li><a href="s7_06.html">고객참여 예산제도</a> </li>
								<li><a href="s7_07.html">고객이용후기</a> </li>
								<li><a href="s7_08.html">유실물센터</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">제휴제안</h3>


					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">개인정보 수집 및 이용에 대한 안내</p>
							<p class="sub_txt">올림픽공원은 제휴 제안 사항의 등록 시, 아래와 같이 제안자의 개인정보(기업의 경우 담당자 정보)를 수집하고 있습니다.</p>								
						</div>
					</div>
					<div class="box mb20">
						<p>1. 수집항목 : [필수] 제안자명, 연락처(전화번호), 메일주소</p>
						<p>2. 수집 및 이용목적 : 제휴 제안에 따른 연락처 정보 확인</p>
						<p>3. 보유 및 이용기간 : 제휴 제안 사항 상담서비스를 위해 검토 완료 후 1개월간 보관하며, 이후 해당 정보를 지체 없이 파기합니다.</p>
						<p>그 밖의 사항은 별도로 고지하는 개인정보처리방침을 참고해 주시기 바랍니다.</p>
					</div>
					<div class="terms_agree txt_right">                        
						<span class="custom-input">
							<input type="checkbox" name="agree" id="agreeY">
							<label for="agreeY">위 개인정보 수집 및 이용에 동의합니다.</label>
						</span>                 
					</div>
					<h4 class="title_h3">제휴제안 내용</h4>
					<div class="board">
						<ul class="write_form">
							
							<li>
								<div class="row">
									<strong class="col-sm-2 th">제휴구분</strong>
									<div class="col-sm-10 td noinput">
										서비스제휴
										<!-- 서비스 제휴, 마케팅 제휴, 공익사업 제안, 기타사업 제안 -->
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">제목<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<input class="form-control" type="text" name="title" value="" title="제목을 입력하세요" placeholder="제목을 입력하세요.">
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">제휴내용<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<textarea name="content" rows="10" title="내용을 입력하세요" class="content form-control"></textarea>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">제휴목적 및 기대효과<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<textarea name="content" rows="10" title="내용을 입력하세요" class="content form-control"></textarea>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">파일첨부</strong>
									<div class="col-sm-10 td form-row">
										<ul class="add_file">
											<li class="attach">
												<button type="button" class="input_file"><i aria-hidden="true"></i>파일첨부</button>	
												<!-- <p class="help_note"><span>jpg, gif, png</span>파일만 가능합니다.
													업로드 용량제한 <span>5MB</span></p> -->
											</li>
											<li>
												<a href="#" class="file_down">
													<img src="../img/board/file_doc.png" alt="">
													<span class="text">첨부파일명마우스오버 시.doc</span>
													<span class="file_size">(6KB)</span>
												</a>
												<button type="button" class="file_delete"><span>삭제하기</span><i class="xi-close-min" aria-hidden="true"></i></button>
											</li>
											<li>
												<a href="#" class="file_down">
													<img src="../img/board/file_img.png" alt="">
													<span class="text">154873973477000.jpg</span>
													<span class="file_size">(6KB)</span>
												</a>
												<button type="button" class="file_delete"><span>삭제하기</span><i class="xi-close-min" aria-hidden="true"></i></button>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<h4 class="title_h3">제휴제안 업체정보</h4>
					<div class="board">
						<ul class="write_form">
							<li>
								<div class="row">
									<strong class="col-sm-2 th">구분<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<ul class="custom-input mt5 mb5">
											<li><input type="radio" id="comType1" name="company_type" value=""><label for="comType1">공공기관 (정부의 투자/출자 또는 정부의 재정지원으로 설립/운영되는 기관)</label></li>
											<li><input type="radio" id="comType2" name="company_type" value=""><label for="comType2">기업</label></li>
											<li><input type="radio" id="comType3" name="company_type" value=""><label for="comType3">개인</label></li>
											<li><input type="radio" id="comType4" name="company_type" value=""><label for="comType4">기타</label></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">회사(기관)명</strong>
									<div class="col-sm-10 td form-row">
										<input class="form-control" type="text" name="title" value="" title="회사(기관)명을 입력하세요">
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">제안자명<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<input class="form-control" type="text" name="title" value="" title="제안자명을 입력하세요">
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">휴대폰번호<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td">
										<div class="form-inline">
											<select class="form-select" title="휴대폰번호를  첫번째 자리를 선택하세요">
												<option value="-">010</option>
												<option value="-">011</option>
												<option value="-">016</option>
												<option value="-">019</option>		
											</select>	
											<span class="form-term">-</span>
											<input class="form-control w30" type="text" name="title" value="" title="휴대폰번호를  두번째 자리를 입력하세요">
											<span class="form-term">-</span>
											<input class="form-control w30" type="text" name="title" value="" title="휴대폰번호를  세번째 자리를 입력하세요">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">이메일<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td">
										<div class="form-inline">
											<input class="form-control w30" type="text" name="" value="" title="이메일 아이디를 입력하세요"> 
											<span class="form-term">@</span>
											<input class="form-control w30" type="text" name="" value="" title="이메일 주소를 입력하세요">
											<select class="form-select w30 ml10" title="이메일 주소를 선택하세요">
												<option value="-">직접입력</option>
												<option value="-">naver.com</option>
												<option value="-">daum.net</option>
												<option value="-">gmail.com</option>
												<option value="-">nate.com</option>
												</select>
										</div>
										<p class="note">※ 등록하신 제안의 검토 회신 메일이 발송되오니, 수신 가능한 정확한 이메일로 등록 해주시기 바랍니다.</p>
									</div>
									
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">홈페이지 주소</strong>
									<div class="col-sm-10 td form-row">
										<input class="form-control" type="text" name="title" value="" title="홈페이지 주소를 입력하세요">
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">회사소개서</strong>
									<div class="col-sm-10 td form-row">
										<ul class="add_file">
											<li class="attach">
												<button type="button" class="input_file"><i aria-hidden="true"></i>파일첨부</button>								
												<!-- <p class="help_note"><span>jpg, gif, png</span>파일만 가능합니다.
													업로드 용량제한 <span>5MB</span></p> -->
											</li>
											<li>
												<a href="#" class="file_down">
													<img src="../img/board/file_doc.png" alt="">
													<span class="text">첨부파일명마우스오버 시.doc</span>
													<span class="file_size">(6KB)</span>
												</a>
												<button type="button" class="file_delete"><span>삭제하기</span><i class="xi-close-min" aria-hidden="true"></i></button>
											</li>
											<li>
												<a href="#" class="file_down">
													<img src="../img/board/file_img.png" alt="">
													<span class="text">154873973477000.jpg</span>
													<span class="file_size">(6KB)</span>
												</a>
												<button type="button" class="file_delete"><span>삭제하기</span><i class="xi-close-min" aria-hidden="true"></i></button>
											</li>
										</ul>
									</div>
								</div>
							</li>						
						</ul>
					</div>

					<h4 class="title_h3">유의사항</h4>
					<div class="box mb20">
						<p class="mb20">올림픽공원은 제안 사항에 관한 검토 진행 상황이나 결과에 대해 별도의 회신을 드리지 않습니다. 제안자가 자신이 제안한 사항의 폐기를 원하는 경우, 제안자는 이를 올림픽공원에 요청할 수 있으며 올림픽공원은 요청 접수 후 즉시 폐기 합니다.</p>

						<p class="mb20">올림픽공원은 제안 사항에 대해 별도의 비밀유지협약(NDA)을 체결하지 않으며, 제안자의 영업 기밀에 대한 보안 의무를 지지 않습니다. 따라서 제안하는 내용에 제안자의 영업 활동과 관련된 기밀 정보가 포함되지 않도록 주의해 주시기 바랍니다.</p>
						
						<p class="mb20">올림픽공원은 제안 사항을 성실히 검토하여 사업성이 있다고 판단하는 경우, 제안자와 협의를 통해 제휴 계약 체결 등 별도의 사업 절차를 진행하게 됩니다. 다만, 제안자가 제안한 내용은 이미 올림픽공원이 내부적으로 진행 중인 사업과 동일 또는 유사할 수 있으며, 제 3자로부터 먼저 제안 받은 내용일 수 있습니다. 따라서 올림픽공원의 제안 사항에 대한 검토 진행이 제안자와의 제휴 사업 진행을 약속드리는 것은 아니며, 제안 내용의 신규성 혹은 독창성이나 제안 내용에 대한 제안자의 우선권을 인정하는 것은 아님을 말씀 드립니다.</p>
					
						<p>올림픽공원의 사업 제휴와 무관하거나 담당자와의 면담 또는 사업 진행을 전제로 한 제안일 경우 접수가 반려될 수 있음을 양해 바랍니다.</p>
					</div>
					<div class="terms_agree mb50 txt_right">                        
						<div class="custom-input mb10">
							<input type="checkbox" name="agree2" id="agree2Y">
							<label for="agree2Y">위 상기 유의 사항을 확인하였으며, 이에 동의합니다.</label>
						</div>
						<div class="custom-input">
							<input type="checkbox" name="agree3" id="agree3Y">
							<label for="agree3Y">등록하는 제안 내용에 제안자의 영업기밀과 관련된 정보가 포함되지 않았음을 확인합니다.</label>
						</div>                 
					</div>
					<div class="btn_area">
						<button type="button" class="btn">취소</button>
						<button type="button" class="btn_submit btn">등록</button>
					</div>
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>