<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub7">				
				<div class="container">
					<h2 class="title">고객센터</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">고객센터</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s7_01.html">자주하는 질문</a></li>
								<li><a href="s7_02.html">고객의 소리</a></li>
								<li><a href="s7_03.html">전자민원</a> </li>
								<li><a href="s7_04.html">정책제안</a> </li>
								<li><a href="s7_05.html">제휴제안</a> </li>
								<li><a href="s7_06.html">고객참여 예산제도</a> </li>
								<li class="active"><a href="s7_07.html">고객이용후기</a> </li>
								<li><a href="s7_08.html">유실물센터</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">고객이용후기</h3>


					<!-- //콘텐츠시작 -->
					<!-- //board 시작 -->
					<div class="board">		
						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<form class="board_search">
								<fieldset class="form-row">
									<legend class="sr-only">게시글 검색</legend>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="">분류</option>
										<option value="">올림픽공원</option>
										<option value="">스포츠교실</option>
										<option value="">공연·행사</option>
										<option value="">평생교육원</option>
										<option value="">기타</option>
									</select>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="all">항목</option>
										<option value="title">제목</option>
										<option value="regNm">등록자</option>
										<option value="regDttm">등록일자</option>
									</select>
									<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</fieldset>
							</form>
						</div>
						<!-- //board_info -->

						<div class="board_list simple">
							<table>
								<caption>공지사항 - 번호, 분류, 제목, 작성자, 등록일, 조회수</caption>
								<colgroup>
								<col class="w6">
								<col class="w10">
								<col>
								<col class="w15">
								<col class="w15">
								<col class="w8">
								</colgroup>
								<thead class="dhead">
								<tr>
									<th scope="col">번호</th>
									<th scope="col">분류</th>
									<th scope="col" class="title">제목</th>
									<th scope="col">작성자</th>
									<th scope="col">등록일</th>
									<th scope="col">조회수</th>
								</tr>
								</thead>
								<tbody class="dbody" id="listView">
									<tr class="notice">
										<td><i class="icon_notice">공지</i></td>
										<td></td>
										<td class="title"><a href="s7_07_view.html">고객이용후기 이용안내</a></td>
										<td>관리자</td>
										<td data-title="등록일">2019/03/08</td>
										<td data-title="조회수">651</td>
									</tr>
								<tr>
									<td >3417</td>
									<td>올림픽공원</td>
									<td class="title"><a href="s7_07_view.html">곰말다리, 토성정상 관리자님 두분께 감사드립니다. <em class="cmt_num">1</em></a></td>
									<td>김다미</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								<tr>
									<td >3417</td>
									<td>올림픽공원</td>
									<td class="title"><a href="s7_07_view.html">88잔디광장 오징어게임 인형</a></td>
									<td>최웅</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								<tr>
									<td >3417</td>
									<td>공연·행사</td>
									<td class="title"><a href="s7_07_view.html">올림픽공원소나무정돈이 잘 되있고 예뻐요~ㅎㅎ </a></td>
									<td>정상희</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								<tr>
									<td >3417</td>
									<td>스포츠교실</td>
									<td class="title"><a href="s7_07_view.html">분실물 찾아주신 곽명렬 근무자님 감사합니다 </a></td>
									<td>전경민</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								<tr class="notice">
									<td >3417</td>
									<td>올림픽공원</td>
									<td class="title"><a href="s7_07_view.html">영희 조형물 기획하신 분께 할말있습니다. <em class="cmt_num">2</em></a></td>
									<td>황민서</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								<tr class="notice">
									<td >3417</td>
									<td>올림픽공원</td>
									<td class="title"><a href="s7_07_view.html">공연사업팀 직원 분께 감사전합니다</a></td>
									<td>이창희</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								<tr class="notice">
									<td >3417</td>
									<td>공연·행사</td>
									<td class="title"><a href="s7_07_view.html">바리톤김주택 생파를 마치고</a></td>
									<td>최형석</td>
									<td data-title="등록일">2019/03/08</td>
									<td data-title="조회수">651</td>
								</tr>
								
								</tbody>
							</table>
						</div>
						<!-- //board_list -->

						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->

					</div>
					<!--//board-->
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>