<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub7">				
				<div class="container">
					<h2 class="title">고객센터</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">고객센터</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s7_01.html">자주하는 질문</a></li>
								<li><a href="s7_02.html">고객의 소리</a></li>
								<li class="active"><a href="s7_03.html">전자민원</a> </li>
								<li><a href="s7_04.html">정책제안</a> </li>
								<li><a href="s7_05.html">제휴제안</a> </li>
								<li><a href="s7_06.html">고객참여 예산제도</a> </li>
								<li><a href="s7_07.html">고객이용후기</a> </li>
								<li><a href="s7_08.html">유실물센터</a> </li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">전자민원</h3>


					<!-- //콘텐츠시작 -->
					<div class="complain_center">
						<div class="box">						
							<div class="major_message">
								<img src="../../resources/img/sub/s7_icon_civil.png" alt="">
								<div class="txt_wrap">
									<div class="main_txt">
										안녕하십니까?<br>
										국민체육진흥공단 케이스포 전자민원 센터 입니다.
									</div>
									<div class="sub_txt mb10">
										이곳 전자민원센터는 고객 여러분의 의견을 보다<br>
										신중하고 정확하게 처리하기 위하여 국민체육진흥공단 감사실에서 통합 운영합니다.
									</div>
									<p>이곳에 게시되는 민원사항은 일차적으로 감사실의 검토를 거쳐 담당부서에 이관되어 처리되며,
										처리결과는 고객께서 평가하실 수 있습니다. 공단과 운영본부간 근무일이 달라 처리시간이 
										다소 지연되더라도 널리 양해해 주시기 바랍니다. 
										고객 한 분 한 분의 소리를 최우선으로 생각하는 국민체육진흥공단이 되겠습니다.
										감사합니다.
									</p>
								</div>
							</div>
						</div>
						<div class="btn_wrap">
							<a href="http://www.kspo.or.kr/kspo/main/contents.do?menuNo=200006" target="_blank" title="새창으로 열림" class="btn_site">
								<span>전자민원 신청</span>
								<i class="xi-external-link"></i>
							</a>
						</div>
					</div>
					<div class="board_box">
						<img src="../../resources/img/sub/s7_icon1.png" alt="">
						<div class="txt">
							<div class="major_txt">원하시는 정보가 없으신가요?</div>
							<div class="sub_txt">도움말이 부족하시다면 고객의 소리를 이용해 주세요.<br>
								빠른시일내 친절하게 안내해 드리겠습니다.</div>
						</div>
						<a href="" class="btn_link">
							<span>고객의소리 바로가기</span>
							<i class="xi-angle-right-min"></i>
						</a>
					</div>
					<!-- //board_box -->
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>