<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub5">				
				<div class="container">
					<h2 class="title">회원·기타</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">회원·기타</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s8_01.html">MYPAGE 회원정보</a></li>
								<li><a href="s8_02.html">회원정보수정</a></li>
								<li><a href="s8_03.html">고객의소리</a></li>
								<li><a href="s8_04.html">올림픽공원</a>
									<ul class="depth3">
										<li><a href="s8_04.html">공연예매내역</a></li>
										<li><a href="s8_04_02.html">조이올팍 회원카드</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">MYPAGE 회원정보</h3>


					<!-- //콘텐츠시작 -->
					
					<div class="mypage">
						<div class="info"></div>
						<div class="news"></div>
						<div class="partin"></div>
					</div>
					<div class="question_list">
						<h4 class="title_h4">나의 문의내용 <a href="" class="btn btn_link">모두보기<i class="xi-angle-right-min"></i></a></h4>
						<div class='table responsive'>
							<table>
								<caption>신청일자, 제목, 담당부서, 결과항목에 관한 표입니다.</caption>
								<colgroup>
									<col class='w15'>
									<col>
									<col class='w15'>
									<col class='w10'>
								</colgroup>
								<thead>
									<tr>
										<th scope='col'>신청일자</th>
										<th scope='col'>제목</th>
										<th scope='col'>담당부서</th>
										<th scope='col'>결과</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2021-11-26</td>
										<td>방송은 어디서 들으면 잘 들을 수 있을까요?</td>
										<td>공원서비스팀</td>
										<td><span class="state step3">부서지정</span></td>
									</tr>
									<tr>
										<td>2021-11-26</td>
										<td>올림픽공원 체험행사 참여는 어떻게 하나요?</td>
										<td>공원서비스팀</td>
										<td><span class="state step3">부서지정</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					
					
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>