<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub5">				
				<div class="container">
					<h2 class="title">회원·기타</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">회원·기타</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s9_01.html">회원이용약관</a></li>
								<li><a href="s9_02.html">개인정보처리방침</a></li>
								<li><a href="s9_03.html">고객서비스헌장</a></li>
								<li><a href="s9_04.html">조이올팍회원서비스</a></li>
								<li><a href="s9_05.html">올림픽공원APP소개</a></li>
								<li class="active"><a href="s9_06.html">KSPO소개</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">KSPO 소개</h3>


					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">도심속 푸른섬 올림픽공원을 관리운영하고 있는
								KSPO(케이스포, 국민체육진흥공단)은 어떤 기관일까요?</p>
						</div>
					</div>
					<div class="kspo_intro">
						<div class="bg">
							<div class="slogan">
								<strong>세계가 부러워하는<br>
									<em>스포츠 복지구현</em>을 위해!<br>
									<em>국민행복</em>을 위해!</strong>
								<p>KSPO는 마라토너처럼 묵묵히,<br>
										열심히 뛰고 있습니다.</p>
							</div>
							<img src="../../resources/img/sub/s9_10_title_bg.jpg" alt="">
						</div>
						<ul class="list">
							<li class="item row">
								<div class="img col-sm-6"><img src="../../resources/img/sub/s9_10_img1.jpg" alt=""></div>
								<div class="txt_wrap col-sm-6">
									<h4 class="title_h4">제24회 서울올림픽대회 기념과 <br>
										국민체육진흥 사업 수행</h4>
									<p>국민체육진흥공단은 제24회 서울올림픽대회를 기념하고 국민체육진흥을 위한 사업을 수행하기 위하여 문화체육관광부장관의 인가를 받아 1989년 4월 20일 공익법인으로 설립되었습니다.</p>
								</div>
							</li>
							<li class="item row">
								<div class="img col-sm-6"><img src="../../resources/img/sub/s9_10_img2.jpg" alt=""></div>
								<div class="txt_wrap col-sm-6">
									<h4 class="title_h4">스포츠 생활화로<br>
										선진 스포츠복지국가 구현</h4>
									<p>국민체육진흥공단은 대한민국 체육재정의 든든한 후원자로서 온 국민이 스포츠로 하나되고 스포츠 생활화를 통해 건강한 삶을 누릴 수 있는 선진 스포츠복지국가를 만들어 가는데 최선을 다하고 있습니다.</p>
								</div>
							</li>
							<li class="item row">
								<div class="img col-sm-6"><img src="../../resources/img/sub/s9_10_img3.jpg" alt=""></div>
								<div class="txt_wrap col-sm-6">
									<h4 class="title_h4">스포츠산업육성 및  <br>
										체육진흥·문화사업 추진</h4>
									<p>국민체육진흥공단은 대한민국을 구석구석 건강하게 하기 위해 전문체육, 생활체육, 학교체육육성을 지원하며, 스포츠산업육성 및 체육진흥/문화사업도 추진하고 있습니다.</p>
								</div>
							</li>
						</ul>						
					</div>

					<div class="kspo_site box">
						<p>국민체육진흥공단에 대한 자세한 사항은 공단 홈페이지를 참조하시기 바랍니다.</p>
						<a href="http://www.kspo.or.kr" class="btn_link" target="_blank">홈페이지 바로가기<i class="xi-angle-right-min"></i></a>
					</div>

					
					
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>