<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub5">				
				<div class="container">
					<h2 class="title">회원·기타</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">회원·기타</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s9_01.html">회원이용약관</a></li>
								<li><a href="s9_02.html">개인정보처리방침</a></li>
								<li><a href="s9_03.html">고객서비스헌장</a></li>
								<li><a href="s9_04.html">조이올팍회원서비스</a></li>
								<li class="active"><a href="s9_05.html">올림픽공원APP소개</a></li>
								<li><a href="s9_06.html">KSPO소개</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">올림픽공원APP소개</h3>


					<!-- //콘텐츠시작 -->
					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">도심속 푸른섬 올림픽공원을 내 손안에서 들여다보자!</p>
							<p class="sub_txt">올림픽공원은 약 150만㎡ 규모의 공원으로 스포츠행사, 공연 및 시민생활체육을 위한 공간으로 사용되고 있다. 
								또한 백제시대 초기유적인 몽촌해자와 몽촌토성과 광활한 잔디마당과 세계평화의문, 몽촌해자 음악분수 등이 있어, 역사, 문화, 자연, 스포츠를 한자리에서 
								모두 경험할 수 있어 하루종일 둘러봐도 시간이 부족할 때가 많다.
								올림픽공원의 아름다운 풍경에 넋을 잃다보면, 다리가 아파 목적지를 찾아가지 못하는 경우가 있다.</p>
						</div>
					</div>
					

					<h4 class="title_h3">이럴 때 올림픽공원 어플을 사용해보자.</h4>
					<div class="row app_tip">
						<div class="col-sm-6">
							<div class="item">
								<div class="phone_img mr30"><img src="../../resources/img/sub/s9_tip1.jpg" alt=""></div>
								<div class="txt_wrap">
									<strong><em class="tip">TIP 1</em><span>공원 한눈에 보기</span></strong>
									<p>공원한눈에보기는 올림픽공원에 대한 지도를 내 위치를 기점으로 불 수 있으며, 내 위치부터 목적지까지 최단거리 및 시간 등의 정보를 제공하여 길 잃을 염려 없이 제시간에 목적지에 도착할 수 있다.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="phone_img mr30"><img src="../../resources/img/sub/s9_tip2.jpg" alt=""></div>
								<div class="txt_wrap">
									<strong><em class="tip">TIP 2</em><span>공원 100배 즐기기</span></strong>
									<p>공원100배즐기기는 건강공원으로써 산책코스 및 스포츠 센터 정보를 제공하며 미로맵을 통해 애인, 가족, 건강증진, 사진촬영 등 방문목적에 따라 이용할 수 있다.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="phone_img mr30"><img src="../../resources/img/sub/s9_tip3.jpg" alt=""></div>
								<div class="txt_wrap">
									<strong><em class="tip">TIP 3</em><span>공원 4색</span></strong>
									<p>공원4색은 공원의 4가지 테마인 공연, 문화, 역사, 생태/쉼터 등의 정보를 제공하여, 공연테마를 즐길때에는 내가 가야할 공연장 주위에 가장 가까운 주차장을 안내해준다.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="phone_img mr30"><img src="../../resources/img/sub/s9_tip4.jpg" alt=""></div>
								<div class="txt_wrap">
									<strong><em class="tip">TIP 4</em><span>공원 소개</span></strong>
									<p>올림픽공원 소개 및 편의시설, 주차안내, 찾아오는 길 등 공원 이용에 필요한 다양한 정보를 제공하고 있다.</p>
								</div>
							</div>
						</div>
					</div>

					<h4 class="title_h3">설치방법</h4>
					<p class="mb30">QR코드를 스캔하여 설치하시거나 앱스토어 / Play스토어에서 '올림픽공원'을 검색하시면 다운로드 받아 설치하실 수 있습니다.</p>
					<div class="row app_install">
						<div class="col-sm-6">
							<div class="item box">
								<div class="title">
									<img src="../../resources/img/sub/s9_qr1.jpg" alt="">
									<strong>
										안드로이드폰에서 설치하기
										<small>안드로이드폰용 QR코드</small>
									</strong>
								</div>
								<ul class="list_dot mb30">
									<li>QR코드를 이용하여 구글 Play스토어에 접속 후 어플 다운로드</li>
									<li>구글 Play스토어에 접속 후  '올림픽공원'을 검색 후 다운로드</li>
								</ul>
								<img src="../../resources/img/sub/s9_app1.jpg" alt="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item box">
								<div class="title">
									<img src="../../resources/img/sub/s9_qr2.jpg" alt="">
									<strong>
										아이폰에서 설치하기
										<small>아이폰용 QR코드</small>
									</strong>
								</div>
								<ul class="list_dot mb30">
									<li>QR코드를 이용하여 애플 앱스토어에 접속 후 어플 다운로드</li>
									<li>애플 앱스토어에 접속 후 '올림픽공원'을 검색 후 다운로드</li>
								</ul>
								<img src="../../resources/img/sub/s9_app2.jpg" alt="">
							</div>
						</div>
					</div>
					
					
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>