<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	
		

			<div class="sub_visual sub5">				
				<div class="container">
					<h2 class="title">회원·기타</h2>					
				</div>
			</div><!-- //sub_visual-->

			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">회원·기타</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s9_01.html">회원이용약관</a></li>
								<li><a href="s9_02.html">개인정보처리방침</a></li>
								<li class="active"><a href="s9_03.html">고객서비스헌장</a></li>
								<li><a href="s9_04.html">조이올팍회원서비스</a></li>
								<li><a href="s9_05.html">올림픽공원APP소개</a></li>
								<li><a href="s9_06.html">KSPO소개</a></li>
							</ul>
						</nav>
					</div>	
				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">고객서비스헌장</h3>


					<!-- //콘텐츠시작 -->
					
					<div class="customer_chater">
						<div class="message_box">
							<h4>고객서비스헌장</h4>
							<p>우리 국민체육진흥공단 전 임직원은 기금조성과 체육진흥을 위한<br>
								기금지원활동을 통해 맡은바 직무를 성실하고 책임있게 수행하여 고객으로부터<br>
								사랑과 신뢰를 받을 수 있도록 다음과 같이 실천하겠습니다.</p>
						</div>
						<div class="cont_wrap">
							<dl class="list">
								<dt>우리는</dt>
								<dd>
									<p>고객의 입장에서 생각하고 행동하며 고객의 의견을 겸허히 수용하여
										업무에 최우선 반영하도록 하겠습니다.</p>
								</dd>
								<dt>우리는</dt>
								<dd>
									<p>고객이 원하는 정보를 신속하게 제공하고 제출하신 사항에 대해서는
										비밀을 보장하겠습니다.</p>
								</dd>
								<dt>우리는</dt>
								<dd>
									<p>잘못된 일처리로 인하여 고객에게 불편을 초래하였을 경우 즉시 시정하고
										재발방지를 위해 최선의 노력을 하겠습니다.</p>
								</dd>
								<dt>우리는</dt>
								<dd>
									<p>고객서비스 실천노력에 대하여 고객으로부터 정기적으로 평가받고
										그 결과를 공표하겠습니다.</p>
								</dd>
							</dl>
						</div>
						<div class="txt_center">
							<p class="mb30">이와 같은 우리의 목표를 달성하기 위하여<br>
								구체적인 서비스 이행 표준을 설정하고 이를 성실히 지킬 것을 약속드립니다.</p>
							<img src="../../resources/img/sub/s9_07_logo.png" alt="KSPO&amp;CO로고">
						</div>
						
					</div>	

					
					
					
				
					<!-- //콘텐츠 끝 -->

					
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
		

</body>

</html>