<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>올림픽공원</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
</head>

<body>
	<div id="skipNav">
		<a href="#content">본문으로 바로가기</a>
		<a href="#gnb">주메뉴 바로가기</a>
		<a href="#quick">주메뉴 바로가기</a>
	</div>

	<div id="wrap">

		<header class="header">
			<div class="gnb_site">
				<div class="container">
					<nav class="site_area">
						<div class="list">
							<a href="/" class="kspo"><span>한국체육산업개발(주)</span></a>
							<a href="/olympicpark"><span>올림픽공원</span></a>
							<a href="/sports"><span>스포츠센터</span></a>
							<a href="/boatracepark"><span>미사경정공원</span></a>
							<a href="/edu"><span>평생교육원</span></a>
							<a href="/lib"><span>지샘터 도서관</span></a>
							<a href="/recruit"><span>KSPO&amp;CO채용</span></a>
							<a href="/online/index.html" target="_blank"><span>온라인스포츠센터</span></a>
       						<a href="https://online.ksponco.or.kr/index.do" target="_blank"><span>온라인예약시스템</span></a>
						</div>
					</nav>
					<nav class="site_area_mobile">
						<a href="#" class="title" title="패밀리사이트열기">한국체육산업개발<i class="xi-angle-down-min"></i></a>  
						<div class="list_wrap">
							<div class="represent">
								<a href="" class=""><img src="../../resources/img/common/gnb_site_represent.svg" alt=""><span>한국체육산업개발(주)</span></a>
								<button type="button"><i class="xi-angle-down-min"></i></button>
							</div>
							<div class="list">
								<ul class="group1">
									<li><a href="" class=""><span>올림픽공원</span></a></li>
									<li><a href="" class=""><span>미사경정공원</span></a></li>
									<li><a href="" class=""><span>평생교육원</span></a></li>
									<li><a href="" class=""><span>지샘터도서관</span></a></li>
									<li><a href="" class=""><span>KSPO&amp;CO채용</span></a></li>
									<li><a href="" class=""><span>온라인스포츠센터</span></a></li>
									<li><a href="" class=""><span>온라인예약</span></a></li>
								</ul>  
								<ul class="group2">
									<li><a href="" class=""><span>스포츠센터</span></a></li>
									<li><a href="" class=""><span>올림픽수영장</span></a></li>
									<li><a href="" class=""><span>올림픽공원스포츠센터</span></a></li>
									<li><a href="" class=""><span>올림픽테니스장</span></a></li>
									<li><a href="" class=""><span>올팍축구장</span></a></li>
									<li><a href="" class=""><span>일산올림픽스포츠센터</span></a></li>
									<li><a href="" class=""><span>분당올림픽스포츠센터</span></a></li>
								</ul>   
							</div>   
						</div>
					</nav>

					<!-- <div class="gnb_util login">
                        <ul class="nav"> 
                            <li><a href=""><i class="icon_join"></i><span>회원가입</span></a></li>
                            <li><a href=""><i class="icon_login"></i><span>로그인</span></a></li>
                        </ul>
                    </div> -->
					<div class="gnb_util logout">
						<div class="welcome">
							<span class="name"><strong>홍길동</strong>님</span>
							<span class="text">환영합니다.</span>
						</div>
						<ul class="nav">
							<li><a href=""><i class="icon_logout"></i><span>로그아웃</span></a></li>
							<li><a href=""><i class="icon_mypage"></i><span>MY페이지</span></a></li>
						</ul>
					</div>
				</div>
				<!-- //container -->
			</div>
			<!-- //gnb_site -->

			<div class="gnb_area">
				<div class="container">
					<h1 class="logo">
						<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
					</h1>
					<div class="gnb_wrap">
						<nav class="nav" id="gnb">
							<h2 class="pop_title">사이트맵</h2>
							<span class="pop_eng_title" lang="en">Site map</span>
							<ul id="head_menu" class="topmenu">
								<li class="depth1">
									<a href="s1_01.html"><span>공원가이드</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">공원가이드</h3>
											<em lang="en">Park Guide </em>
										</div>
										<ul class="depth2">
											<li><a href="s1_01.html">공원이용정보</a></li>
											<li><a href="s1_02.html">공원안내도</a> </li>
											<li><a href="s1_03.html">공원사이버투어</a> </li>
											<li><a href="s1_04.html">놀이시설</a>
												<ul class="depth3">
													<li><a href="s1_04.html">호돌이열차</a></li>
													<li><a href="s1_04_02.html">자전거대여</a></li>
												</ul>
											</li>
											<li><a href="s1_05.html">체육시설</a> </li>
											<li><a href="s1_06.html">편의시설</a>
												<ul class="depth3">
													<li><a href="s1_06.html">공원이용시설</a></li>
													<li><a href="s1_06_02.html">공원편의시설</a></li>
													<li><a href="s1_06_03.html">유실물센터</a></li>
													<li><a href="s1_06_04.html">편의시설 위치찾기</a></li>
												</ul>
											</li>
											<li><a href="s1_07.html">올림픽공원9경</a>
												<ul class="depth3">
													<li><a href="s1_07.html">올림픽공원9경</a></li>
													<li><a href="s1_07_02.html">9경 스탬프 투어</a></li>
												</ul>
											</li>
											<li><a href="s1_08.html">사랑나무연리목</a> </li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s2_01.html"><span>체육공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">체육공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s2_01.html">스포츠교실</a>
												<ul class="depth3">
													<li><a href="s2_01.html">올림픽스포츠센터</a></li>
													<li><a href="s2_02.html">올림픽수영장</a></li>
												</ul>
											</li>
											<li><a href="s2_02.html">산책/조깅코스</a>

											</li>
											<li><a href="s2_03.html">생활건강시설</a></li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s3_01.html"><span>문화공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">문화공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s3_01.html">조이올팍 공연/행사안내</a>
												<ul class="depth3">
													<li><a href="s3_01.html">일정안내</a></li>
													<li><a href="s3_01_02.html">예매안내</a> </li>
													<li><a href="s3_01_03.html">공연장안내</a></li>
													<li><a href="s3_01_04.html">좌석배치안내</a> </li>
													<li><a href="" target="_blank">시설대관</a></li>
													<li><a href="s3_01_06.html">공연포스터 전시관</a> </li>
												</ul>
											</li>
											<li><a href="s3_02.html" target="_blank">올림픽홀 평생교육원</a> </li>
											<li><a href="s3_03.html">문화/예술시설</a>
												<ul class="depth3">
													<li><a href="s3_03.html">서울올림픽기념관</a></li>
													<li><a href="s3_03_02.html">소마미술관</a></li>
												</ul>
											</li>
											<li><a href="s3_04.html">조각작품갤러리</a>
												<ul class="depth3">
													<li><a href="s3_04.html">조각공원 안내</a></li>
													<li><a href="s3_04_02.html">조각공원 맵</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s4_01.html"><span>생태공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">생태공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s4_01.html">생태공원소개</a></li>
											<li><a href="s4_02.html">잔디시설안내</a></li>
											<li><a href="s4_03.html">장미광장</a>
												<ul class="depth3">
													<li><a href="s4_03.html">장미광장소개</a></li>
													<li><a href="s4_03_02.html">장미광장현황</a></li>
													<li><a href="s4_03_03.html">장미관람안내</a></li>
													<li><a href="s4_03_04.html">둘러보기</a></li>
												</ul>
											</li>
											<li><a href="s4_04.html">생태공원 갤러리</a></li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s5_01.html"><span>역사공간</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">역사공간</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s5_01.html">올팍조성과 운영</a>
												<ul class="depth3">
													<li><a href="s5_01.html">공원조성배경</a></li>
													<li><a href="s5_01_02.html">비전과 미래</a></li>
													<li><a href="s5_01_03.html">평화의성지 올팍</a></li>
												</ul>
											</li>
											<li><a href="s5_02.html">몽촌역사이야기</a></li>
											<li><a href="s5_03.html">주변유적지안내</a>
												<ul class="depth3">
													<li><a href="s5_03.html">한성백제박물관</a></li>
													<li><a href="s5_03_02.html">몽촌역사관</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s6_01.html"><span>알림·홍보</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">알림·홍보</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s6_01.html">올팍소식</a></li>
											<li><a href="s6_02.html">보도자료</a></li>
											<li><a href="s6_03.html">홍보동영상</a> </li>
											<li><a href="s6_04.html">포토갤러리</a> </li>
											<li><a href="s6_05.html">PI소개</a> </li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="s7_01.html"><span>고객센터</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">고객센터</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="s7_01.html">자주하는 질문</a></li>
											<li><a href="s7_02.html">고객의 소리</a></li>
											<li><a href="s7_03.html">전자민원</a> </li>
											<li><a href="s7_04.html">정책제안</a> </li>
											<li><a href="s7_05.html">제휴제안</a> </li>
											<li><a href="s7_06.html">고객참여 예산제도</a> </li>
											<li><a href="s7_07.html">고객이용후기</a> </li>
											<li><a href="s7_08.html">유실물센터</a> </li>
										</ul>
									</div>
								</li>
								<li class="depth1">
									<a href="etc_01.html"><span>회원/기타</span></a>
									<div class="submenu">
										<div class="title_area">
											<h3 class="title">회원/기타</h3>
											<em lang="en">Eng</em>
										</div>
										<ul class="depth2">
											<li><a href="etc_01.html">MYPAGE 회원정보</a></li>
											<li><a href="etc_02.html">회원정보수정</a></li>
											<li><a href="etc_03.html">고객의소리</a></li>
											<li><a href="etc_04.html">올림픽공원</a>
												<ul class="depth3">
													<li><a href="etc_04.html">공연예매내역</a></li>
													<li><a href="etc_04_02.html">조이올팍 회원카드</a></li>
												</ul>
											</li>
											<li><a href="etc_05.html">회원이용약관</a></li>
											<li><a href="etc_06.html">개인정보처리방침</a></li>
											<li><a href="etc_07.html">고객서비스헌장</a> </li>
											<li><a href="etc_08.html">조이올팍회원 서비스</a> </li>
											<li><a href="etc_09.html">올림픽공원 APP소개</a> </li>
											<li><a href="etc_10.html">KSPO소개</a> </li>
											<li><a href="ect_11.html">마이페이지</a> </li>
										</ul>
									</div>
								</li>
							</ul>
							<button type="button" class="pop_close"><i class="xi-close"></i><span class="sr-only">전체메뉴
									레이어 닫기</span></button>
						</nav>
					</div>
					<div class="btn_wrap">
						<a href="../eng/index.html" class="btn_lang">
							<span>English</span>
						 </a>
                        <button class="btn_sch_open">
							<i class="xi-search"></i><span class="sr-only">검색버튼</span><!-- 모바일 검색버튼-->
						</button>
						<div class="sch_layer">
							<form class="sch_form" name="sch_form" id="schForm">
								<label for="allKeyWord" class="title sr-only">통합검색</label>
								<input type="text" name="allKeyWord" id="allKeyWord" placeholder="검색어를 입력해주세요">
								<button id="btnSch" class="btn_sch">
									<i class="xi-search"></i><span class="sr-only">검색버튼</span>
								</button>
							</form>
							<button type="button" class="btn_sch_close">
								<i class="xi-close-thin"></i><span class="sr-only">검색 닫기</span>
							</button>
						</div><!-- //sch_layer -->
						<button type="button" class="btn_allmenu"><span class="sr-only">전체메뉴보기</span><i class="icon"
								aria-hidden="true"></i></button>
					</div>
				</div>
				<!-- //container -->
			</div>
			<!-- //gnb_area -->
		</header>

		<main class="main">
			<div id="quick" class="quick">
				<h2><i aria-hidden="true"></i><span><em lang="en">Quick</em>올팍</span></h2>
				<nav>
					<ul>
						<li class="item_1"><a href=""><i></i><span>사이버<br>투어</span></a></li>
						<li class="item_2"><a href=""><i></i><span>공원<br>안내도</span></a></li>
						<li class="item_3"><a href=""><i></i><span>공연<br>행사</span></a></li>
						<li class="item_4"><a href=""><i></i><span>제휴</span></a></li>
						<li class="item_5"><a href=""><i></i><span>교통<br>주차</span></a></li>
						<li class="item_6"><a href=""><i></i><span>편의<br>시설</span></a></li>
						<li class="item_7"><a href=""><i></i><span>대관<br>예약</span></a></li>
					</ul>
				</nav>
			</div>
			<!-- //quick -->
			
			<div class="acctoggle">
                <button type="button" class="acctoggle_contrast">
                    <i class="icon_contrast" aria-hidden="true"></i>
                    <span>흑백모드</span>
                </button>
                <button type="button" class="acctoggle_fontsize">
                    <i class="icon_fontsize" aria-hidden="true"></i>
                    <span>글자크기</span>
                </button>
            </div>
			<!-- //acctoggle -->

			<div class="sub_visual sub1">				
				<div class="container">
					<h2 class="title">공원가이드</h2>
					<nav class="breadcrumbs">
						<ul>
							<li><a href=""><i class="xi-home-o"></i><span class="sr-only">Home</span></a></li>
							<li><span>공원가이드</span></li>
							<li><span>놀이시설</span></li>
							<li><strong class="current">호돌이열차</strong></li>
						</ul>
					</nav>
					<div class="util">
						<div class="sns">
							<button class="sns_btn"><span class="sr-only">SNS공유</span><i
									class="xi-share-alt-o"></i></button>
							<div class="sns_list">
								<ul id="share">
									<li class="sns_icon01"><a href="#share" onclick="snsApi('facebook'); return false;"
											title="페이스북 공유(새창)"><span class="sr-only">페이스북</span><i
												class="xi-facebook"></i></a></li>
									<li class="sns_icon02"><a href="#share" onclick="snsApi('twitter'); return false;"
											title="트위터 공유(새창)"><span class="sr-only">트위터</span><i
												class="xi-twitter"></i></a></li>
									<!-- <li class="sns_icon03"><a href="#share" onclick="snsApi('blog'); return false;" title="블로그 공유 (새창)"><span class="sr-only">블로그</span><i class="xi-naver"></i></a></li> -->
									<li class="sns_icon04"><a href="#share" onclick="snsApi('kakao'); return false;"
											title="카카오스토리 공유(새창)"><span class="sr-only">카카오스토리</span><i
												class="xi-kakaostory"></i></a></li>
									<li class="sns_icon05"><a href="#"><span class="sr-only">URL공유</span><i
												class="xi-link"></i></a></li>
								</ul>
							</div>
						</div>
						<!--//sns-->
						<a href="javascript:window.print();" class="print_btn"><span class="sr-only">프린트하기</span><i
								class="xi-print"></i></a>
						
					</div>
					<!-- //util -->
				</div>
			</div><!-- //sub_visual-->
			<div class="snb_content_wrap container">
				<section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">공원가이드</h2>
						<nav class="nav">
							<ul id="left_menu_top" class="depth2">
								<li><a href="s5_01.html">공원이용정보</a></li>
								<li><a href="s5_02.html">PI소개</a>
									<ul class="depth3">
										<li><a href="s5_02.html">PI소개</a></li>
										<li><a href="s5_02_02.html">마스코트</a></li>

									</ul>
								</li>
								<li><a href="s5_03.html">공원안내도</a> </li>
								<li><a href="s5_04.html">공원사이버투어</a> </li>
								<li class="active"><a href="s5_05.html">놀이시설</a>
									<ul class="depth3">
										<li class="active"><a href="s5_05.html">호돌이열차</a></li>
										<li><a href="s5_05_02.html">자전거대여</a></li>

									</ul>
								</li>
								<li><a href="s5_06.html">체육시설</a> </li>
								<li><a href="s5_07.html">편의시설</a>
									<ul class="depth3">
										<li><a href="s5_07.html">공원이용시설</a></li>
										<li><a href="s5_07_02.html">공원편의시설</a></li>
										<li><a href="s5_07_03.html">유실물센터</a></li>
									</ul>
								</li>
								<li><a href="s5_08.html">올림픽공원9경</a>
									<ul class="depth3">
										<li><a href="s5_08.html">올림픽공원9경</a></li>
										<li><a href="s5_08_02.html">9경 스탬프투어</a></li>
										<li><a href="s5_08_03.html">사랑나무 연리목</a></li>
									</ul>
								</li>
								<li><a href="s5_09.html">교통 및 주차안내</a> </li>
							</ul>
							<!-- <ul  class="depth2">
								<li><a href="">공원이용정보</a></li>
								<li class="active"><a href="">놀이시설</a>
									<ul class="depth3">
										<li class="active"><a href="">호돌이열차</a></li>
										<li><a href="">자전거대여</a></li>
									</ul>
								</li>
								<li><a href="">편의시설</a>
									<ul class="depth3">
										<li><a href="">공원이용시설</a></li>
										<li><a href="">공원편의시설</a></li>
										<li><a href="">유실물센터</a></li>
										<li><a href="">편의시설 위치찾기</a></li>
									</ul>
								</li>
								<li><a href="">교통 및 주차안내</a></li>
							</ul> -->
						</nav>
					</div>					

				</section>
				<!-- //snb -->

				<div id="content" class="content_section">
					<h3 class="title_h1">강좌소개</h3>
					<nav>
						<ul class="depth4">
							<li title="비활성 탭메뉴" class="">
								<a href="">장미화단 안내</a>
							</li>
							<li class="active" title="선택된 탭메뉴">
								<a href="">시설안내</a>
							</li>
						</ul>
					</nav>

					<div class="major_message">
						<div class="txt_wrap">
							<p class="main_txt">올림픽공원의 명물 호돌이열차를 운행하고 있습니다.</p>
							<p class="sub_txt">올림픽공원의 명물인 호돌이열차를 타시면, 공원 내부를 순환하면서 여러 시설물 및 미술품 등을 감상하실 수 있습니다.</p>
						</div>
						<div class="btn_wrap">
							<a href="https://www.ksponco.or.kr/online/train/index.do" target="_blank" title="새창으로 열림" class="btn_site type2">
								<span>위치보기</span>
								<i class="xi-map-o" aria-hidden="true"></i>
							</a>
							<a href="https://www.ksponco.or.kr/online/train/index.do" target="_blank" title="새창으로 열림" class="btn_site">
								<span>바로가기</span>
								<i class="xi-external-link" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<figure class="pic">
						<img src="../../resources/img/sub/s5_03_pic1.jpg" alt="">
						<img src="../../resources/img/sub/s5_03_pic2.jpg" alt="">
					</figure>

					<h4 class="title_h2">탭</h4>
					<div class="tab_wrap mb30">
						<ul class="basic_tab tabs"><!--// 디자인:basic_tab, 기능:tabs -->
							<li class="active">
								<a href="#map01" class="tab_nav" title="선택된 탭메뉴">호반의 길</a>
							</li>
							<li>
								<a href="#map02" class="tab_nav" title="비활성 탭메뉴">토성의 길</a>
							</li>
							<li>
								<a href="#map03" class="tab_nav" title="비활성 탭메뉴">추억의 길</a>
							</li>
						</ul>
						<div class="tab_cont_wrap park_map">
							<div class="tab_cont" id="map01"><!--// 슬라이드일 경우 slide_tab-cont -->
								<div class="map">
									<img src="../../resources/img/sub/s2_02_road1_course.png" alt="">
								</div>
							</div>
							<div class="tab_cont" id="map02">
								<div class="map">
									<img src="../../resources/img/sub/s2_02_road2_course.png" alt="">
								</div>
							</div>
							<div class="tab_cont" id="map03">
								<div class="map">
									<img src="../../resources/img/sub/s2_02_road3_course.png" alt="">
								</div>
							</div>
						</div>
					</div>

					<p>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화 전문기관을 모집하오니 많은
						참여를 바랍니다.전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화 전문기관을
						모집하오니 많은 참여를 바랍니다.</p>

					<h4 class="title_h2">p_dot</h4>
					<p class="p_dot">전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화
						전문기관을 모집하오니 많은 참여를 바랍니다.전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이
						가능한 기술사업화 전문기관을 모집하오니 많은 참여를 바랍니다.</p>
					<h4 class="title_h2">list_dot</h4>	
					<ul class="list_dot">
						<li>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이</li>
						<li>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이</li>
						<li>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이</li>
					</ul>

					<p class="p_dot">전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화
						전문기관을 모집하오니 많은 참여를 바랍니다.전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이
						가능한 기술사업화 전문기관을 모집하오니 많은 참여를 바랍니다.</p>
					<h4 class="title_h2">list_dash</h4>	
					<ul class="list_dash">
						<li>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이</li>
						<li>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이</li>
						<li>전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이</li>
					</ul>
					<h4 class="title_h2">테이블</h4>	
					<h5 class="title_h3">table.responsive : 칼럼수가 많을 경우 모바일에서 스크롤이 생기도록 할경우  </h5>					
					<div class="table responsive">
						<table>
							<caption>순번,개인정보파일의 명칭, 처리목적, 개인정보파일에 기록되는 개인정보의 항목에 관한 표입니다.</caption>
							<colgroup>
								<col class="w10">
								<col class="w15">
								<col class="w15">
								<col>

							</colgroup>

							<thead>
								<tr>
									<th scope="col" class="tw5">순번</th>
									<th scope="col" class="tw10">개인정보 <br>파일의 명칭 </th>
									<th scope="col" class="tw10">처리목적</th>
									<th scope="col" class="tw20">개인정보파일에 기록되는<br>개인정보의 항목</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>회원정보DB</td>
									<td>회원 서비스 이용</td>
									<td class="align_left">교육번호, 이름, 생년월일, 아이디, 비밀번호, 비밀번호확인, 이메일, 휴대폰, 주소, 업종, 업체명, 업체연락처, 업체주소</td>
								</tr>
								<tr>
									<td>2</td>
									<td>교육생수료정보</td>
									<td>교육생 수료 처리</td>
									<td class="align_left">교육번호, 이름, 생년월일, 아이디, 비밀번호, 비밀번호확인, 이메일, 휴대폰, 주소, 업체명, 업체연락처, 업체주소, 수료내역(업종, 등록일,
										수료일, 기간, 시간, 평가점수, 업체자료)</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //table -->
					<div class="table left">
						<table>
							<caption>순번,개인정보파일의 명칭, 처리목적, 개인정보파일에 기록되는 개인정보의 항목에 관한 표입니다.</caption>
							<colgroup>
								<col class="w20">
								<col>
							</colgroup>

							<tbody>
								<tr>
									<th scope="row">기업명</th>
									<td>회원정보DB</td>
								</tr>
								<tr>
									<th scope="row">대표자</th>
									<td>교육번호, 이름, 생년월일, 아이디, 비밀번호, 비밀번호확인, 이메일, 휴대폰, 주소, 업체명, 업체연락처, 업체주소, 수료내역(업종, 등록일,
										수료일, 기간, 시간, 평가점수, 업체자료)</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //table -->

					
					<h5 class="title_h3">노트</h5>
					<div class="mb50">
						<p class="note">
							전통제조기업이 디지털전환으로 <strong class="point">새로운 비즈니스를 창출</strong>하고 <strong class="point2">기업경쟁력을 갖춰 도약</strong>할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화 전문기관을 모집하오니 많은
							참여를 바랍니다.전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화 전문기관을
							모집하오니 많은 참여를 바랍니다.
						</p>
						<p class="note icon_note">
							전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화 전문기관을 모집하오니 많은
							참여를 바랍니다.전통제조기업이 디지털전환으로 새로운 비즈니스를 창출하고 기업경쟁력을 갖춰 도약할 수 있도록 지원기업과 함께 사업화 컨설팅 수행이 가능한 기술사업화 전문기관을
							모집하오니 많은 참여를 바랍니다.
						</p>
						
					</div>
					
					<h5 class="title_h3">버튼</h5>
					<button class="btn btn_sm">btn_sm<i class="xi-download"></i></button>
					<button class="btn">btn<i class="xi-download ml30"></i></button>
					<button class="btn type1">btn<i class="xi-download ml10"></i></button>
					<button class="btn type2">btn<i class="xi-download ml10"></i></button>
					<button class="btn btn_md type3 ml10">btn_md</button>
					<button class="btn btn_lg type4 ml10">btn_lg <i class="xi-angle-right-min"></i></button>
					<button class="btn btn_lg type5 icon_end ml10">.btn_lg.icon_end <i class="xi-angle-right-min"></i></button>

					<div class="btns mt50">
						<button class="btn btn_md gray1">gray1</button>
						<button class="btn btn_md gray2">gray2</button>
					</div>

					<h5 class="title_h3">팝업</h5>
					<button class="btn btn_md btn_popopen" data-id="popup1">팝업1</button>
					<button class="btn btn_md btn_popopen" data-id="popup2">팝업2</button>


					<div class="title_head mt40">
						<h4 class="title_h3 mt0">타이틀 우측에 버튼</h4>
						<div class="btns jc-end mb10">
							<a href="" class="btn btn_sm">좌석배치도 확대보기<i class="xi-angle-right-min" aria-hidden="true"></i></a>
							<a href="" class="btn btn_sm">다운받기<i class="xi-angle-right-min" aria-hidden="true"></i></a>
						</div>
					</div>

					<h5 class="title_h3">폼</h5>
					<div class="form-row mb10">
						<input type="text" class="form-control mr10">
						<input type="text" class="form-control mr10">
						<select class="form-select w20">
							<option value="">선택</option>
							<option value="">선택</option>
						</select>
					</div>
					<div class="form-inline mb10">
						<input type="text" class="form-control mr10">
						<select class="form-select">
							<option value="">선택</option>
							<option value="">선택</option>
						</select>
					</div>
					<div class="form-row mb10">
						<span class="custom-input"><input type="radio" name="radio1" id="radioY"><label for="radioY">동의</label></span>
						<span class="custom-input"><input type="radio" name="radio1" id="radioN"><label for="radioN">비동의</label></span>
					</div>
					<div class="form-row mb10">
						<span class="custom-input"><input type="checkbox" id="allCheck"><label for="allCheck">전체동의</label></span>
					</div>

					<!-- datepicker -->
					<!-- jquery ui CSS -->
					<link rel="stylesheet" href="../../resources/jquery/ui.core.css">
					<!-- jquery ui JS -->
					<script src="../../resources/jquery/jquery-ui.min.js"></script>
					<script>
						$(function () {
							$.datepicker.setDefaults({
								monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
								dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
								dateFormat: 'yy/mm/dd',
								showMonthAfterYear: true,
								changeYear: true,
								changeMonth: true,
								yearRange: "c-100:c+10",
								showOn: 'both'
							});
							$("#sdate").datepicker({
								buttonText: '<i class="icon_calendar" title="시작일"></i>'
							});
							$("#edate").datepicker({
								buttonText: '<i class="icon_calendar" title="종료일"></i>'
							});
						});
					</script>
					<div class="form-inline">
						<input type="text" name="sdate" id="sdate" value="2019/04/02" maxlength="10" title="시작일을 입력하세요."
							class="form-control input_date">
						<span class="form-term"> - </span>
						<input type="text" name="edate" id="edate" value="2019/04/02" maxlength="10" title="종료일을 입력하세요."
							class="form-control input_date">
					</div>
					<!-- //datepicker -->
					


                    <!-- //table -->

					<div class="modal_popup_wrap popup1">                             
						<div class="modal_popup">
							<h4 class="modal_title">팝업1 타이틀</h4>
							<div class="modal_cont">
								<!--<i class="xi-warning"></i> 경고 아이콘을 사용하려면 주석을 해제하세요-->
								<p>팝업 콘텐츠 영역으로 기본 왼쪽 정렬, 가운데 정렬하려면 .txt_center 클래스 이용하세요.</p>
							
							</div>
							<div class="modal_btns">
								<button type="button" class="btn btn_cancel">취소</button>
								<button type="button" class="btn type3">확인</button>
							</div>
							<button type="button" class="modal_close"><i class="xi-close-thin"></i><span class="sr-only">팝업닫기</span></button>
						</div>
					</div>
					<!-- //modal_popup -->
					<div class="modal_popup_wrap popup2">                             
						<div class="modal_popup">
							<h4 class="modal_title">팝업2 타이틀</h4>
							<div class="modal_cont">
								<!--<i class="xi-warning"></i> 경고 아이콘을 사용하려면 주석을 해제하세요-->
								<p>팝업 콘텐츠 영역으로 기본 왼쪽 정렬, 가운데 정렬하려면 .txt_center 클래스 이용하세요.</p>
							
							</div>
							<div class="modal_btns">
								<button type="button" class="btn btn_cancel">취소</button>
								<button type="button" class="btn type3">확인</button>
							</div>
							<button type="button" class="modal_close"><i class="xi-close-thin" aria-hidden="true"></i><span class="sr-only">팝업닫기</span></button>
						</div>
					</div>
					<!-- //modal_popup -->




					<section class="cont_info">
						<div class="kogl">
							<img src="../../resources/img/common/open_type04.jpg" alt="공공누리 제 4유형">
							본 저작물은 <strong class="point">공공누리 제 4유형: 출처표시 +  상업적 이용금지  + 변경금지"</strong> 조건에 따라 이용할 수 있습니다.	
						</div>
						<ul class="incharge">
							<li><strong>관리부서</strong><span>미디어홍보팀</span></li>
							<li><strong>담당자</strong><span>안길동</span></li>
							<li><strong>전화번호</strong><span>02-000-0000</span></li>
						</ul>
						<div class="satisfaction_survey">
							<div class="row">
								<div class="col-sm-6 title"><i class="xi-comment-o"></i><span class="txt">이 페이지에서 제공하는 정보에 대하여 어느정도 만족하셨습니까?</span></div>							
								<ul class="col-sm-6 radio_list custom-input">
									<li><input type="radio" id="satisfy05" name="grade" value="5" title="매우만족 선택"><label for="satisfy05">매우만족</label></li>
									<li><input type="radio" id="satisfy04" name="grade" value="4" title="만족 선택"><label for="satisfy04">만족</label></li>
									<li><input type="radio" id="satisfy03" name="grade" value="3" title="보통 선택"><label for="satisfy03">보통</label></li>
									<li><input type="radio" id="satisfy02" name="grade" value="2" title="불만족 선택"><label for="satisfy02">불만족</label></li>
									<li><input type="radio" id="satisfy01" name="grade" value="1" title="매우불만족 선택"><label for="satisfy01">매우불만족</label></li>
								</ul>								
							</div>
							<div class="opinion">
								<input type="text" id="" name="" class="form-control" title="만족도 입력" placeholder="의견을 남겨주세요."> <button type="submit" class="btn">등록</button>
							</div>
						</div>
					</section>
					<!-- //cont_info -->
				</div>
				<!-- //content -->
			</div>
			<!-- //snb_content_wrap -->
			<button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>
		</main>
		<footer class="footer">
			<div class="container">
				<nav class="footer_nav">
					<a href="#"><strong>개인정보처리방침</strong></a>
					<a href="#">오시는길</a>
					<a href="#">전화번호 안내</a>
					<a href="#">이용약관</a>
					<a href="#">이메일무단수집거부</a>
					<a href="#">저작권정책</a>
				</nav>
				<div class="footer_cont">
					<div class="cont_left">
						<div class="footer_logo">
							<a href="index.html" class="link"><span class="sr-only">올림픽공원</span></a>
						</div>
						<div class="address_group">
							<address>
								서울특별시 송파구 올림픽로 424<br>
								<strong>Tel</strong> <a href="tel:02-410-1114">02-410-1114</a>
								<strong>Fax</strong> <a href="tel:02-410-1988">02-410-1988</a>
							</address>
							<nav class="sns_list">
								<a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
								<a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
								<a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
								<a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
								<a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
							</nav>
							<span class="copyright">COPYRIGHT 2021 BY KSPO All RIGHTS RESERVED.</span>
						</div>
					</div>
					<!-- //cont_left -->
					<div class="cont_right">                    
						<div class="relate_site">
							<a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-angle-up-min"></i></a>                        
							<ul class="list">
								<li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
								<li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
								<li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
								<li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
								<li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
								<li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
								<li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
								<li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
								<li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
								<li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
								<li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
								<li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
								<li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
							</ul>
						</div>
						<!-- //relate_site -->
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"><span>웹접근성<br>품질인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"><span>굿콘텐츠<br>서비스인증</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"><span>품질/환경<br>ISO9001/14001</span></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"><span>화장실 문화<br>품질인증</span></a>
						</div>
						<!-- //cert -->
					</div>
					<!-- //cont_right -->
				</div>
				<!-- //footer_cont -->

			</div>
			<!-- //container -->
		</footer>
	</div>

</body>

</html>